[2018-07-10 10:14] tatlacas commented on #3004
Setting RetainInstance to false resolves this problem.

[2018-07-10 10:14] #3004 closed

[2018-07-10 18:15] kmjonmastro commented on #2991
We are seeing a related issue after updating from MvvmCross 5.* to 6.1 below is the stack trace from google play.

`java.lang.IllegalArgumentException:
  at android.os.Parcel.readException (Parcel.java:1963)
  at android.os.Parcel.readException (Parcel.java:1905)
  at android.app.IActivityManager$Stub$Proxy.isTopOfTask (IActivityManager.java:9036)
  at android.app.Activity.isTopOfTask (Activity.ja

[2018-07-11 15:10] #2984 closed

[2018-07-11 15:12] martijn00 commented on #2977
Can you make a PR to fix this?

[2018-07-11 15:13] martijn00 commented on #2968
Can you make a reproduction repo for this?

[2018-07-11 15:20] martijn00 commented on #2963
It sounds like you don't use the `MvxAppCompatDialogFragment` correctly. Can you make a reproduction repo for this?

[2018-07-11 15:20] #2952 closed

[2018-07-11 15:23] #2950 closed

[2018-07-12 08:51] #2621 closed

[2018-07-12 15:01] kjeremy opened #3008 "MvxAutoCompleteTextView PartialText never changes after initial setting"
## 🐛 Bug Report

### Expected behavior
PartialText's binding should change when the user types

### Reproduction steps
Create MvxAutoCompleteTextView and bind PartialText.
Type some stuff.

### Configuration

**Version:** 6.x

**Platform:**
- [ ] :iphone: iOS
- [X] :robot: Android
- [ ] :checkered_flag: WPF
- [ ] :earth_americas: UWP
- [ ] :apple: MacOS
- [ ] :tv: tvOS
- [ ] :monkey: Xamarin.Forms

[2018-07-12 15:12] #2833 closed

[2018-07-12 15:12] #2924 closed

[2018-07-13 12:00] carlosmacmar opened #3010 "Does MVVMCross have translucent bar?"
## 💬 Questions and Help

Hi, I would like to know if MVVMCross have any kind of method to turn the toolbar translucent, so I can see the picture behind it.

Thank you!

[2018-07-13 12:05] gentledepp commented on #2069
Hello!

Actually, I guess it is quite possible to ease-in the feature of resolving an
[code]

Then we only need to additionally register an IEnumerable<TInterface> like so:
[code]

The full implementation of ExtendedMvxIocProvider looks as follows;
[code]

What do you think of this?

[2018-07-15 14:19] andrechi1 commented on #3000
The error is produced in this line

_tableViewSource.GetType().GetProperty("ItemsSource");

I do not understand why this error has now occurred, when this is not touched from 2016.

[2018-07-15 20:52] Cheesebaron commented on #3010
Please use [Slack #mvvmcross](https://xamarinchat.herokuapp.com/) or [StackOverflow](https://stackoverflow.com/questions/tagged/mvvmcross) for questions. Github is meant to be used for bugs and feature requests only.

That being said. Toolbars, navigation bars etc are all View concerns and are all up to you to handle. Turning a toolbar transparent is something you control in your Theme on Android.

[2018-07-15 20:52] #3010 closed

[2018-07-16 08:31] rshestakou commented on #3000
Same problem here, are there any ideas of when it will be fixed?

[2018-07-16 11:04] Cheesebaron commented on #3000
I'll have a look later today if I can find the time.

I suspect that it is getting confused about the generic and non generic version of `ItemsSource`

[2018-07-16 11:55] rshestakou commented on #3000
@Cheesebaron Ok great, thanks, will wait for feedback on this one.

[2018-07-16 19:00] MartinZikmund opened #3012 "Deadlock after configuration change in Xamarin.Forms"
## 🐛 Bug Report

I have discovered a deadlock issue that prevents MvvmCross.Forms from handling configuration changes on Android (but could prove problematic in other places as well, actually even in non-Forms projects).

### Expected behavior

When I put MvvmCross app in split view mode or freeform mode on Android, the app should reinitialize and work as expected.

### Actual behavior

When app i

[2018-07-16 23:51] SOFSPEEL opened #3014 "App not starting properly when App is start via Activity"
## 🐛 Bug Report
I have not been able to reproduce this bug in my development environment, but our production app are generating crash reports that Mvx.Resolve - i.e stuff that should resolve is returning null.

I know in Mvx 6.x the startup logic was changed and in particular I'm referring to this code here:
https://github.com/MvvmCross/MvvmCross/blob/develop/MvvmCross.Android.Support/V7.AppCompat

[2018-07-17 01:29] nickrandolph commented on #3012
@MartinZikmund can you switch to using RunAppStartAsync added in
 https://github.com/MvvmCross/MvvmCross/pull/2866
This should be available in the current betas of 6.2 (https://www.nuget.org/packages/MvvmCross/6.2.0-beta.2)

[2018-07-17 02:30] MartinZikmund commented on #3012
Awesome, will try that and report back

[2018-07-17 02:32] MartinZikmund commented on #3012
Oh, but it seems this is now only for apps with Splash screen, are there obstacles to implement it for non-splash apps as well?

[2018-07-17 15:11] borbmizzet opened #3016 "Commit d2a7fb2d on June 15 breaks compatibility with PropertyChanged.Fody"
## 🔙 Regression

IMvxNotifyPropertyChanged.RaisePropertyChanged was changed from void to Task in commit d2a7fb2d on June 15, breaking compatibility with PropertyChanged.Fody.
### Old (and correct) behavior
MvvmCross played nice with PropertyChanged.Fody without crashing up through Mvx6.1.2
### Current behavior
Combining PropertyChanged.Fody with Mvx6.2-beta results in crashing with `System.Invalid

[2018-07-17 19:32] SOFSPEEL opened #3017 "Splash Screen Crashes on Android when Hard Back or Hard Home button hit"
## 🐛 Bug Report

Get following crash when splash activity is destroyed before MvxAppStart has started.

[code]

Here's why this happens, the following code in OnViewDestroy in https://github.com/MvvmCross/MvvmCross/blob/8fbc13caa44e08f3fe2eb3732f099ad534803b43/MvvmCross/Platforms/Android/Views/MvxActivityViewExtensions.cs calls Mvx.IoCProvider.Resolve<IMvxAppStart>(); but when the SplashScreen is

[2018-07-17 22:00] nickrandolph commented on #3016
@borbmizzet is Fody looking for something specific, or just bombing out of the IL that's generated? This sounds like a limitation of Fody more than a MvvmCross issue. Are you able to raise this issue on the Fody repo and see if they can investigate why it's breaking?

[2018-07-17 22:02] nickrandolph commented on #3017
Can you please submit a PR with the proposed fix

[2018-07-18 13:54] borbmizzet commented on #3016
@nickrandolph  It's boming out of the IL at runtime when doing the bindings of the first viewmodel.  I'm not 100% sure, but I believe its because fody is inserting IL code that assumes and thus requires that RaisePropertyChanged returns void.  Personally, I think making it a task was a good thing overall, so I think the best thing to do for now is to have something like `void LegacyRaisePropertyCh

[2018-07-18 14:14] ornolisvt opened #3018 "InvalidCastException when getting Viewmodel from MvxAppCompatActivity"
## 🐛 Bug Report
I am using Fabric Crashlytics to track errors in an android application. Sometimes the following error occurs, which I have not been able to reproduce:

Fatal Exception: android.runtime.JavaProxyThrowable: System.InvalidCastException: Specified cast is not valid.
  at (wrapper castclass) System.Object.__castclass_with_cache(object,intptr,intptr)
  at MvvmCross.Droid.Support.V7.AppC

[2018-07-18 14:20] ornolisvt commented on #3018
I forgot the devices where it happened. Excuse me
LG K10 LTE
Galaxy S7 Edge
Huawei Ascend G620S-L03
Xperia Z5 dual
Xiaomi Redmi 5
Huawei Y5 Lite
Galaxy Tab4 7.0
Huawei Y5 II
Galaxy S5 Dual SIM

[2018-07-18 14:53] JensSchadron opened #3019 "MvxAutoCompleteTextView stops working with message "Debug|MVX|Wait starting for *""
## 🐛 Bug Report

The MvxAutoCompleteTextView stops working after the first time setter for PartialText is triggered, preventing further updates of ItemsSource.

### Expected behavior
It is expected to show suggestions without errors.

### Reproduction steps

1. Create an MvxAutoCompleteTextView
2. Bind the following properties: ItemsSource, PartialText, Text and SelectedObject and make sure that t

[2018-07-19 07:32] #3019 closed

[2018-07-19 22:47] nickrandolph commented on #3016
You happy for us to close this issue then?

[2018-07-20 13:58] borbmizzet commented on #3016
yeah, but I'd avoid pushing out 6.2 until that PR is merged in and released to  [Fody/PropertyChanged](https://github.com/Fody/PropertyChanged) so you don't get a massive influx of duplicate issues when developers that use PropertyChanged.Fody bump their Mvx version and end up breaking all the things.

[2018-07-20 13:58] #3016 closed

[2018-07-21 16:45] asterixorobelix opened #3022 "Error building MvvmCross with Cake build script"
## 💬 Questions and Help

I have just cloned the MvvmCross repo to my machine. I am trying to build the project with the Cake script provided but I am experiencing the MSB4057 error: The target "_GetRestoreSettingsPerFramework" does not exist in the project.
![capture](https://user-images.githubusercontent.com/20531795/43038239-0d1a0a50-8d16-11e8-8f4a-eda5cad5ce1b.PNG)
Can anyone point me to how to

[2018-07-21 17:37] Cheesebaron commented on #3022
That is strange, `_GetRestoreSettingsPerFramework` should be there as long as you use MSBuild, which the cake script does. This Property comes from NuGet.targets

I've just tried building on my own machine running latest stable 15.7 (15.7.180.61344) and preview 15.8 (15.8.139-preview+g5951330944) and have no issues with either of them.

[2018-07-22 21:14] #3000 closed

[2018-07-23 06:20] asterixorobelix commented on #3022
Thanks @Cheesebaron I just got the repo to build on my work machine with the Cake script. So, it must be my environment on the home machine... What I can do about that, I dont know.. I uninstalled and reinstalled visual studio at home and was still getting the same errors

[2018-07-23 06:20] #3022 closed

[2018-07-23 09:10] Cheesebaron commented on #3022
@asterixorobelix if you can show the setup you have in the VS installer, that could help us narrow down the issue.

[2018-07-23 17:53] Cheesebaron commented on #3008
Do any of you know the reason why the `ManualResetEvent` was added in the `MvxFilteringAdapter`? Commenting it out makes everything magically work again.

[2018-07-23 17:58] kjeremy commented on #3008
I think it was left over from an ancient slodge sample

On Mon, Jul 23, 2018, 1:53 PM Tomasz Cielecki <notifications@github.com>
wrote:

[2018-07-23 21:05] tbalcom opened #3028 "[Android] 6.2.0-beta2 Playground.Droid shows RootViewModel twice"
## 🐛 Bug Report

### Expected behavior
RootViewModel should only be navigated to once via `RegisterAppStart`. Two instances are being shown. You can confirm by placing a breakpoint in `RootActivity.OnCreate`. Playground.Droid.Forms does not have the same problem.

### Reproduction steps

1. Run Playground.Droid.
2. Press the Android back button.
3. You see the RootView activity again. The app shou

[2018-07-24 09:38] abdomh opened #3029 "NavigationService Close doesn't respect Viewmodel Parameter in forms and always pop latest page"
## 🐛 Bug Report

Calling close in navigation service with ViewModel instance always pops the latest page

I did some digging and found out that every call to `ClosePage` in `MvxFormsPagePresenter` sets the expected page to close to null instead of finding the page, which triggers `PopAsync`
[https://github.com/MvvmCross/MvvmCross/blob/6.1.2/MvvmCross.Forms/Presenters/MvxFormsPagePresenter.cs#L647]

[2018-07-24 15:14] asterixorobelix commented on #3022
Thanks @Cheesebaron does anything look incorrect about my environment in the attached pics? I have also installed the .NET Core 2.1 SDK.
![capture](https://user-images.githubusercontent.com/20531795/43147880-646a0242-8f64-11e8-91a8-948dc7c053f1.PNG)
![capture1](https://user-images.githubusercontent.com/20531795/43147900-6d35f9a8-8f64-11e8-87d9-df83c3bb3975.PNG)

[2018-07-24 17:47] Cheesebaron commented on #3022
Under individual components which .NET Frameworks do you have installed? Is 4.7 installed?

[2018-07-24 17:50] follesoe opened #3031 "Exception in Xaml Preview in Visual Studio for Mac"
## 🐛 Bug Report

I'm receiving an error in the Xaml Preview tool in Visual Studio for Mac when opening a Xaml file for a MvxContentPage containing a Mvx binding: `mvx:Bi.nd="Text Message"`.

Error: `The type initializer for 'MvvmCross.Forms.Bindings.Bi' threw an exception`

### Expected behavior
Preview to function as for any Xamarin Forms Page.

### Reproduction steps
Open a MvvmCross Xamarin For

[2018-07-24 18:02] follesoe commented on #3031
I know this could be a Visual Studio bug, but at the same time, as `mvx:Bi.nd` is the recommended way to express bindings in Xaml, it would be nice if the feature worked within the limitations of the current tools. Perhaps I'm missing something in my class lib to ensure the preview tool is able to initialize the `Bi` type, but so far I have not been able to understand why this is happening. If I r

[2018-07-24 18:10] Cheesebaron commented on #2962
I cannot reproduce this. Tried on the TipCalc sample in the MvvmCross-Samples repository. Added the Visibility plugin to iOS and changed linking to Link Framework SDKs Only.

I did have to add LinkerPleaseInclude stuff for `UILabel`, `UITextField` and `UISlider` for stuff to work with linking enabled.

Please provide more reproduction steps.

[2018-07-24 18:32] Cheesebaron commented on #3031
There must be more to the stack trace? If not directly in the UI, could you please provide logs? You should be able to find them under the help menu in VSfM

[2018-07-24 18:49] nmilcoff commented on #2962
@Cheesebaron I could reproduce this issue in Playground.iOS (not forms), by adding a reference to the visibility plugin. Can you please double check that?

[2018-07-24 21:49] nickrandolph commented on #3031
@Cheesebaron @martijn00 not sure if this is the issue but we should change this line https://github.com/MvvmCross/MvvmCross/blob/8fbc13caa44e08f3fe2eb3732f099ad534803b43/MvvmCross.Forms/Bindings/MvxDesignTimeChecker.cs#L25
I think we should make use of the DesignMode class: https://docs.microsoft.com/en-us/dotnet/api/xamarin.forms.designmode?view=xamarin-forms

[2018-07-24 21:54] nickrandolph commented on #2962
@nmilcoff so the solution is to reference in the LinkerPleaseInclude? If so, can we not just leave it at that?

[2018-07-24 22:04] nmilcoff commented on #2962
Well, I think we would need to do that for each plugin then. Also it is something users would need to do after installing the nuget package, so not ideal at all.

IMO the best would be to make one step back and have some sort of configuration step for all plugins (like the bootstrap files we used in the past).

[2018-07-24 22:08] nickrandolph commented on #2962
Yes, I totally agree with this - tbh I want to outlaw the excessive use of reflection in mvx for self discovery, at least to the point that developers can opt out of it. Using any form of reflection to look for types to register etc is just going to lead to perf issues. Having said that, there is an obvious balance here between the convenience of self-registration v's the performance impact reflec

[2018-07-24 22:37] follesoe commented on #3031
Could not find an easy way to copy the stack trace from the error dialog in the XAML preview window. This is a screenshot of the stack trace:

<img width="640" alt="screen shot 2018-07-25 at 00 36 46" src="https://user-images.githubusercontent.com/169999/43169829-d6984548-8fa2-11e8-9883-14e79ed2120a.png">
<img width="639" alt="screen shot 2018-07-25 at 00 36 38" src="https://user-images.githubuser

[2018-07-24 22:38] follesoe commented on #3031
So no MvvmCross name spaces on the stack trace, so must be something that goes wrong when it starts to access the `Bi`-class. So probably reproducable through code/unit testing via the `LoadFromXaml` method?

[2018-07-24 22:42] follesoe commented on #3031
Found the log:

[code]

[2018-07-25 00:16] kmjonmastro commented on #2962
This is reproducible in the [StarWarsSample](https://github.com/MvvmCross/MvvmCross-Samples/tree/master/StarWarsSample). [PersonView](PersonView) for instance uses visibility but the bindings are not working.

[2018-07-25 06:18] Cheesebaron opened #3033 "Switch to MIT License from MS-PL"
From the discussion spawned from @ghuntley's question on Twitter: https://twitter.com/GeoffreyHuntley/status/1021737718978568193

Reasons to switch to the MIT License being:
- Less exotic, more often on a pre-approval list
- In line with most of the other dotnet fdn projects
- We've discussed it internally before

I guess similar to on-boarding dotnet foundation, we would need approval for top con

[2018-07-25 06:18] Cheesebaron commented on #3033
I will contact @slodge on 📧

[2018-07-25 07:30] nickrandolph opened #3034 "Build a more active community of contributors"
## 🏗 Enhancement Proposal

Currently there are less than a half a dozen active contributors. This is a massive problem as the issues list is growing without any plan to bring it under control.

### Pitch

A couple of ideas:

- Identify small tasks and actively seek developers who have logged/commented/contributed and ask if they would be interested in taking on a task (or two).
- Bug bash day/week

[2018-07-25 07:30] nickrandolph commented on #3033
My thoughts: https://github.com/MvvmCross/MvvmCross/issues/3034

[2018-07-25 07:31] nickrandolph commented on #3034
Also check out https://reactiveui.net/blog/2018/05/reactiveui-succession

[2018-07-25 08:32] slodge commented on #3033
I'm good with it (and so are my other pseudo contributors - @hollywood and
@hollywoof and @cirrious)

On Wed, Jul 25, 2018 at 7:18 AM, Tomasz Cielecki <notifications@github.com>
wrote:

[2018-07-25 09:12] martijn00 commented on #3031
I know there was an error in the binding there that i fixed in 6.2.0-beta2, but not sure if it is related. Could you test?

[2018-07-25 12:03] bruzkovsky opened #3035 "Cannot navigate with MasterDetailPage inside modal"
## 🐛 Bug Report

I want to have a `MasterDetailPage` nested in a modal, then navigate to a new detail page inside that modal. Trying to navigate will close the modal and push the page to the `NavigationPage` outside of the modal.

### Expected behavior
The page is pushed to the `MasterDetailPage.Detail` inside the modal.

### Reproduction steps

1. Create a `NavigationPage`
2. Navigate to a `MvxMa

[2018-07-25 12:10] bruzkovsky commented on #3035
## Workaround

I inherit MvxFormsPagePresenter to check for a modal MasterDetailPage before navigating:

(The implementation is copied from the base, except for the line `var masterDetailHost = GetModalPageOfType<MasterDetailPage>() ?? GetPageOfType<MasterDetailPage>();`.)

[code]

[2018-07-25 18:32] claudioredi commented on #2815
The solution in our case was using one of the constructor overloads of `MvxViewPagerFragmentInfo` that takes an instance of the `ViewModel`. if we do this, we can build the view model ourselves using
the generic `LoadViewModel` method that takes a typed parameter and calls `Prepare<T>`

Example:

    var request = new MvxViewModelInstanceRequest(typeof(ViewModel1));
    var parameter = new ViewMod

[2018-07-25 20:35] tbalcom commented on #3028
I've been doing some debugging and found:

1. `MvxAppStart<TViewModel>.StartAsync(object hint)` is called first. `StartAsync(object hint)` [always navigates to the first ViewModel](https://github.com/MvvmCross/MvvmCross/blob/develop/MvvmCross/ViewModels/MvxAppStart.cs#L43).
2. `MvxAppStart<TViewModel>.Start(object hint)` is then called during [`MvxAppCompatActivity.OnCreate`](https://github.com/Mv

[2018-07-25 22:15] nickrandolph commented on #3028
@tbalcom looks like you hit the nail on the head. The condition to prevent duplication should be moved into the StartAsync method, i.e. move the following into the StartAsync method
if (Interlocked.CompareExchange(ref startHasCommenced, 1, 0) == 1)
                return;
Are you able to submit this as a PR please?

[2018-07-26 16:33] asterixorobelix commented on #3022
Hi @Cheesebaron yes, Microsoft .NET Framework Version 4.7.02556

I have attached environment setup file, will generate one for work pc tomorrow and will compare them to see if there are differences
[HomeEnvironmentSetup.txt](https://github.com/MvvmCross/MvvmCross/files/2232800/HomeEnvironmentSetup.txt)

[2018-07-26 18:33] Cheesebaron commented on #1731
GitLink has been replaced by SourceLink. Closing this.

[2018-07-26 18:33] #1731 closed

[2018-07-26 19:02] Cheesebaron commented on #3022
Does building in Visual Studio work?

[2018-07-27 06:55] RomaRudyak opened #3040 "Google Sign in IdToken null with MvxAppCompatActivity"
## 🐛 Bug Report

When integrating GoogleSignin into Android application with `RequestIdToken` configuration for Sign-in and passing `MvxAppCompatActivity` as Context parameter `IdToken` fo GoogleSigninAccount is `null`.
When changing to `AppCompatActivity` IdToken retrieved.

### Expected behavior
IdToken must be retrieved when passing MvxAppCompatActivity as Context for GoogleSignin.

### Reprodu

[2018-07-27 07:40] nickrandolph commented on #3040
@RomaRudyak are you able to create a PR that reproduces this issue - please use the Playground sample. Leave a placeholder for where the Firebase account information should be added.

[2018-07-27 07:49] nickrandolph commented on #3022
@asterixorobelix building in VS should work in both 15.7 and 15.8 (preview), although I've found that the latter seems to be more stable, despite being in preview. Unfortunately often it's not as easy as just opening mvvmcross.sln and hitting F5 to run. I suggest forcing a build on Mvvmcross, the Android AppCompat library, Mvvmcross.Forms and then whichever playground project you want to run.
Also

[2018-07-27 09:26] huszarg opened #3041 "[Android] Setup initialization issue when Xamarin.Forms Android app terminated and resumed"
## 🐛 Bug Report

Usually the MvvmCross setup is initialized during the splash screen on Android. If an app is terminted by the Android OS and after that try to resume the app it will not load and only a white screen will appear so an empty activity.

### Expected behavior
Resume and initialize app when it is foreground again.

### Reproduction steps
The issue can be reproduced with any Xamarin.For

[2018-07-27 10:07] #2134 closed

[2018-07-27 10:08] #3008 closed

[2018-07-27 13:00] nmilcoff commented on #2134
The linked PR says it _partially_ solves this issue, should it remain open maybe @Cheesebaron?

[2018-07-27 14:32] stefan89 opened #3042 "Hangs on splashscreen when reopening app with tap on app icon"
## 🐛 Bug Report

We encounter the issue that the app hangs on the splash screen when reopening the app using the app icon.
It works fine when you reopen the app using the Android Task manager.

### Expected behavior
App is in the background and when you tap on the app icon, the app will reopen normally.

### Reproduction steps
1) Open the app
2) Go to the background
3) Tap on the app icon
4) Splas

[2018-07-27 14:49] RomaRudyak commented on #3040
@nickrandolph Please close this issue ass when I was creating sample project for you to reproduce all works, I have issues in my specific project.
Thank you for your time.

[2018-07-27 14:56] #3040 closed

[2018-07-27 15:16] Cheesebaron commented on #3042
It also shows the splash screen when launch it from the Task Manager?

[2018-07-27 15:22] stefan89 commented on #3042
Nope, it that case you don't see the splash screen.

[2018-07-27 19:08] Cheesebaron commented on #2134
@nmilcoff it solves this problem. However, it does not solve the issue of telling the developer why it didn't work though.

[2018-07-27 20:57] Cheesebaron commented on #3042
Which Activity flags do you have on your Activities?

[2018-07-28 11:45] asterixorobelix commented on #3022
Thanks for the idea @nickrandolph :exclamation: Ive just installed the 15.8 preview and whichever gremlins were in 15.7 are now no longer in the neighbourhood.. Finally. Many thanks to both of you @nickrandolph  @Cheesebaron :bow:

[2018-07-28 14:10] stefan89 commented on #3042
@Cheesebaron
Splash activity has these attributes:
- android:launchMode="singleTask"
- android:noHistory="true"
- android:screenOrientation="portrait"

Most of the other activities have these attributes:
ScreenOrientation = ScreenOrientation.Portrait
WindowSoftInputMode = SoftInput.AdjustResize

[2018-07-28 14:11] stefan89 commented on #3042
@nickrandolph I will test that as soon I have time (probably on Monday) and let you know

[2018-07-28 14:56] markuspalme opened #3043 "Build error in VS on Windows: The target "GetBuiltProjectOutputRecursive" does not exist in the project."
## 💬 Questions and Help

I have cloned the latest revision of the "develop" branch and want to run Playground.iOS. However, I get this build error in various projects and can't make sense of it.

`The target "GetBuiltProjectOutputRecursive" does not exist in the project.`

![build errors](https://user-images.githubusercontent.com/1481801/43357772-f1e739b2-9286-11e8-83ea-e5068c3537d4.png)

I'm on V

[2018-07-28 18:57] nmilcoff commented on #3018
Same issue as: #1305.

So far none of us was able to reproduce this problem :(. I have several apps using MvvmCross in PRD and have never seen such an error.

@ornolisvt is it possible for you to contribute a minimal reproducible example?

[2018-07-28 19:20] nmilcoff commented on #2906
I tried the following code on a random app:

[code]

So unless I didn't understand the scenario, I guess this is working just fine. Can you please elaborate or contribute a minimal reproducible sample for the bug @softlion?

[2018-07-28 20:08] nmilcoff commented on #2961
Although I could reproduce this issue (I'm attaching the stacktrace) I 100% believe this has nothing to do with MvvmCross. I would suggest you to fill in an issue to Syncfusion, as the exception occurs at the `Com.Syncfusion.Numericupdown.NumericTextBox.SetTextAndValue` method.

I'm closing this issue for the reason stated above. But please feel free to reopen it if you find out that there is actu

[2018-07-28 20:08] #2961 closed

[2018-07-28 20:31] nmilcoff commented on #2993
The PictureChooser plugin is still alive, so there is apparently no reason to remove the warning. Please reopen the issue if you think something needs to be done.

[2018-07-28 20:31] #2993 closed

[2018-07-28 20:36] nmilcoff commented on #2968
This looks like an environment problem. Can you try removing the nuget packages on your Android project and adding them back?

It is also weird that you're using `MvxAppCompatApplication` and there is an error for `MvxAndroidApplication`, where do you see it?

[2018-07-28 21:05] nmilcoff commented on #3042
I went through the reproduction steps on the Playground.Droid project (using a KitKat and a Marshmallow emulators) and couldn't reproduce this error.

[2018-07-28 21:30] nmilcoff commented on #3041
I tried to reproduce this issue in the `Playground.Forms.Droid` project but everything worked just fine.

After the app was sent to background I even tried opening a different app, just to ensure the playground app was tombstoned... Some time later I selected the playground app on the task manager and a white screen appeared for some seconds. But in the end correct content was loaded correctly.

I

[2018-07-28 21:36] nmilcoff commented on #2963
Can you please provide us with some more details? Like:

1) What does your dialog fragment class look like? (`StartHuntView`)
2) Can you include the code snippet where you request the permission and then navigate to the fragment dialog?
3) Where are you navigating to the fragment from? Is it an activity?
4) Are you using a custom ViewPresenter?

Looking at the stacktrace it seems your fragment is

[2018-07-28 21:55] nmilcoff commented on #2979
I think this is happening because you're trying to resolve `IMvxMessenger` too early on your code, which isn't yet registered on the IoC container - and there is not much we are able to do to improve this.

I would suggest you to replace the line where you register your IPopupService for something like:

[code]

So that `IMvxMessenger` is resolved when the func is invoked.

[2018-07-28 21:55] #2979 closed

[2018-07-28 22:22] nmilcoff commented on #2810
If that is the case @nickrandolph that means IMvxAppStart is not registered yet, right? Then there is technically no reason to call `ResetStart()` I guess.

So could the issue be solved by replacing `Resolve` for `TryResolve` [here](https://github.com/MvvmCross/MvvmCross/blob/develop/MvvmCross/Platforms/Android/Views/MvxActivityViewExtensions.cs#L79)?

[2018-07-29 02:42] nickrandolph commented on #2810
Yes, I think that should be sufficient to resolve this issue.
@haohighview would you be kind enough to raise a PR based on the suggestion made by @nmilcoff

[2018-07-29 15:19] nmilcoff commented on #3043
Did you check this? -> https://developercommunity.visualstudio.com/comments/256431/view.html

[2018-07-30 06:58] stefan89 commented on #3042
@nickrandolph & @nmilcoff I just tested it using the Playground app (master branch) and it seems only to happen when de debugger is attached.

Tested it on an Android Emulator and a physical device and the behaviour is the same.
Hangs on the splash screen (green screen with text: "Loading....")

FYI I am using the latest version of Xamarin on Mac + latest Android SDK.

[2018-07-30 07:02] stefan89 commented on #3042
I also tested it on a clean empty Xamarin.Android project (without Mvx) with the debugger attached and then I cannot reproduce it.

[2018-07-30 10:34] ebt-sbokatuk commented on #2936
I have same issue with same xaml layout, tried MvxContentPage inside MvCarouselPage - no changes, just a crash

mvvmcross 6.1.2 version

[2018-07-30 10:37] ebt-sbokatuk commented on #2936
at Xamarin.Forms.ObservableWrapper`2[TTrack,TRestrict].Add (TRestrict item) [0x00008] in <212d41bd9b8847d3b9de286069712a07>:0
  at MvvmCross.Forms.Presenters.MvxFormsPagePresenter.ShowCarouselPage (System.Type view, MvvmCross.Forms.Presenters.Attributes.MvxCarouselPagePresentationAttribute attribute, MvvmCross.ViewModels.MvxViewModelRequest request) [0x00082] in <770d147fe4404f38a84133c0dace3807>:

[2018-07-30 11:56] sbokatuk commented on #2936
I found the issue, attribute.Position = CarouselPosition.Carousel; at app start, so  this custom presenter fixed crash

public class CustomFormsPrecenter : MvxFormsPagePresenter
    {
        public CustomFormsPrecenter(IMvxFormsViewPresenter platformPresenter) : base(platformPresenter)
        {
        }

        public override void ShowCarouselPage(Type view, MvxCarouselPagePresentationAttribu

[2018-07-30 18:00] borbmizzet commented on #2812
@nickrandolph  It works when I remove `<RootViewModel>` from `MainActivity<RootViewModel>`.   No more "No ViewModel for MainActivity" console log either.  I think this can be safely closed.

[2018-07-30 22:58] nickrandolph commented on #2812
Closing this issue as it is not reproducible in latest code. @borbmizzet reopen this issue if this requires further investigation.

[2018-07-30 22:58] #2812 closed

[2018-07-31 13:25] huszarg commented on #3041
I also can reproduce this issue in the Playground.Forms.Droid project (release 5.6.3 version). The white screen appeared but the content wasn't loaded.
The important step to reproduce is the Developer options setting on Android: Settings -> Developer options -> Limit background processes -> No background processes.

The basic steps to reproduce after the above settings:

- Run the Playground.Forms

[2018-07-31 21:08] nmilcoff commented on #3034
Some more ideas:

- Monthly webcast with maintainers, where we can go through certain topics or features the framework provides (no more than 15 minutes) - and answer people's questions at the end.
- Create different teams here in GitHub so we can assign people to review PRs (we can have for example one group per platform)
- Promote "up for grab" issues on the MvvmCross account on twitter, also of

[2018-07-31 21:39] nickrandolph commented on #3034
Thanks @nmilcoff for the great suggestions.

w.r.t. my point about issues - it's more that we need to triage them and get any bugs fixed. Issues should either be bugs (and fixed asap), features/tasks or closed as "won't fix". In the case of features I'm ok with them sitting in the issues list but I'd really like to see someone championing them to get the work done - this doesn't mean they're the o

[2018-08-01 12:32] prcela commented on #2634
The delegate variable is weak. It means it will be released immediately after assignment because no one other keeps reference on new CustomMoreNavigationControllerDelegate.

[2018-08-02 12:59] nmilcoff commented on #2884
I'll try to take a look at this one over the weekend, I've worked on that viewmodel cache before

[2018-08-02 19:44] daividssilverio opened #3048 "Make MvxApplicationCallbacksCurrentTopActivity.cs:_Activities protected to facilitate extension"
## 🏗 Enhancement Proposal

It would be nice to have the visibility of backing list of activities used on the `MvxApplicationCallbacksCurrentTopActivity.cs` changed to `protected` to make changes and tweaks

https://github.com/MvvmCross/MvvmCross/blob/9952752bb98759dce7e05d11dde4dc5ebdf58f69/MvvmCross/Platforms/Android/Views/MvxApplicationCallbacksCurrentTopActivity.cs#L13

### Pitch
This would mak

[2018-08-02 19:53] martijn00 commented on #3048
Could you open a PR for this?

[2018-08-02 19:54] daividssilverio commented on #3048
Yes o/

[2018-08-03 09:20] reense opened #3050 "MvxTabbedPagePresentation with WrapInNavigationPage = false crashes when closing a modal view"
## 🐛 Bug Report
I have a MvxTabbedPage with the following attribute:
`    [MvxTabbedPagePresentation(TabbedPosition.Root, WrapInNavigationPage = false, NoHistory = false)]
`
Since i don't want the pages in the tabbed page to have a navigation bar, i set `WrapInNavigationPage` to false.

In my navigation page, i have the following tab (which is the first tab)
` [MvxTabbedPagePresentation(TabbedPosi

[2018-08-03 09:41] reense commented on #3050
I resolved this issue by:

Calling `NavigationPage.SetHasNavigationBar(this, false) ` on the tabbed page and `WrapInNavigationPage` to true.

[2018-08-03 09:41] #3050 closed

[2018-08-04 19:49] nmilcoff commented on #2884
Alright so the problem is quite old... Proper support for fragments was introduced in #771 this was a concern back then (hint: search for `MvxMultipleViewModelCache` in the comments).

We need to add a way to clear ViewModels from `MvxMultipleViewModelCache`. Changing the `ConcurrentDictionary` for a `ConditionalWeakTable` or wrapping the ViewModel objects on `WeakReference`s won't do the work, be

[2018-08-04 20:45] nmilcoff commented on #2884
I think I've found a solution. PR is on it's way!

[2018-08-05 16:05] #2465 closed

[2018-08-05 16:05] #2884 closed

[2018-08-07 04:09] vatsalyagoel commented on #3034
Have a look at how ReactiveUI does codeowners https://github.com/reactiveui/ReactiveUI/blob/master/.github/CODEOWNERS
 I personally love how it automatically assigns teams for code reviews and promotes active development and merges. There shouldn't be a single bottleneck in terms of getting code into develop and by following this model we can make certain people owning specific areas for example p

[2018-08-07 04:11] nickrandolph commented on #3034
@vatsalyagoel I totally agree with this idea. It'd be great to get people to volunteer for different components of MvvmCross so we can work out what teams make sense

[2018-08-07 04:15] vatsalyagoel commented on #3034
A great starting point would be going through the contributor history and reaching out to them. The core contributors would own the whole code base and then we could have certain people having their own teams which would then give them the opportunity to invite more people and grow the community.

We could also add a documentation team which owns the website and then we can put up for grabs on doc

[2018-08-07 04:16] nickrandolph commented on #3034
Love it - I think you just created a task for yourself 👍

[2018-08-07 06:43] Cheesebaron commented on #2631
I will be looking at `MvxSpinner` next

[2018-08-07 08:44] #3048 closed

[2018-08-07 08:44] #3043 closed

[2018-08-07 09:53] vatsalyagoel commented on #2415
Is there any plan on using the DNF VSTS build servers and code sign certs? If so I would like to help with that.

[2018-08-07 10:01] martijn00 commented on #2415
@vatsalyagoel we started to add support: https://github.com/MvvmCross/MvvmCross/blob/develop/appveyor.yml#L10 but i think it didn't work out yet. @Cheesebaron knows the latest about it.

[2018-08-07 11:00] Cheesebaron commented on #2415
VSTS no, code sign is already there, just needs to be enabled and cert needs to be uploaded to AppVeyor

[2018-08-07 11:41] StevenBonePgh commented on #2926
As per [this documentation issue](https://github.com/dotnet/docs/issues/5756) the behavior for UWP is 'correct' and not a bug.  Therefore we should fix our defaults as proposed.

[2018-08-07 13:39] tbalcom commented on #2903
The issue has been fixed.

[2018-08-07 13:39] #2903 closed

[2018-08-07 16:07] tbalcom opened #3059 "[6.2.0-beta2] FrameLayout to show Fragment not found"
## 🔙 Regression

An application which previously worked in MvvmCross 6.1.2 can no longer navigate to the first ViewModel after upgrading from MvvmCross 6.1.2 to 6.2.0-beta2.

I used MvxScaffolding Visual Studio plugin to generate the project. I changed the `MainContainerActivity` from a basic `FrameLayout` container to a `DrawerLayout` container using `NavigationView` and a `FrameLayout`. The proj

[2018-08-07 20:41] nmilcoff commented on #2906
I'll close this one for now. Please feel free to reopen it if there is actually a problem and something needs to be changed.

[2018-08-07 20:41] #2906 closed

[2018-08-07 21:44] nickrandolph commented on #3059
Hey @tbalcom thanks for submitting this bug. If you get a chance would you be able to make changes to the Playground sample and submit as a PR demonstrating the issue - this makes it easier for anyone to jump in and fix the issue

[2018-08-07 21:47] nickrandolph commented on #3042
@stefan89 when you run the Playground app with the debugger attached - did you have to make any changes to get it to break? @nmilcoff does the Playground app work for you even with debugger attached?

[2018-08-07 21:52] nickrandolph commented on #3034
@vatsalyagoel are you able to create a PR to create the codeowners file and then we can try reaching out to various contributors

[2018-08-07 21:54] nickrandolph commented on #3029
@AbdelrahmanGIT are you able to propose a fix as a PR for review?

[2018-08-07 21:56] nickrandolph commented on #3018
Also, please update to latest stable mvvmcross and confirm this is still an issue. If it is, please reproduce the issue using the Playground sample and submit as a PR. This will help us trying to identify the issue

[2018-08-08 00:53] na2axl commented on #2157
Any evolution of this feature ?

[2018-08-08 00:54] easoftwaresanderson commented on #2070
I have this issues and i don't find the TargetFrameworkProfile in my file .csproj to change it.
Where is the property to change it?

[2018-08-08 01:45] nickrandolph commented on #2157
@na2axl no, but we're looking for someone to take it on and contribute!

[2018-08-08 01:46] nickrandolph commented on #2070
Are you using .net standard for your libraries?

[2018-08-08 02:26] nickrandolph commented on #2070
If you're targeting net standard 2.0 you shouldn't have to change the TargetFrameworkProfile, and you should be able to install the mvvmcross packages.
Please make sure you've updated all existing packages to the latest stable before adding the reference to mvvmcross.

[2018-08-08 02:29] easoftwaresanderson commented on #2070
I find it , I put one project in my solution for read ebook called EpubReader.Cross and it's one output class library, when i tried install I was checked it .
When I unchecked it i got it , and install on others project.
Thank you

[2018-08-08 03:14] vatsalyagoel commented on #3034
Hi @nickrandolph I'll do it in the evening today

[2018-08-08 03:51] nickrandolph commented on #3017
Can you retest this against 6.2 beta please

[2018-08-08 03:53] nickrandolph commented on #3014
@SOFSPEEL have you been able to reproduce this? Can you try to reproduce it with the playground sample apps and submit a PR demonstrating this?

[2018-08-08 03:55] nickrandolph commented on #3012
yes, because you need to load the first view synchronously. In the case of a splash screen app, the splash screen is show immediately, which meets the platform requirements for startup time.
We need to investigate why Reset isn't being called, which would allow the startup sequence to run again.

[2018-08-08 04:00] nickrandolph commented on #2999
@Rajmund-Kormendi are you saying that the generated email appears in the Android email app, but they just don't send? Can you clarify?

[2018-08-08 04:13] nickrandolph commented on #2996
Are you able to get this work with a vanilla Xamarin.Forms application (ie without MvvmCross)?

[2018-08-08 04:15] nickrandolph commented on #2995
@Goncharuk-Nikita would you be able to suggest a fix for this? (perhaps take a look at the implementation in the forms presenter)

[2018-08-08 04:17] nickrandolph commented on #2991
@IlyaLavrov97 is this reproducible within the playground sample? If you need to make changes to the sample to get this to reproduce, please submit it as a PR for further investigation

[2018-08-08 04:24] nickrandolph commented on #2970
@kjeremy is this across all platforms? (please fill in issue template in future as this includes this information)

[2018-08-08 04:26] nickrandolph commented on #2969
@vatsalyagoel using null propagation is an option but we really should understand why ViewAssemblies is null at this point (it shouldn't be afaik)

[2018-08-08 04:27] nickrandolph commented on #2968
@svenbayoo were you able to resolve this issue?

[2018-08-08 04:29] nickrandolph commented on #2963
@erviem99 ping? are you able to assist with providing more information?

[2018-08-08 04:30] nickrandolph commented on #2962
@nmilcoff are we ok to close this issue off, since this is effectively a limitation of the current implementation. I'd suggest we open a PR with a spike on how we can resolve this going forward?

[2018-08-08 05:33] Cheesebaron commented on #2988
We need to add a ContentProvider for allowing other apps to get files from the running app.

[2018-08-08 06:57] MartinZikmund commented on #3012
Understood, that makes sense. I just don't understand which `Reset` are you referring to?

[2018-08-08 06:59] nickrandolph commented on #3012
https://github.com/MvvmCross/MvvmCross/blob/a12c58d90af10741def51ae84cf1c108b66c0e30/MvvmCross/ViewModels/MvxAppStart.cs#L56

[2018-08-08 09:26] AbdelrahmanGIT commented on #3029
I will take a look at it

[2018-08-08 13:40] ghuntley commented on #3034
Also check out https://ghuntley.com/live (the entire purpose is to aide with succession and introduce more people to open-source). You may also find github.com/reactiveui/rfcs interesting - steal if you think it will work for mvx.

[2018-08-08 23:05] nickrandolph commented on #3041
@vatsalyagoel are you able to investigate this and see if you can reproduce the issue in the playground sample?

[2018-08-09 00:50] vatsalyagoel commented on #3034
Created CODEOWNERS File
Teams that need to be created:

- @mvvmcross/core-team
- @mvvmcross/maintainers
- @mvvmcross/learning-team
- @mvvmcross/devops-team
- @mvvmcross/android-team
- @mvvmcross/ios-team
- @mvvmcross/mac-team
- @mvvmcross/tizen-team
- @mvvmcross/uap-team
- @mvvmcross/wpf-team
- @mvvmcross/plugins-team

[2018-08-09 03:25] nickrandolph commented on #1136
@Cheesebaron @nmilcoff @martijn00 thoughts on whether we can go ahead and close this issue since we now have async throughout the navigation flow?

[2018-08-09 03:45] nickrandolph commented on #2936
@sbokatuk would you be able to submit a PR to fix this please

[2018-08-09 03:46] nickrandolph commented on #2930
Closing this as all the Playground samples now build

[2018-08-09 03:46] #2930 closed

[2018-08-09 03:47] nickrandolph commented on #2931
@kjeremy are you able to test this on develop and see if it still happening?

[2018-08-09 03:48] nickrandolph commented on #2926
@StevenBonePgh would you be able to submit a PR to fix this

[2018-08-09 04:29] sbokatuk commented on #2936
@nickrandolph, @OffTravel there issue as I investigated only that by default "Position != Root", I'll prepare PR to fix that, but you can fix that by setting Position manually in Attribute.

For root page add:
[MvxCarouselPagePresentation(Position = CarouselPosition.Root, NoHistory = true, WrapInNavigationPage = true)]
public partial class StartView : MvxCarouselPage<StartViewModel>
{
..
}

and fo

[2018-08-09 05:03] nickrandolph commented on #2904
@Emaxinvader can you retest this on v6.2

[2018-08-09 05:04] nickrandolph commented on #2893
@Sebastian1989101 which XF platforms is this on? all? would you be able to submit a PR that repros this in the playground?

[2018-08-09 05:08] nickrandolph commented on #2891
@Thetyne so is there still an issue we need to address within mvvmcross? if so, can you submit a PR that demonstrates the issue so that we can investigate further

[2018-08-09 05:09] nickrandolph commented on #2881
@qbus00 can you confirm if this has been fixed in 6.2?

[2018-08-09 05:09] nickrandolph commented on #2859
These warnings have been cleared up now, so closing this issue

[2018-08-09 05:09] #2859 closed

[2018-08-09 05:11] nickrandolph commented on #2847
@MartinZikmund I'm closing this issue now based on your PR

[2018-08-09 05:11] #2847 closed

[2018-08-09 05:12] nickrandolph commented on #2832
@Thetyne would you be able to retest this on v6.2?

[2018-08-09 05:12] nickrandolph commented on #2827
This should be fixed in v6.2

[2018-08-09 05:12] #2827 closed

[2018-08-09 05:13] nickrandolph commented on #2815
@claudioredi would you be able to submit a PR fixing this issue?

[2018-08-09 05:14] nickrandolph commented on #2813
This should be fixed in 6.2

[2018-08-09 05:14] #2813 closed

[2018-08-09 05:16] nickrandolph commented on #2810
@haohighview did you get around to raising a PR? If so, can you update it to reference this issue

[2018-08-09 11:08] oleg-savoskin commented on #2996
Yes. But our customer didn't want to wait while we would find a solution, so we had to switch to Prism. The app works well in both cases using Prism and as a vanilla app.

The answer given on stack overflow worked too, but sometimes the app crashed with the error saying that Xamarin.Forms.Platform.Android.PageRenderer cannot be instantiated (on a notification click).

[2018-08-09 11:39] claudioredi commented on #2815
@nickrandolph: I tried to fix the code but at first sight the change was not as small as I would have expected, abandoned the idea provided there is a valid and easy workaround (the code I pasted on my answer).

[2018-08-09 14:32] tbalcom commented on #3059
@nickrandolph I'm not able to reproduce this in the current Playground.Droid project. I can reproduce in projects bringing in MvvmCross 6.2.0-beta2 via NuGet. I've used a project generated with MvxScaffolding and made a new manually created project and it all falls apart when I upgrade from 6.1.2 to 6.2.0-beta2. I guess this means it's possible the problem has since been fixed in the current devel

[2018-08-09 16:22] vinicius-queiroz93 commented on #3017
Can confirm this is happening in 6.1.2 as well. Crashes if Android app is minimized during the blank screen which appears before the Splash Screen (the blank screen is shown for about 3 seconds in our app).

[2018-08-09 17:42] tbalcom commented on #3017
This can still be reproduced in the current version of Playground.Droid. To reproduce start spamming the hard home button as soon as you see the splash screen. The suggested fix prevents the crash. Surrounding with `CanResolve<IMvxAppStart>()` condition also fixes it.

[2018-08-09 17:50] Cheesebaron commented on #2157
Or you could use the plugin @jamesmontemagno wrote and call it just before you use any of our plugins. Haven't had any issues with that.

[2018-08-09 21:32] nickrandolph commented on #2157
@na2axl does that satisfy what you're after?
@Cheesebaron is there anything else you feel we want to look at on this issue?

[2018-08-09 21:34] nickrandolph commented on #2776
@xyz20533 can reach out to us on Slack and lets see if we can get this fixed

[2018-08-09 21:35] nickrandolph commented on #2760
@Sebastian1989101 any chance you can submit a PR to demonstrate this issue?

[2018-08-09 21:37] nickrandolph commented on #2740
@wh1t3cAt1k can you check this against 6.2. Most of the navigation service is now async aware so this should have resolved this issue

[2018-08-09 21:39] nickrandolph commented on #2712
@benhysell can you see if you can contribute to the PR to see if we can get it merged?

[2018-08-09 21:41] nickrandolph commented on #2707
@m-mccool sorry to be a pain but would it be possible to reproduce this issue using the Playground sample and submit as a PR. This will greatly improve the odds of someone contributing a fix

[2018-08-09 21:43] nickrandolph commented on #2634
@Sebastian1989101 can you submit your changes to the Playground sample that shows this issue as a PR please?

[2018-08-09 21:46] nickrandolph commented on #2578
@dahovey sorry to be a pain but would you be able to reproduce this using the Playground sample and submit as a PR so that we can investigate how to fix this issue?

[2018-08-09 21:49] nickrandolph commented on #2572
@g0rdan are you able to use create an email in Android directly and see if you can get it to look the same as the iOS version? We suspect this is an issue with how the email is being rendered, rather than how it's being created

[2018-08-09 21:51] nickrandolph commented on #2538
@Sebastian1989101 can you try this out on v6.2 and confirm if this is still an issue. Are you able to reproduce on the Playground sample?

[2018-08-09 21:52] nickrandolph commented on #2532
@tkemp2 are you able to reproduce this with the Playground sample and submit as a PR marked as [WIP] - this will help us try to fix this issue

[2018-08-09 21:54] nickrandolph commented on #2458
@ElteHupkes I think with v6.2 we should be in a better position to handle this. Can you repro this scenario with the Playground sample and submit as a PR so that we can review

[2018-08-09 21:55] nickrandolph commented on #2440
@nmilcoff is this completed now, or is there more work to be done?

[2018-08-09 22:12] benhysell commented on #2712
@nickrandolph I would love to, however my schedule is not going to allow it for at least 2 months from today.

[2018-08-10 01:28] nickrandolph commented on #2326
This is either a duplicate of #2578 or working by-design. If this is not the case, please leave a comment and we can reopen

[2018-08-10 01:28] #2326 closed

[2018-08-10 04:18] erviem99 commented on #2963
I worked around the problem in my project but I will attempt to reproduce this weekend.

[2018-08-10 07:19] g0rdan commented on #2572
@nickrandolph Sorry for not answering so long. I'll look at the issue on weekends and will let you know about results.

[2018-08-10 07:32] ElteHupkes commented on #2458
@nickrandolph Interesting, how was this approached? (no need to explain everything, but some pointers to source code would be nice).

I'd like to help (and I think I still owe you a repro on another issue if I'm not mistaken) but my problem is a lack of a workable Windows installation at the moment, and last I checked I couldn't build the Playground on Mac. As soon as I've mustered up the will to

[2018-08-10 08:53] erviem99 commented on #2963
I just gave it a shot on my Windows Laptop with VS 2017 15.7.3 installed.

This is a very powerful laptop that I have, but still it doesn't seem to handle the MvvmCross repo very good.

VS is very sluggish responding and compiling yields hundreds of errors.

I can't even open one of the .axml files in the Playground project.

I'm not sure why I get so many compilation errors, but if you explain wh

[2018-08-10 11:05] Cheesebaron commented on #2963
You have to have .NET Core 2.x installed. You have to have VS 2017 15.7.x with the Xamarin and UWP workload installed. You have to have API 26 installed along with matching build tools in your Android SDK installed.

You can try build the project with the build script in PowerShell with:

[code]

[2018-08-10 12:40] erviem99 commented on #2963
Thanks, I already had all those things installed, but a new MvvmCross download solved the issues with compilation.

My VS2017 is also running a lot smoother now.

The .axml problem would appear to be related to this issue with VS2017:
https://github.com/xamarin/xamarin-android/issues/1777

I will update my VS2017 installation and hopefully I can get going again.

[2018-08-10 13:30] nmilcoff commented on #2440
Well... I would like to have only two ViewPager adapters and not four, but that doesn't bring any actual value to our users - and it is a breaking change.

So I would say we can schedule it for the next major version.

[2018-08-10 13:46] xyashapyx opened #3064 "After navigating with back button Command can't be called"
## 🐛 Bug Report

I'm having IMvxAsyncCommand that calls Navigation to view with result, like
var result = await NavigationService.Navigate<SecondViewModel, Parameter, Result>(parameter);
And when I'm navigating back from SecondViewModel with hardware button it is no longer possible to call this command.

### Expected behavior

### Reproduction steps

### Configuration

**Version:** 6.x

**Platform

[2018-08-10 15:06] xyashapyx commented on #3064
BTW, if I'm declaring my command as allowConcurrentExecutions = true all is working fine.

[2018-08-10 19:03] nmilcoff commented on #2578
#3055 _might_ have solved this issue. Same for #2326.

[2018-08-10 20:30] nmilcoff commented on #3064
I noticed this as well, easy to reproduce.

As a workaround you can add this line to your SecondViewModel's OnDissapearing:

`ViewModel.CloseCompletionSource?.TrySetResult(false);`

[2018-08-12 10:12] g0rdan commented on #2572
I tried many ways to call email intent directly and watched the same result. Generally, I used something like this:
[code]
I guess we could close the issue.

[2018-08-12 10:12] #2572 closed

[2018-08-12 11:10] erviem99 commented on #2963
I can reproduce in the Playground sample in develop branch (6.2).

I use the GeolocatorPlugin from here: https://github.com/jamesmontemagno/GeolocatorPlugin

Follow the installation instructions for Android and modify the RoomViewModel.Navigate function.

I can upload a repo but don't really know how.

`        private async Task Navigate()
        {
            try
            {
                v

[2018-08-12 11:14] erviem99 commented on #2963
I can reproduce in the Playground sample in develop branch (6.2).

I use the GeolocatorPlugin from here: https://github.com/jamesmontemagno/GeolocatorPlugin

Follow the installation instructions for Android and modify the RoomViewModel.Navigate function.

I can upload a repo but don't really know how.

        private async Task Navigate()
        {
            try
            {
                va

[2018-08-12 21:33] nickrandolph commented on #2963
@erviem99 the best way to submit a repro is to fork the mvvmcross repository, create a new branch off of develop, make changes and the submit as a PR back to this repository.

[2018-08-13 10:11] thongdoan opened #3065 "NavigationService.Navigate<TResult>()always return null on Wpf"
## 🐛 Bug Report

`NavigationService.Navigate<TResult>() `always return null on Wpf,

We can fix it by move ViewModel?.ViewDestroy() to MvxWpfView_Unloaded instead MvxWpfView_Loaded, it is because MvxViewModelResult<TResult> cancel CloseCompletionSource on ViewDestroy

[code]

### Expected behavior
Don't always return null
### Reproduction steps

var foo = await this.NavigationService.Navigate<Foo>

[2018-08-13 10:55] thongdoan commented on #3065
I see another issue, I think we need prevent the method ViewDestroy cancel CloseCompletionSource on NavigationService.Close

[code]

On some platforms, when we send MvxClosePresentationHint the ViewModel.ViewDestroy will be call immediately, => _tcs?.TrySetResult(result) will be not work

[2018-08-14 09:12] Cheesebaron commented on #2963
The CurrentActivity plugin probably interferes with the way MvvmCross handles tracking of the CurrentActivity.

[2018-08-14 12:40] nadeemshk opened #3068 "mvvmcross binding not working with android popup window"
## 💬 Questions and Help
I am working android native app using **xamarin** and I'm using **mvvmcross** framework for it. My app works good but it is just **Pop window of android which does not bind to viewmodel**.

Below is my code -

Contentview for popup window -

*departmentpopupmenulist.axml*

    <?xml version="1.0" encoding="utf-8"?>
    <LinearLayout xmlns:android="http://schemas.android.com

[2018-08-14 13:06] martijn00 commented on #3068
You need to use the `MvxAppCompatDialogFragment`: https://github.com/MvvmCross/MvvmCross/blob/develop/MvvmCross.Android.Support/V7.AppCompat/MvxAppCompatDialogFragment.cs

Also questions like this should go onto Stackoverflow, and therefore i will close it here.

[2018-08-14 13:06] #3068 closed

[2018-08-14 22:24] eiadxp opened #3070 "WPF items presenter"
## 🏗 Enhancement Proposal

WPF Items presenter that allow the views to be displayed inside an ItemsControl like TabControl. The presenter will still allow Content and Window views that already exist in MvvmCross.

### Pitch

I have noticed a pull request for Tab presenter. I think my solution will give a more generic usage for ListBox and other ItemsControl. It also allow your view to be placed in

[2018-08-15 01:02] nightsu commented on #2881
I have met the same issue, have you resolved it?thanks.

[2018-08-15 01:39] nickrandolph commented on #2881
@nightsu  and @qbus00  are you able to verify this fix on 6.2 please

[2018-08-15 01:42] nightsu commented on #2881
@nickrandolph I have updated MvvmCross to 6.2 beta2, but the problem still exists.

[2018-08-15 01:43] nickrandolph commented on #2881
Can you submit a PR showing the issue in the playground?

[2018-08-15 02:03] nightsu commented on #2881
I am a new in github，I'll have a try. By the way, has the problem been resovled in 6.2 beta2, or next beta

[2018-08-15 02:09] nickrandolph commented on #2881
I thought it was in the current beta. To get started with a PR:
- fork this repo to your github account
- build and run the playground sample
- modify the playground sample to see this issue
- commit and push changes to a new local branch
- submit a PR back to the develop branch of this repro from your repository. Please put [WIP] in the title for the PR to prevent it being accidentally merged

[2018-08-15 07:50] tougher commented on #1947
Anybody made a workaround for this?

I will work on a pull request for this issue soon, even though it's not a direct MvvmCross issue.

[2018-08-15 11:12] ElteHupkes commented on #2923
Am I mistaken or is this once again an issue since #2958 basically reverted #2865?

[2018-08-15 11:26] Cheesebaron commented on #2923
@ElteHupkes your WPF change broke all other platforms. So yes it was reverted.

[2018-08-15 11:57] ElteHupkes commented on #2923
@Cheesebaron No need to defend it, I was just curious if I saw that correctly. I'm personally doing manual plugin loads now anyway because is shaves half a second of my startup time not having to do that assembly sweep :).

[2018-08-15 13:06] nightsu commented on #2881
@nickrandolph I have completed these:
fork this repo to your github account
build and run the playground sample
modify the playground sample to see this issue

I tried to  switch the sample foreground and background several times. it didn't crash .I think maybe 6.2 beta2 doesn't have solved this issue. So I modified another sample based on MvvmCross 6.1.2(https://github.com/MvvmCross/MvvmCross-Sam

[2018-08-15 14:28] nickrandolph commented on #2881
Ok so it sounds like it has been fixed in latest code but not the NuGet package. Can you try the latest myget package which should be off the latest develop code

[2018-08-15 14:57] nightsu commented on #2881
@nickrandolph  thanks, I'll have a try, and give you a feedback.

[2018-08-16 14:53] nightsu commented on #2881
Thanks, it works. @nickrandolph

[2018-08-16 17:17] markuspalme commented on #3043
@nmilcoff Thanks, that fixed the problem! Didn't find that myself on Google.

[2018-08-17 09:15] adamped opened #3072 "Crash when using MvxLang in Label Trigger"
## 🐛 Bug Report

Using MvxLang in a Label Trigger causes a crash.

Using Binding and getting something from the ViewModel works as expected.

### Expected behavior

Gets text and sets the Text property when IsVisible=true

### Reproduction steps

[code]

Crash Output:
`System.AggregateException: A Task's exception(s) were not observed either by Waiting on the Task or accessing its Exception proper

[2018-08-17 14:41] tbalcom commented on #3059
The bug appears to be fixed in MvvmCross 6.2.0-beta.3. I can no longer reproduce in any project. This problem seems to be specific to MvvmCross 6.2.0-beta.1 and 6.2.0-beta.2. Thanks!

[2018-08-17 14:41] #3059 closed

[2018-08-18 08:58] markuspalme commented on #2518
@martijn00  I think we can now close this issue, can't we? Or do you usually wait until the release?

[2018-08-18 09:10] martijn00 commented on #2518
We should probably also implement this on Android.

[2018-08-18 09:12] markuspalme commented on #2518
@martijn00 I will give it a show. I can't add the Android label myself to the issue.

[2018-08-18 14:29] nmilcoff commented on #2518
I think Android currently does this through navigation (if you navigate to a tab which is already there, it is selected). We should add support to the hint and remove the code on the navigation part.

[2018-08-20 20:28] CMorooney commented on #2810
I'll try and submit a PR later for this

[2018-08-21 06:55] Rajmund-Kormendi commented on #2999
@nickrandolph the generated email appears in the app with the attachments, but the received email doesn't contain the attached files.

[2018-08-21 07:13] Cheesebaron commented on #2999
Relates to #2988
The plugin needs to implement a ContentProvider on Android in order for other apps to get files from it.

[2018-08-21 07:31] Cheesebaron commented on #2157
Nop. I'd say we close it.

[2018-08-21 07:31] #2157 closed

[2018-08-22 05:39] Cheesebaron commented on #3065
I think it is a mistake that `ViewDestroy` is called in `Loaded`. @thongdoan would you be able to create a pull request to fix this?

[2018-08-22 06:10] Cheesebaron commented on #847
@nickrandolph I don't think that is needed at all that @azchohfi makes a PR.

We don't support using Binding Inflate on Android menu's. Another issue is that custom attributes do not seem to be available on these either. However, a custom MenuInflater might be able to anyways.

The native Android MVVM framework does not support this feature either.

[2018-08-22 06:30] Cheesebaron commented on #3034
They've been created, although a slightly different structure. They can be seen here: https://github.com/orgs/MvvmCross/teams

[2018-08-22 06:49] vatsalyagoel commented on #3034
https://github.community/t5/How-to-use-Git-and-GitHub/CODEOWNERS-works-with-users-but-not-teams/td-p/4986

It looks like you've set up the CODEOWNERS file correctly, but I believe the issue you're having is down to team permissions.

Teams are only requested for a review on a pull request when they have write access to the repository on the team itself. It's not enough for all the members to have

[2018-08-22 06:55] vatsalyagoel commented on #3034
Edit: It works with devops : https://github.com/MvvmCross/MvvmCross/pull/3077

Just need to give the teams write access to the repository

[2018-08-22 07:17] thongdoan commented on #3065
Hello @Cheesebaron , I created a Pull Request,

[2018-08-22 11:29] niallermoran commented on #2911
Building the solution doesn't seem to cause these warnings for me. I'd like to find an issue to start contributing.

ta

[2018-08-22 12:29] Cheesebaron commented on #2911
It is still there: https://ci.appveyor.com/project/MvvmCross/mvvmcross#L721

[2018-08-23 03:14] vatsalyagoel commented on #2963
https://github.com/MvvmCross/MvvmCross/pull/3066#issuecomment-415269471

a way to solve this issue

[2018-08-23 03:28] vatsalyagoel commented on #3041
Hi @nickrandolph I was able to reproduce and solve the issue by following the steps above.

The issue happens because the app is not launching form SplashScreen but rather from MainActivity. This causes Mvx to not know where to go once the main activity is launch since the setup in MainActivity is not defined. I was able to get around this by adding setup in both MvxFormsSplashScreenActivity and M

[2018-08-24 07:38] erviem99 commented on #2963
#3066 did not solve my issue

I managed to solve my issue by adding

await Task.Delay(1000);

just after the location permissions dialog was dismissed.

[2018-08-24 19:11] erviem99 commented on #2963
FWIW I encounter the same type of problem with the Acr.UserDialogs plugin if I attempt to display a message right after I have finished awaiting a call to IMvxNavigationService.Navigate<T>.

Again the solution is await Task.Delay(1000)

[2018-08-25 02:33] nickrandolph commented on #2963
@erviem99 do you still see this issue on the latest 6.2 beta? with the latest changes to navigate, if you await it, you should be safe to do other UI activities immediately after it completes without having to use a delay.

[2018-08-25 11:53] erviem99 commented on #2963
I can't run the Playground.Droid project from the latest Develop branch.

There are many warnings during start along the lines of:
[Warning] Language file could not be loaded for .BaseViewModel - FileNotFoundException: Unable to find resource file Resources/BaseViewModel.json

And finally
MvvmCross.Exceptions.MvxException: Problem navigating to ViewModel RootViewModel

Crash

[2018-08-27 06:54] fredeil commented on #2911
I'm taking this issue. I will make a PR very soon 👍

[2018-08-27 12:08] Thetyne commented on #2891
Sorry, It's my day off.

I will take more time for try with last mvvmcross version.

[2018-08-27 12:11] Thetyne commented on #2832
Sorry, it's my day off.

i can't test at the moment

[2018-08-27 17:16] mgochmuradov opened #3080 "Cannot use any MainWindow type other than MvxWindow"
## 🔙 Regression
I have started a new WPF project, and would like to use a custom Window type (for ex: RibbonWindow), before I had no issues with it, but now it seems that I have to use MvxWindow, for application to work.
I have tried just implementing IMvxWindow, on my MainWindow class, but this doesn't helped.

### Old (and correct) behavior
We could use any type of Window.

### Current behavior

[2018-08-29 05:55] Cheesebaron commented on #3080
Old behavior on what version of MvvmCross?

[2018-08-29 09:28] #3080 closed

[2018-08-30 09:53] reense commented on #2502
Is there any progress update on this?

[2018-08-31 02:18] nmilcoff commented on #3017
Same issue as #2810. Is it possible for any of you to kindly raise a PR? It seems like you got it and all that is needed is to actually apply the change in the source code :)

[2018-08-31 02:29] nmilcoff commented on #2898
In the case of UITableView, I think this was fixed in #2644. Or do you still have issues with that?

[2018-08-31 02:31] nmilcoff commented on #2857
@andrewtechhelp do you have any news on this? I would love to help you getting that PR ready!

[2018-08-31 02:41] nmilcoff commented on #1623
@simon-wainy unfortunately this is not really an issue.

By default, MvvmCross assumes you will have a different ViewModel instance for each Fragment in the ViewPager. Having one ViewModel per View is a convention the framework has.

I would suggest you apply a different technique to share that model, or otherwise maybe extend `MvxCachingFragmentStatePagerAdapter` to manage your scenario (which wo

[2018-08-31 02:41] #1623 closed

[2018-08-31 02:47] nmilcoff commented on #3014
@SOFSPEEL can you please add a stacktrace of the issue you're having in your PRD environment?

To answer your questions, AppStart runs when the framework is already initialized. If Mvx wouldn't be up and running, you wouldn't have a ViewModel attached to your View in the first place :)

[2018-08-31 02:49] nmilcoff commented on #2969
Should Xamarin.Forms be initialized when the app starts in background? 🤔

[2018-08-31 02:55] nmilcoff commented on #2991
If you are able to reproduce this issue in the Playground project please let us know - otherwise it looks like there is something going wrong on your end (we haven't received any similar report - yet).

[2018-08-31 07:40] softlion commented on #2898
Will try the fix. Closing for now.

[2018-08-31 07:40] #2898 closed

[2018-08-31 12:36] #2920 closed

[2018-08-31 14:48] tbalcom opened #3083 "Playground.Droid can't navigate to RootViewModel"
## 🐛 Bug Report
`MvxDefaultViewModelLocator.RunViewModelLifecycle(IMvxViewModel viewModel, IMvxBundle parameterValues, IMvxBundle savedState, IMvxNavigateEventArgs navigationArgs)` is throwing a NullReferenceException because `navigationArgs` is null.

   at MvvmCross.ViewModels.MvxDefaultViewModelLocator.RunViewModelLifecycle (MvvmCross.ViewModels.IMvxViewModel viewModel, MvvmCross.ViewModels.IMv

[2018-08-31 16:26] markuspalme commented on #2518
I tried working on android support, but am blocked because of #3083. Will continue once fixed.

[2018-09-01 16:12] andres-gimenez opened #3089 "ViewMode and Standalone Window in UAP"
## 🚀 Feature Requests

I'm trying to implement a ViewPressentantatio for modal and Standalone view in UWP. But I'm having trouble with MvxWindowsMainThreadDispatcher.

With separate windows, each window has its dispatcher. You have to modify MvxWindowsMainThreadDispatcher, and I'm not sure how. Any suggestions?

### Contextualize the feature

### Describe the feature

### Platforms affected (mark

[2018-09-02 06:31] MartinZikmund opened #3090 "Proper implementation of UWP suspension"
## 🐛 Bug Report

MvvmCross currently does not handle UWP suspension app lifecycle properly.

When app goes into suspension,[ `MvxSuspensionManager` is used in `MvxApplication`](https://github.com/MvvmCross/MvvmCross/blob/bdaa09299714d94cf3f2c548a465d994c20d52f0/MvvmCross/Platforms/Uap/Views/MvxApplication.cs#L121) to store the current state of the app, including navigation:

[code]

This behavior

[2018-09-02 08:10] mkshiblu commented on #2330
I have the exact same issue on iOS. MvvmCross 5.6.3.

[2018-09-02 08:28] MartinZikmund commented on #3083
Can confirm this affects all platforms, your proposed solution fixes them all, not just Android :-)

[2018-09-03 15:48] andrewtechhelp commented on #2857
@nmilcoff Heya. I haven't looked at any of this for a few months because I've been going through the process of moving house. I do plan to get back to this soon though :)

[2018-09-04 18:58] markuspalme commented on #3083
I can confirm that this fixed the problem for Android. But is this solving the problem at the root cause? Do we understand why the `navigationArgs` are suddenly null?

[2018-09-04 19:51] tbalcom commented on #3083
We probably need some input from @nickrandolph here. `navigationArgs` was recently added in PR #3046.

[2018-09-04 20:31] nmilcoff commented on #3083
Well, looking at the source code, `null` is the default value there (the parameter is marked as optional only on the interface and not on the implementation). So I think the PR is good. But we better wait until he reviews it

[2018-09-04 22:11] nickrandolph commented on #3083
The PR is good but I agree that there is a concern as to why the value is null. Think we need to investigate that before closing this issue.

[2018-09-05 10:29] ElteHupkes commented on #2458
Okay, I've setup my Windows environment (half a day), produced a working emulator (another half a day; still, every second build fails to deploy. Seriously, I used to work on Windows, this is far worse than I remember) and produced a navigation sample in the Playground (about 10 minutes). However, whether it is Playground.Droid or something with the emulator on Windows, my usual approach to testin

[2018-09-07 10:41] michaelkollmann opened #3091 "Android XAML Preview no longer works in my Xamarin.Forms project using MvvmCross"
## 🐛 Bug Report

My Android XAML Preview no longer works since implementing MvvmCross in my shared .NET-Standard project.

Here's the designer error:

[code]

### Expected behavior

I'd expect the Android XAML Preview to work just like the iOS XAML Preview does.

### Reproduction steps

I uploaded my solution to https://github.com/michaelkollmann/mvvmcrossissue.git
Just open the solution, go to pr

[2018-09-07 13:34] nunohorta commented on #1941
@mvanbeusekom how far did you get with the PoC?

[2018-09-07 13:38] mvanbeusekom commented on #1941
@nunohorta to be honest (maybe should have mentioned this earlier, apologies for that) this topic doesn't have my attention at the moment.

due to changing balance in work and private situation I am not in the situation to actively work and contribute to MvvmCross at this moment.

[2018-09-08 15:40] vkhadyka opened #3092 "MvvmCross Xamarin IOS “Could not find view for ViewModel”"
I use Storyboard with MvvmCross and Xamarin iOS. A I'm getting exception. Here is stack trace:

My TutorialView:

[code]
My BaseViewController:

[code]
If I remove `BaseViewController` and inherited my `TutorialView` from `MvxViewController`, everything works great, but with my base class I'm getting the exception.

[2018-09-08 16:29] vkhadyka commented on #3092
There was wrong package library usage.
I remove MvvmCross.IOS.Support and MvvmCross.Platform nuget packages.
MvxViewController from MvvmCross package.

[2018-09-08 16:29] #3092 closed

[2018-09-10 09:43] dmccaff commented on #2969
Wondering if there is some sort of workaround for this in the meantime? It's causing me issues.

[2018-09-10 11:29] Corstiaan84 opened #3093 "Cannot register two managed types"
Hi there,

I have three projects in my (1.5-year-old) solution:

1. Project.Core
2. Project.iOS
3. Project.Droid (not relevant for this issue)

Project.Core builds successfully but when building for device Project.iOS throws:

`/Project.iOS.iOS/MTOUCH: Error MT4116: Could not register the assembly 'Cirrious.MvvmCross.Binding.Touch': error MT4118: Cannot register two managed types ('Cirrious.MvvmCr

[2018-09-11 05:45] Cheesebaron commented on #3093
Check your references in the csproj files. Remove anything that is prefixed with Cirrious.

[2018-09-12 07:33] Cheesebaron commented on #3090
Thank you for your comprehensive report @MartinZikmund. It seems like you have a very good idea what needs to be done to fix this issue. Would you be able to contribute a PR fixing this?

[2018-09-12 07:48] michaelkollmann commented on #3091
Thank you very much!

I'm not familiar with your release process. When do you expect I can get an updated NuGet package (either 6.1.2 (3?) or 6.2.0 preview) to work with?

[2018-09-12 08:28] #3083 closed

[2018-09-12 08:40] nickrandolph commented on #3091
@Cheesebaron correct me if I'm wrong but there should be a myget package generated as soon as the PR is merged???

[2018-09-12 10:42] Cheesebaron commented on #3072
It explodes currently, because `Setter` is not a `BindableObject` which the Lang and Bind extension expects.

I think we would need more code to be able to bind DataTriggers correctly. I've made a PR to fix  the crash and log a warning when this is used. However, we should probably make a new issue, requesting this feature, being able to bind in DataTriggers with the markup extensions.

Workaround

[2018-09-12 11:29] Cheesebaron commented on #3091
There, should, yes.

[2018-09-13 02:31] #3017 closed

[2018-09-13 06:28] jacodv opened #3098 "Remove `InternalsVisibleTo` or sign assemblies"
## 🏗 Enhancement Proposal

Currently, the source has some InternalsVisibleTo attributes that expose some of the types only to other members of the solution.  Because these attributes only specify the assembly name you cannot sign the assemblies in the source code.

### Pitch
The suggestions are; either sign all assemblies and update the attributes to include the public key or remove the attributes

[2018-09-13 11:12] SSElliott opened #3099 "MvxAndroidSetup cause Splash Screen crash (MvxAndroidApplication works fine)"
After a conversion of a Mvvm Cross 4.4.0 project (droid only with .net standard dll) I found it hangs on the splash screen.  To try and diagnose the problem I took the TipCalc project MainApplication.cs to use the same technique and  as my existing project....

 public class Setup : MvxAndroidSetup
    {
        protected override IMvxApplication CreateApp()
        {
            var x = new TipCa

[2018-09-13 12:41] Cheesebaron commented on #3099
Please use the bug report template.

[2018-09-13 13:10] Cheesebaron commented on #3098
We currently use `InternalsVisibleTo` because of our internal logger classes. We are not going to sign the assemblies. So I guess the solution here would be to make them private instead.

[2018-09-13 15:53] #2931 closed

[2018-09-13 22:29] MoeHamdan opened #3102 "MvxAndroidSetup pointing to wrong views namespace"
## 🐛 Bug Report

MvxAndroidSetup

[code]

### Expected behavior

[code]

### Reproduction steps

### Configuration

**Version:** 6.x

**Platform:**
- [ ] :iphone: iOS
- [x] :robot: Android
- [ ] :checkered_flag: WPF
- [ ] :earth_americas: UWP
- [ ] :apple: MacOS
- [ ] :tv: tvOS
- [ ] :monkey: Xamarin.Forms

[2018-09-14 04:53] jacodv commented on #3098
Thank you for the reply.

May I ask why you have an issue with signing the assemblies.  Signed assemblies can be used everywhere, as oppose unsigned assemblies that cannot be used in signed assemblies.  If it is effort vs your priorities on the backlog, then I can assist with a pull request.  The option is to create a signed and unsigned Nuget package.  See RestSharp and RestSharpSigned

In any ca

[2018-09-14 04:57] nickrandolph commented on #3098
but don't we sign the assemblies within the nuget package?

[2018-09-14 05:03] Cheesebaron commented on #3098
@nickrandolph ah right. I think the .NET Foundation Sign Client actually does that. I just opened up the new NuGet and I see the dlls are signed now. Not sure if that is enough? @jacodv can you please check with 6.2.0?

[2018-09-14 05:07] jacodv commented on #3098
Will do, thank you.  Can I revert on this thread with my findings later today?

Sent from Mail<https://go.microsoft.com/fwlink/?LinkId=550986> for Windows 10

________________________________
From: Tomasz Cielecki <notifications@github.com>
Sent: Friday, September 14, 2018 7:03:39 AM
To: MvvmCross/MvvmCross
Cc: Jaco De Villiers; Mention
Subject: Re: [MvvmCross/MvvmCross] Remove `InternalsVisibleTo

[2018-09-14 06:15] Cheesebaron commented on #3098
Yes, we will keep the issue open. Please do return with your findings 👍

[2018-09-14 13:18] mmangold7 commented on #3090
@MartinZikmund If you have any suggested changes beyond what I have done in the PR please let me know, I based it entirely off of what you said in this issue.

[2018-09-14 17:21] valentasm1 opened #3104 "Xamarin.Forms StarWarsSample stuck on SplashScreen after update to v6.2.0"
## 🐛 Bug Report

I just downloaded https://github.com/MvvmCross/MvvmCross-Samples/tree/master/StarWarsSample
Updated MvvmCross to v6.2.0 and app stoped to work. I use Xamarin.Forms version. It stuck on SplashScreen. Not really shure what is happening, but i think it should be related to log line (MvvmCross.Logging.MvxLog) No view model association found for candidate view RootActivity

Could be re

[2018-09-14 20:20] FabriBertani commented on #3104
I've submited a PR for this issue: [Star wars sample update to v.6.2.0 #130](https://github.com/MvvmCross/MvvmCross-Samples/pull/130)

[2018-09-14 20:36] nmilcoff commented on #3104
I'll close this as the sample has been successfully updated (and a fix was applied).

Please feel free to reopen the issue if the sample doesn't work.

[2018-09-14 20:36] #3104 closed

[2018-09-15 23:31] nmilcoff opened #3106 "Docs: Navigation is outdated"
## 🐛 Bug Report

#3046 introduced quite a few changes and no docs were updated. [This document](https://www.mvvmcross.com/documentation/fundamentals/navigation) is therefore outdated.

Things I've noticed:
- It does not explain how cancellation works.
- The interface `IMvxNavigationService` has changed and the listed methods do not match anymore.

[2018-09-16 18:14] #3102 closed

[2018-09-16 18:57] #3093 closed

[2018-09-16 18:57] #3091 closed

[2018-09-17 05:36] Cheesebaron commented on #3106
To be honest, I don't think we should list the API there at all, since it is prone to change a lot over time.

However, adding the new changes introduced in 6.2 in the doc is 👍

[2018-09-17 09:06] markuspalme commented on #2518
How that https://github.com/MvvmCross/MvvmCross/pull/3086 is merged, I think we can close this issue, right?

[2018-09-17 12:06] #2518 closed

[2018-09-17 18:53] markuspalme opened #3108 "Documentation: .NET Standard Library instead of PCL?"
The documentation recommends PCLs for shared code across platforms:
https://www.mvvmcross.com/documentation/getting-started/portable-class-library-pcl

I read the page a couple of times and did not really understand what it's trying to convey. For example, the statement `it is possible to write the MvvM either as a PCL or as a shared project` does not make a lot of sense to me.

Should we a) get r

[2018-09-17 21:35] nickrandolph commented on #3108
We should definitely update this to recommend using .NET Standard library, ideally with multi-targeting now.
See https://nicksnettravels.builttoroam.com/post/2018/08/19/Getting-Started-with-XamarinForms-and-Multi-Targeting-in-Visual-Studio.aspx for setting up a csproj for multi-targeting

[2018-09-18 07:53] dastbayoo opened #3109 "Allow ResX key names to comply with naming guideline when using ResXLocalization"
## 🏗 Enhancement Proposal

The [naming guideline for ResX resources](https://docs.microsoft.com/en-us/dotnet/standard/design-guidelines/naming-resources) recommends to only use alphanumeric characters and underscores. However, MvxResxTextProvider relies on the dot (.) as a separator, which is not compliant. It would be great if the separator could be configured (in order not to introduce a breakin

[2018-09-18 12:54] #3099 closed

[2018-09-18 14:00] StevenBonePgh commented on #3109
This is a duplicate of #2926 which I added. I am waiting for a response from the maintainers as how it should be fixed, and proposed several options, including yours, based on the level of breaking change they are tolerant of. I would gladly submit a pull request, but I don't wish to do it more than once, hence the query.

[2018-09-19 16:09] hoquem1 commented on #2502
@afk013 Do you want to share your demo code?

[2018-09-20 11:54] SSElliott opened #3110 "Branch for 4.4.0 and 4.4.0 plugins"
Hi

I have a project using MvvmCross 4.4.0 with 4.4.0 plugins. Is the URL
https://github.com/MvvmCross/MvvmCross/tree/b830ab5189323b2ff9059e08ba359b4956709889/

correct for viewing and downloading the code for this version. I am not in a position to upgrade to the very latest with this project, and want to make sure I have local copy in case I come across any problems.

Steven

[2018-09-20 12:19] tatlacas opened #3111 "Xamarin.iOS stuck on Launchscreen after update to 6.2"
## 🐛 Bug Report

Xamarin.iOS stuck on Launchscreen after update to 6.2
### Expected behavior
Show Launchscreen then navigate to firstViewModel
### Reproduction steps
Run any Xamarin.iOS sample projects. App will show Launchscreen and run Initialize of ViewModel but View not shown.
### Configuration

**Version:** 6.2

**Platform:**
- [x] :iphone: iOS
- [ ] :robot: Android
- [ ] :checkered_flag: WPF

[2018-09-20 12:55] nmilcoff commented on #3111
I tested this on the [StarWarsSample](https://github.com/MvvmCross/MvvmCross-Samples/tree/master/StarWarsSample) on both `traditional` and `Forms` iOS apps and it's working fine.

On which sample did you see this?

[2018-09-20 14:07] dastbayoo commented on #3109
I am sorry that I failed to see there already was an issue for this. I am not sure I understand your comment: Are you asking whether we might both be submitting a pull request?

[2018-09-20 14:36] #3111 closed

[2018-09-20 14:38] tatlacas commented on #3111
Found the issue. For anyone who get this bug,` NavigateToFirstViewModel()` MUST `return Navigate<YourViewModel>();`. I had a Task running in here and it was working before the 6.2 update. Not anymore.

[2018-09-20 14:38] StevenBonePgh commented on #3109
I'm saying I won't be submitting a pull request until I get a response from the maintainers as to how they wish it to be fixed, as it can be fixed with varying levels of breaking changes. I'm hesitant to submit breaking changes without maintainer buy-in first. I worked around it by deriving from `MvxResxTextProvider` and overriding `GetText` and `TryGetText` since they are fortunately virtual. I n

[2018-09-20 15:38] nmilcoff commented on #3111
`NavigateToFirstViewModel` should also work if you do something like `await NavigationService.Navigate<YourViewModel>()` within the method.

I don't think you should have many `await`s at that point, it's has a direct impact on the user UX.

[2018-09-21 07:47] dastbayoo commented on #3109
Okay, thanks for clarifying and even providing an advice for a workaround. I was just unclear whether you were implying I should take some kind of action. I guess I'll just mark it as duplicate.

[2018-09-21 07:48] dastbayoo commented on #3109
Duplicate of #2926.

[2018-09-21 07:48] #3109 closed

[2018-09-21 07:49] dastbayoo commented on #3109
Well, the marking kinda didn't work.

[2018-09-21 14:02] Cheesebaron commented on #3110
Use: https://github.com/MvvmCross/MvvmCross/tree/4.4.0

[2018-09-21 14:02] #3110 closed

[2018-09-21 14:02] Cheesebaron commented on #3098
@jacodv any status?

[2018-09-21 14:18] Thetyne commented on #2813
I have migrate mvvmcross 6.0 to 6.2, and my application display SplashScreen then nothing.

After searh, i found that RunAppStart isn't call in xamarin forms project.
if i replace it by RunAppStartAsync, it work.

i need use RunAppStartAsync or RunAppStart ?

[2018-09-23 20:34] yanxiaodi opened #3114 "The async loading in the Initialize method of the first viewmodel for UWP"
## 🔙 Regression

We already have some discussions regarding the async loading in the Initialize method of the viewmodel. According to the PR #2866 , the Android project should work, but UWP can't.

### Old (and correct) behavior

With the previous version, we can create a CustomMvxAppStart class to support an async loading in the Initialize method: https://nicksnettravels.builttoroam.com/post/2018

[2018-09-23 21:13] nickrandolph commented on #3114
@yanxiaodi I'm not sure I understand what you mean by this issue. There is no regression from what I can see - all platforms can take advantage of the async support for Initialize. However, Android is the only one that currently takes advantage of this. If you want to do async work, you can still specify a CustomMvxAppStart. Can you explain your issue more please

[2018-09-24 02:13] yanxiaodi commented on #3114
I mean I don't need the CustomMvxAppStart for Android, but it is still necessary for UWP. There is only one Core project. Can I use a uniform way for all the platforms? Thanks.

[2018-09-24 02:18] nickrandolph commented on #3114
My point is that this isn't a bug, it's just that we don't provide default support within UWP for async startup

[2018-09-24 09:07] SSElliott commented on #3110
Many thanks

Steven

[2018-09-24 12:11] ElteHupkes opened #3115 "`System.NullReferenceException` in `MvvmCross.MvxAndroidLog..cctor()`"
## 🐛 Bug Report
This error is showing up more and more often in our AppCenter logs, and I've experienced it myself on more than one occasion when opening the app after having it in the background for a while. Likely this it happens during a restore from a suspended state. I'm suspecting there is another problem at the root of this, because as far as I can tell `MvxAndroidLog` is only ever used to

[2018-09-24 12:49] c-lamont commented on #3042
Adding `NoHistory = true` to my Activity fixed the issue for me, but obviously this would not suit everyone.

[2018-09-24 13:46] c-lamont opened #3116 "iOS 12.0 Missing source event info in MvxWeakEventSubscription"
## 🐛 Bug Report

After updating to iOS 12.0.

Using the `Tap()` method from `MvxTapGestureRecognizerBehaviour` throws the exception: `System.ArgumentNullException: missing source event info in MvxWeakEventSubscription Parameter name: sourceEventInfo`

### Expected behavior

The binding would invoke the MvxCommand.

### Reproduction steps

Update to iOS 12.0
Bind a normal UIView tap to an MvxComman

[2018-09-24 14:04] c-lamont commented on #3116
Looking into it further, it seems to be coming from something else. I'll investigate it further. Either way, something with iOS 12.0 has cause the error.

[2018-09-24 14:04] #3116 closed

[2018-09-24 14:42] c-lamont commented on #3116
Looks like iOS 12.0 linker removes SearchBar.

I added this line in the linker include file.

[code]

Also strange is that the placeholder text did not work unless it was included in the above method.

[2018-09-24 16:30] FetFrumos opened #3117 "MvxRecyclerView - how detect scroll event?"
I use MvxRecyclerView in my app. I need to detect the scrolling event. Is this possible?

[2018-09-24 17:14] radioactiveman opened #3118 "iOS App not starting with custom app start"
## 🐛 Bug Report

I am trying to update MvvmCross for a Xamarin.Forms application from version 5.7.0 to 6.2.0.
It uses a custom app start which navigates to a different view model if the session is still valid.
This used to work fine on Android and iOS (with 5.7.0), but with 6.2.0 an exception is thrown for iOS:

[code]

Since the documentation [1] is outdated, I am not sure how to use the navigati

[2018-09-24 23:05] nickrandolph commented on #3118
In theory the .GetAwaiter().GetResult(); shouldn't be required since the base logic already calls this. You could try adding it to the end of the Navigate method and see if that fixes the issue for you

[2018-09-25 09:57] HaraldMuehlhoffCC opened #3121 "MvxMultiRegionWpfViewPresenter - Support for multiple windows needs access to _frameworkElementsDictionary"
## 🏗 Enhancement Proposal

The documentation at https://www.mvvmcross.com/documentation/platform/wpf/wpf-view-presenter states support for multiple windows app. This is true if one is directly using the `MvxWpfViewPresenter`.

We're using a modified version of the `MvxMultiRegionWpfViewPresenter ` from the samples https://github.com/MvvmCross/MvvmCross-Samples/blob/master/XPlatformMenus/XPlatformM

[2018-09-25 09:59] martijn00 commented on #3121
A PR would be appreciated.

[2018-09-25 12:44] HaraldMuehlhoffCC commented on #3121
Any special branch I should fork on? Please bear with me since this would be my first PR ever ;)

[2018-09-25 13:20] Cheesebaron commented on #3121
@HaraldMuehlhoffCC just branch from develop

[2018-09-25 13:26] radioactiveman commented on #3118
The exception was not related to the custom app start, when using `RegisterAppStart<LoginViewModel>()` instead of `RegisterCustomAppStart<CustomAppStart>()` the same exception was thrown.

The problem was caused by the custom view presenter. Before (with 5.7.0) it was initialized in the iOS Setup class like this:

[code]

With newer versions of MvvmCross the FormsPagePresenter needs to be initiali

[2018-09-25 13:26] #3118 closed

[2018-09-25 14:34] artakhak opened #3124 "No way to detect software back button click in Android device in Xamarin.Forms application that uses MvvmCross."
## 🐛 Bug Report

We want to prompt the user when the back button is pressed (since a critical task might be executed when the user presses the back button).

We were able to implement this for UWP and Android device hardware back button by overriding the method bool OnBackButtonPressed() in MvvmCross.Forms.Views.MvxContentPage<TViewModel> (we basically return true in this method and handle the bac

[2018-09-25 17:08] #3117 closed

[2018-09-25 19:06] Goncharuk-Nikita opened #3126 "Xamarin.Android: KeyListener not working on real devices"
## 🐛 Bug Report

In the OnCreate fragment method, I get my EditText from the layout and call SetOnKeyListener:
[code]

**Layout declaration:**

[code]

**EditText styles:**
[code]

My keyListener:
![uqpyo](https://user-images.githubusercontent.com/30652592/46036594-921ee000-c10e-11e8-89dd-62d1e0058960.png)

The problem is that the LocationKeyListener.OnKey method is not called, when I write in Edi

[2018-09-26 09:56] Cheesebaron commented on #3126
I don't see why this has anything to do with MvvmCross. `EditText` is a native Android class, so we cannot do anything about your events not being hit.

[2018-09-26 09:56] #3126 closed

[2018-09-26 12:22] michaldudak opened #3129 "NullReferenceException in MvxAppCompatViewPresenter.ShowTabLayout"
## 🐛 Bug Report

My application's logs tell me a fraction of users of encounter a NullReferenceException thrown when calling MvxAppCompatViewPresenter.ShowTabLayout

Here's the whole stack trace:
[code]

This occurs for about 3% users and is not connected to any particular OS version or phone.

The app contains a main view (TabHostView) that sets its child tabs similarily to how it's shown in the

[2018-09-26 14:46] yanxiaodi commented on #3114
Sorry @nickrandolph I have created the CustomMvxAppStart for UWP but it doesn't work if I put an async method in the Initialize method. Here is my code of the first viewmodel:

[code]

[code]
Register it in the App class in the core porject:
[code]
The first view can't show correctly. The app is frozen.

I know you mean that the first view should be sync, but that means I need to create a sync Spl

[2018-09-27 05:35] andresdsep opened #3130 "TextLabel.Lines is ignored/overridden if Text is bound"
## 🔙 Regression

This is extending UITableViewSource in an IOS application. I am registering a custom ViewCell to use with the ViewSource and doing this binding in it's constructor:

[code]

I am also setting this to let the label have as many lines as it needs:
`TextLabel.Lines = 0;`

### Old (and correct) behavior
Text is bound and shown and as many lines as needed are rendered.

### Current beh

[2018-09-27 06:40] Cheesebaron commented on #3130
We don't do anything with UILabel when binding `Text` other than setting the text: https://github.com/MvvmCross/MvvmCross/blob/develop/MvvmCross/Platforms/Ios/Binding/Target/MvxUILabelTextTargetBinding.cs

[2018-09-27 06:41] #3130 closed

[2018-09-27 10:23] HaraldMuehlhoffCC opened #3133 "Standard way to initialize required internal framework properties beside normal startup & testing; e.g. for WPF design-mode support"
## 🏗 Enhancement Proposal

A few months ago I implemented Design-Mode-Support for our application; the views are WPF & the XAML designer supports design mode for views with a special `d:DataContext="{d:DesignInstance vm:MenuViewModel, IsDesignTimeCreatable=True}"` attribute so the WPF controls in the XAML preview in Visual Studio are already populated with some sample data to make designing & codi

[2018-09-27 10:37] HaraldMuehlhoffCC opened #3134 "Give MvxPopToRootPresentationHint a bundle constructor argument so the Body in it's base class can be set."
## 🏗 Enhancement Proposal

For my multi-window WPF application I had to create my own `PopToRootPresentationHint` because the constructor of `MvvmCross.Presenters.Hints.MvxPopToRootPresentationHint` doesn't offer a way to pass the bundle to it's root class `MvxPresentationHint`. As holding the `MvxBundle` instance is the main purpose of `MvxPresentationHint` it should be possible to set it for `Mv

[2018-09-27 11:12] Cheesebaron commented on #3121
Closing this as it was fixed in #3127

[2018-09-27 11:12] #3121 closed

[2018-09-27 11:14] Cheesebaron commented on #3133
This sounds kind of what we are doing for our UnitTests: https://github.com/MvvmCross/MvvmCross/blob/develop/MvvmCross.Tests/MvxIoCSupportingTest.cs

[2018-09-27 11:52] HaraldMuehlhoffCC commented on #3133
@Cheesebaron Exactly! (BTW - I mentioned the class in my - pretty long - proposal ;) )

I could imagine some public class that can be used to perform basic initialization - either generally or just for special purposes like design-time support (or testing …).
Some guidance / ideas as how to best integrate this into the large MvvmCross puzzle would be very much appreciated!

[2018-09-27 13:58] kvandake opened #3136 "Name mismatch in localization binding on Android"
## 🐛 Bug Report

### Expected behavior
#### Different property name for binding
* **LocalizedTextSource** in [IMvxLocalizedTextSourceOwner](https://github.com/MvvmCross/MvvmCross/blob/master/MvvmCross/Localization/IMvxLocalizedTextSourceOwner.cs)
* **TextSource** in [MvxLanguageBindingParser](https://github.com/MvvmCross/MvvmCross/blob/master/MvvmCross/Binding/Parse/Binding/Lang/MvxLanguageBinding

[2018-09-28 06:04] Goncharuk-Nikita opened #3137 "using Plugin.Connectivity.Abstractions;"
## 🐛 Bug Report

When I set linking to "Sdk and User Assemblies", then when I run the build, I get an exception:

**MvvmCross.Exceptions.MvxIoCResolveException: Failed to resolve type MvvmCross.ViewModels.IMvxAppStart**

Error occurs after call to `RegisterAppStart <T> ()` in App.cs class.
This happens only when you linking "Sdk and User Assemblies", but when you linking "Sdk Assemblies" everythin

[2018-09-28 06:31] Cheesebaron commented on #3137
Add enough stuff in LinkerPleaseInclude.cs to stop this. This is not a bug in MvvmCross.

[2018-09-28 06:31] #3137 closed

[2018-09-28 06:34] Cheesebaron commented on #3134
Fixed in #3135

[2018-09-28 06:34] #3134 closed

[2018-09-28 06:59] Cheesebaron commented on #3133
I think this is vote number 2 for making `MvxLog` not internal. Alternatively as you say we should provide a Design Time helper, which helps setting up all the necessary stuff, similar to what we do in our Tests.

@martijn00, @nickrandolph  what do you think?

[2018-09-28 13:37] xyashapyx opened #3138 "I'm curious how to start app from opening link"
## 💬 Questions and Help

I'm trying to implement opening my app from clicking on link in my web site.
So, user clicks on url like https://www.myWebsite.com and if he is having app installed it should opens.

I was trying to do catch lick in viewModel like
`[assembly: MvxNavigation(typeof(MyViewModelToOpen), @"https://www.myWebsite.com")]
namespace MyApp.Core.ViewModels.PageViewModels
{
    public

[2018-09-28 15:35] artakhak commented on #3124
Fabricio,

Thanks for the response, however as I mentioned in the issue, I already override OnBackButtonPressed() in code behind file of the page xaml.

However the problem is that OnBackButtonPressed() is never executed when Android software back button is pressed.

So overriding this method works for UWP, and Android hardware back button clicks. However, this does not work when the software back

[2018-09-28 22:32] artakhak commented on #3124
The workaround in https://theconfuzedsourcecode.wordpress.com/2017/03/12/lets-override-navigation-bar-back-button-click-in-xamarin-forms/ does not work in MvvmCross since MvvmCross.Forms.Platforms.Android.Views.MvxFormsAppCompatActivity.OnOptionsItemSelected(IMenuItem item) is never executes. This was mentioned in the issue.

I mentioned in the issue that the workaround with overriding OnOptionsIt

[2018-09-28 22:32] artakhak commented on #3124
Could you please re-open the issue, since the issue is not solved

[2018-09-28 22:36] nickrandolph commented on #3124
See open XF issue I referenced above.
If you think this issue has been solved then please provide an XF sample (without MvvmCross) that shows it working and I'll investigate further.
Alternatively, please download the source code and run the Playground sample and point out where you believe Mvx breaks the ability to use the workaround

[2018-09-28 23:51] artakhak commented on #3124
@nickrandolph
I know that XF works based on example in https://theconfuzedsourcecode.wordpress.com/2017/03/12/lets-override-navigation-bar-back-button-click-in-xamarin-forms/

I  know that something is wrong in MvvmCros, since we subclass MvvmCross.Forms.Platforms.Android.Views.MvxFormsAppCompatActivity in Android project and the application runs fine in Android device, except that the method Mvvm

[2018-09-29 01:59] FabriBertani commented on #3124
Did you try to initialize the task you need by a command on the viewmodel and execute that command on the override OnBackButtonPressed method from the xaml? OnBackButtonPressed is from XF and it should work with the hardware back button, at least I never have any kind of problem with that.

[2018-09-29 02:01] nickrandolph commented on #3124
@FabriBertani I might be wrong but the issue isn't with the hardware back button. It's with the software back button that appears by default when using a navigationpage and navigating to a secondary page. My preference is to hide the default navigation bar but I think there is an issue intercepting the back button in the navigation bar because it's a native component. I don't believe this is curre

[2018-09-29 09:36] nickrandolph commented on #3124
I just created a new XF project using the Master-Detail template provided in VS. I added the OnOptionsItemSelected override. Unfortunately the override is not called when any of the menu items are tapped, including the software back button. At this stage this confirms there is still an issue with XF and thus I won't reopen this issue at this point.
Again, happy to be shown otherwise if we can vali

[2018-09-29 14:32] artakhak commented on #3124
@nickrandolph  Thanks for trying out this in XF project. I appreciate the effort. Yes I agree if the overridden method OnOptionsItemSelected () is not execuited in XF than it is a XF issue. Based on the solution at https://theconfuzedsourcecode.wordpress.com/2017/03/12/lets-override-navigation-bar-back-button-click-in-xamarin-forms/ it looks they somehow were able to make this work, but probably t

[2018-09-29 15:33] nickrandolph commented on #3124
Tbh I don't like the standard nav bar, so I typically remove it anyhow. That way you have 100% control and can make it look the same on all platforms

[2018-09-29 19:43] jacob925 commented on #2538
it's broken in my project. where is the playground sample?

[2018-10-01 00:10] nickrandolph commented on #3124
Ok, I've traced down the issue. It totally is XF that's messing with the ability to hook OnOptionsItemSelected but in a legitimate way. The NavigationPageRenderer (for Android) implements IOnClickListener (https://developer.android.com/reference/android/view/View.OnClickListener) and registering this with the toolbar (which is set as the actionbar). This is all as clear as mud if you trawl through

[2018-10-01 13:51] artakhak commented on #3124
@ nickrandolph This is great news. I appreciate you taking time to get to the bottom of the issue. I will use the solution you suggested.

[2018-10-01 14:11] nickrandolph commented on #3124
I hope this helps: https://nicksnettravels.builttoroam.com/post/2018/10/01/Intercepting-the-Android-Software-Back-Button-in-XamarinForms.aspx

[2018-10-02 09:28] xyashapyx opened #3141 "Android is crashing if app opens from deep linking"
## 🐛 Bug Report

I'm trying to open android version of my app with deep linking but it fails if the app is not started. Meanwhile, IOS version works well.

Here is stack trace of the error:
`android.runtime.JavaProxyThrowable: System.ArgumentNullException: Value cannot be null.
Parameter name: source
  at System.Linq.Enumerable.TryGetFirst[TSource] (System.Collections.Generic.IEnumerable1[T] sourc

[2018-10-02 11:04] Nickolas- commented on #2130
Sorry for delayed response. Yes, try to repro with test project and it works correct at 6.2.0!

[2018-10-04 03:42] matt-ankerson commented on #3111
I encountered this issue when upgrading to 6.2 and only overcame it by moving all awaited operations out of `MainViewModel`'s `Initialize` method. Why could this be the case? (my project is modelled after the playground iOS tab bars sample)

[2018-10-04 08:21] projectgoav opened #3145 "[Xamarin.Mac] NSPopover fails to render content when run from .app bundle"
## 🔙 Regression

MvvmCross Mac : Xamarin Native.

MvvmCross appears to cause NSPopover and NSSheet instances to fail to render their contents on Mac OSX Mojave. This behaviour did not occur on previous Mac OSX versions.

### Problem

In our application we have an NSPopover with a tableview, some text and a button. Running our application, in any configuration with Visual Studio attached, the popov

[2018-10-04 14:46] Cheesebaron commented on #3145
Is this reproducible on 6.2.0? We don't support old versions of MvvmCross. However, If you have a fix for this on 5.7.0 we could hotfix that branch.

[2018-10-04 14:59] projectgoav commented on #3145
I'm currently unable to even build v6.2.0 on Mac.

Visual Studio for Windows works fine but you can't run/debug Mac apps from a Windows machine like you can with the remote session support for iOS apps.

Visual Studio for Mac complains about the MSFT Build.Tasks.Git build step and wont proceed. I've tried a complete fresh clone (I had an old one kicking around from v5.0.0) and it still wont work.

[2018-10-04 16:27] Cheesebaron commented on #3145
We are still waiting for the Visual Studio for Mac team to get the IDE ready to consume multi-target projects (it has probably been almost a year ☠️).
You should be able to build using the command-line though invoking `sh build.sh` in the root which will produce nuget packages etc.

As for Build.Tasks.Git, you can try remove the sourcelink dependency in `Directory.build.props`, it is the only thin

[2018-10-05 11:15] projectgoav commented on #3145
I had a bit of a fight to get the thing to build (it assumes that you have both the iOS/MAC AND Android SDKs installed among others) but I've now managed to build the release/6.2.0 branch.

I've also been able to build the 'Playground.Mac' application from within Visual Studio. However, when running the application the app icon appears in the statusbar but no window is ever drawn.

I see the follo

[2018-10-05 13:01] projectgoav commented on #3145
Update:

I've now got MvvmCross to build and run in Debug mode on Mac (via the docs on the website) and when running 'Playground.Mac' all the various setup methods and Mac Lifecycle methods are called.

I'm still not seeing any window being displayed.

[2018-10-05 13:44] c-lamont commented on #3114
I am experiencing this issue with iOS.

This works on Android and iOS:

    protected override Task NavigateToFirstViewModel(object hint = null)
    {
        var tcs = new TaskCompletionSource<bool>();
        Task.Run(async () => tcs.SetResult(await _authenticationService.IsFirstTime()));

        if (tcs.Task.Result)
        {
            _navigationService.Navigate<OnBoardingViewModel>().GetAw

[2018-10-06 23:03] tejas-ad opened #3146 "Mvx Setup randomly fails if the Android app was kept in the background for 4-5 days"
## 🐛 Bug Report

The app has a foreground service and the app is kept running in the background for 4-5 days. After some duration, the MvvmCross references get de-initialized but the foreground services keep running. However, if the app is brought back to the foreground, MvvmCross initialization starts through InitializeFromSplashScreen() but gets stuck after initializePrimary() is completed. Here

[2018-10-07 00:03] nickrandolph commented on #3146
A couple of points here:
- thank you for the quite detailed report- it really helps us identify possible issues
- unfortunately we will only be able to investigate and fix issues that are present in the current release. There are just not enough contributors to back-fill issues from earlier versions
- the next step would be to run the playground sample and see if it has the same issue
- I don't th

[2018-10-08 07:03] Cheesebaron commented on #3145
Maybe you are hitting issues described in: https://github.com/xamarin/xamarin-macios/issues/4509 Xamarin.Mac has some UI issues in Mojave

[2018-10-08 10:51] Cheesebaron opened #3147 "UWP only clears ViewModels from cache on GoBack"
## 🐛 Bug Report

If you keep navigating forwards in a UWP app, old ViewModel instances are kept alive, because the ViewModel cache, never gets any instructions on clearing instances. This means your app will eventually run out of memory and 💥.

Currently it seems like cache only gets cleared with `GoBack` is called on a page.

https://github.com/MvvmCross/MvvmCross/blob/8b121555479a6a7f6647291dbab

[2018-10-08 15:13] projectgoav commented on #3145
Thanks for linking that issue. I'll submit a copy of my screenshots over to them to see if it's something related/they are aware off.

In the meantime I've still been trying to get a reproducable example with Mvx 6.2 since I've had no luck with the Playground project. Having tried the following I'm still no further forward....

#### MvvmCross Project template for Visual Studio
Using your website t

[2018-10-08 19:52] tejas-ad commented on #3146
@nickrandolph Thanks for the quick response! Per your suggestion, I am trying to see if this can be reproduced using the playground sample. I agree, MvvmCross did switch to tasks in the 6.0 release. We did change the ThreadPool and replaced it with a Task.Run and the issue seems to have been fixed. However, we are trying to investigate the "why" behind the issue. Do you know why MvvmCross chose to

[2018-10-08 20:50] fedemkr opened #3148 "Color plugin converters not working in Xamarin.Forms"
## 🐛 Bug Report

The converters which use `IMvxNativeColor` don't work in Xamarin.Forms.

This is because there is no implementation of that interface for Xamarin.Forms (AFAIK). Furthermore, I've debugged it and when it tries to convert the `MvxColor`, the resolved `IMvxNativeColor` returns the one for the platform, e.g. for iOS it returns `MvxIosColor` instead of the one for Xamarin.Forms that ca

[2018-10-09 03:42] weitzhandler commented on #1558
How can I figure out which version of Google Play Services is mapped to each XF version?

[2018-10-09 06:31] Cheesebaron commented on #1558
Just look at the dependencies for the nuget package @weitzhandler

[2018-10-09 07:41] Cheesebaron opened #3149 "ExceptionSafeGetTypes throws if log is not ready"
## 🐛 Bug Report

https://github.com/MvvmCross/MvvmCross/blob/bdaa09299714d94cf3f2c548a465d994c20d52f0/MvvmCross/IoC/MvxTypeExtensions.cs#L16-L28

`ExceptionSafeGetTypes` is not so exception safe. If MvxLog doesn't have an instance it blows up.

### Expected behavior
It is exception safe...

### Reproduction steps

1. Don't use MvxAppCompatApplication and have MvvmCross relfect for Setup.cs
2. Some

[2018-10-09 07:56] projectgoav commented on #3145
After posting on that Xamarin issue you'd linked I was given a patch to test out. With this patch the popovers in our application and those in the v5.7.0 playground application appear to be fixed.

Running the v6.2.0 playground on Mac with this patch applied still results in no window being shown.

While my original issue now appears to be fixed by Xamarin I believe I have encountered a number of

[2018-10-09 07:57] Cheesebaron commented on #3148
We would need to create a separate package for Forms, as there are no TFMs for it. I think this should be a feature request rather than a bug.

[2018-10-09 12:42] weitzhandler commented on #1558
@Cheesebaron
Thanks for your reply, looks like the dependencies all match. Am I missing something?

I've posted my question [here](https://stackoverflow.com/questions/52721291/unable-to-resolve-interface-type-android-gms-maps-googlemap-ioncameramoveliste).

[2018-10-09 12:42] fedemkr commented on #3148
Ok. I'll ammend the docs to state that it does not work on Xamarin.Forms yet and add the reference to this bug so anyone can see the workaround if you think that's fine.

[2018-10-09 13:35] SebastianKruseWago opened #3151 "TargetInvocationException at ViewModel constructor when initializing a collection for the MasterDetail menu"
## 🔙 Regression

This is broken since 6.2.0 and has worked in older 6.1.x and before releases. I guess it came with the switch to Task Async for the initialize methods of the ViewModel.

### Old (and correct) behavior
Works without an exception.

### Current behavior
Crashes with TargetInvocationException.

### Reproduction steps
Use a MasterDetail navigation and initialize the menu within the con

[2018-10-09 13:40] SebastianKruseWago commented on #3141
And know that this is not helpful but I can confirm at least that deep linking works with 6.1.2 of MVX. I use it myself in two apps and I can use the link to start my app on iOS and Android as well. So while you waiting for an answer you may want to continue the debugging.

[2018-10-09 14:25] svenbayoo opened #3152 "MvvmCross Update 6.2.0 causes NullReferenceException when using MvxCommands in unit tests"
## 🐛 Bug Report

After updating our unit test project to MvvmCross 6.2.0 the unit tests vor MvxCommands in ViewModels fail due to an internal error of MvxCommandBase.ctor:

[code]

The code in the ViewModel is the following:
`public IMvxCommand LogoClickedCommand => new MvxCommand(LogoClicked);`

This does not cause any problems when using e.g. MvvmCross 6.0.1.

### Expected behavior

The MvxComma

[2018-10-09 16:37] Cheesebaron commented on #3152
We have loads of tests for Commands in our UnitTests. Parts of MvvmCross require IoC to be initialized among other things. What are you doing to fulfill these requirements?

[2018-10-09 16:38] Cheesebaron commented on #3151
Please provide the full stack trace and exception message.

[2018-10-10 09:21] xyashapyx commented on #3064
@piotrekbigu you can innit your command with allowConcurrentExecutions = true. This is kind of work around.

[2018-10-10 09:29] xyashapyx commented on #3141
@SebastianKruseWago, the tricky thing is that I have to debug app starting from the link, so, the debugger is not attached at that moment.

[2018-10-10 14:01] Cheesebaron commented on #3145
Please open new issues. It might just be that the Mac sample needs a loving hand.

[2018-10-10 14:01] #3145 closed

[2018-10-11 07:39] projectgoav opened #3155 "Visual Studio for Mac can't build a 'Core' project with MvvmCross v6+ nuget package"
## 🐛 Bug Report

1. Create new .NET Standard library in Visual Studio
2. Add `MvvmCross` nuget package to project.
3. Create `App` class which inherits off `MvxApplication`.
4. Build project

### Expected behavior
Both Visual Studio on Windows and Mac should build without errors.

### Actual behavior
Visual Studio for Windows builds project happily.
Visual Studio for Mac complains about missing na

[2018-10-11 07:45] projectgoav opened #3156 "Playground.Mac wont create a window"
## 🐛 Bug Report

1. Build and run the `Playground.Mac` test project

### Expected behavior
Window appears and application is usable

### Actual Behavior
Application icon appears in dock but no window is constructed

### Configuration
- Visual Studio Mac 'Stable' channel
- Mac OSX Mojave

**Version:** 6.x

**Platform:**
- [x] :apple: MacOS

[2018-10-11 12:00] nickrandolph commented on #3155
Can you please confirm that the nuget package has actually been restored. There are plenty of developers using VS for Mac without issue.

[2018-10-11 12:08] projectgoav commented on #3155
- `Right Click -> Build` to force restore. Issue still occurs
- `Right Click -> Restore Nuget Packages` shows "All packages successfully restored" in the console. No other issues or warnings I can see from the output. Issue still occurs
- `Nuget restore <solution>` on the command line completes with the same output as in Visual Studio. Issue still occurs.

Please see: https://github.com/MvvmCross/

[2018-10-11 12:10] alborzmgm opened #3157 "Events or methods for the time app goes to background and become active again."
## 🚀 Feature Requests

I like to to have some events or methods for the time that app goes to background and  become active again.

### Describe the feature

I like to have virtual methods in MvxViewModel and MvxViewController that are fired when the app goes to background and become active again. These are my suggestions:

//Is called when the app goes to background.
public virtual void DidEnterB

[2018-10-11 12:10] svenbayoo commented on #3152
This problem was resolved, using the MvxIoCSupportingTest as base class for the view model tests. An initialization method for unit tests was created:
[code]

More information can be found here: https://www.mvvmcross.com/documentation/fundamentals/testing

[2018-10-11 12:10] #3152 closed

[2018-10-11 12:11] projectgoav commented on #3155
I can also confirm I have the following directory structure:
[code]

I have no path overrides and am using the default package location

[2018-10-11 14:37] nickrandolph commented on #3155
The namespace mvvmcross.core.viewmodels doesn't exist anymore. Please update your code to us mvvmcross.viewmodels.
I think on windows NuGet might be referencing an older version somehow

[2018-10-11 15:06] projectgoav commented on #3155
I've created the following screenshots showning what I am doing, just to be sure I'm doing the right thing! (I've also noticed this uses v6.2.1 but the issue still happens.)

Create New .NET Standard Project:
![screenshot 2018-10-11 at 15 58 17](https://user-images.githubusercontent.com/6363155/46813666-0bedd500-cd6f-11e8-99d4-a590d1f27934.png)

Ensure it's netstandard 2.0:
![screenshot 2018-10-11

[2018-10-11 15:17] projectgoav commented on #3155
Ok.... I'm now utterly confused. I just tried doing the same thing again, with yet another new project.

Low and behold, it now correctly decided there is something that should be imported from MvvmCross, added the using and built...

I think this is one of these VS-Mac/Intellisense quirks on Mac!

[2018-10-11 15:20] arkadiuszokon opened #3158 "ViewDestroy lifecycle method is broken"
## 🔙 Regression

commit which breaks this: https://github.com/MvvmCross/MvvmCross/pull/3006/commits/32b6868e84740e6b7c35a56822736702989b325e

How we should use ViewDestroy now? It's pointless - it's called every time when application goes to background with "viewFinishing" flag set by default to true.

### Old (and correct) behavior
ViewDestroy was called with corresponding native methods of view

[2018-10-11 15:21] projectgoav commented on #3155
Yep. Can confirm that this it all works quite happily now with new projects and the previous project I first saw this issue with. I have no idea what was going on with my VS on Mac....

Sorry to have bothered you on this!

[2018-10-11 15:21] #3155 closed

[2018-10-11 21:35] Plac3hold3r opened #3160 "Update for ShowNestedFragment fragmentHost.IsVisible"
## 🏗 Enhancement Proposal

Remove the [`fragmentHost.IsVisible`](https://github.com/MvvmCross/MvvmCross/blob/develop/MvvmCross.Android.Support/V7.AppCompat/MvxAppCompatViewPresenter.cs#L260) constraint or allow for it to be ignored via a `MvxFragmentPresentationAttribute` property.

### Pitch

Currently, I have an App that is working fine without this check. I needed to override `ShowNestedFragmen

[2018-10-11 21:37] nickrandolph commented on #3157
Two points:
- I would suggest that the naming should be symmetric eg Deactivated / Activated or DidEnterBackground / DidLeaveBackground
- We would love it if you could put together an initial implementation and submit as PR for review

[2018-10-11 22:44] nmilcoff commented on #3160
If I recall correctly, when we implemented nested fragments we saw some weird exceptions when trying to run the fragment transaction while the fragment host was not visible. Does it work for you in that case?

[2018-10-11 22:46] nmilcoff commented on #3157
What about implementing these methods in `IMvxApplication` instead of `IMvxViewModel`?

[2018-10-11 23:16] nickrandolph commented on #3157
Yeh I think events for moving in/out of background should be at application level.
I would like to extend out the methods/events at viewmodel level but I'm not sure what they would look like at this point

[2018-10-12 02:31] xufeipyxis commented on #3104
I was curious and checked the code change and found that only this code seemed to make difference:

        protected override void RunAppStart(Bundle bundle)
        {
             StartActivity(typeof(RootActivity));
             base.RunAppStart(bundle);
        }

       protected override Task RunAppStartAsync(Bundle bundle)
       {
             StartActivity(typeof(RootActivity));

[2018-10-12 05:29] Cheesebaron commented on #3104
@xufeipyxis you are welcome to make that clearer.

[2018-10-12 05:42] #3138 closed

[2018-10-12 05:43] Cheesebaron commented on #3138
Please use [Slack #mvvmcross](https://xamarinchat.herokuapp.com/) or [StackOverflow](https://stackoverflow.com/questions/tagged/mvvmcross) for questions. Github is meant to be used for bugs and feature requests only.

[2018-10-12 07:59] vuurbeving opened #3161 "Android deeplink results in crash"
## 🐛 Bug Report

If the app is running, deeplink works fine. If the app is not running and a deeplink is used to open the app, it will crash. After some investigation I think it all boils down to some code in `FindSetupType<TSetup>()` in MvxSetupExtensions. It tries to locate a type with name "Setup", which might not be available, since it is no longer required to use a seperate Setup class and in

[2018-10-12 08:00] vuurbeving commented on #3141
I did encounter a similar issue recently. My app crashed when opening from a link, only if the app wasn't running (on Android).

I do think it is a little different from yours (different cause), so I opened a separate issue: #3161

[2018-10-12 09:59] stefan89 commented on #2810
I still encounter the same issue with MvvmCross version 6.2.0.

The crash occurred multiple times according AppCenter.

[2018-10-12 11:02] EGoverde commented on #3115
I can reproduce this issue with an app containing a viewpager, putting it to the background, then filling the memory of the device using another app and returning to the app (which will reinitialize).

Somehow only a specific build target had this issue, which had 'AotAssemblies' set to true. Once I removed that value the issue disappeared for me.

[2018-10-12 13:03] Cheesebaron commented on #3161
ExceptionSafeGetTypes blowing up, should be fixed in 6.2.1 see https://github.com/MvvmCross/MvvmCross/pull/3153

[2018-10-12 13:03] #3161 closed

[2018-10-12 14:11] vuurbeving commented on #3161
Ok, I just tested this again with 6.2.1 and the exception is definitely different (so something got fixed i guess), but the exception thrown now is even more in line with the original problem (Setup class non-existant):

[code]

I tried adding a Setup class again and that is a working workaround for the crash, i.e. the app starts, but the deeplink is not followed (it is followed properly when the

[2018-10-12 14:34] Plac3hold3r commented on #3160
It seems at that point in time when navigating the `fragmentHost.IsVisible` is false. However, if I remove the check it does not seem to break the nested fragment navigate and everything works fine.
In terms of the stack, there is one activity with one child fragment initially. I navigate via the fragment's view models, which triggers the creation of the activities view model. Then on the fragment

[2018-10-13 13:06] piotrekbigu commented on #3064
@xyashapyx
Yeah I know it but I do not want to give my commands a chance to execute concurrently :)

[2018-10-13 13:14] piotrekbigu commented on #3158
Hi,
When we can expect a version where this issue will be fixed?

ViewDestroy method is very important in view lifecycle (releasing resources, unsubscribing, etc) and fact that is called whenever view disappears is really critical bug.

[2018-10-13 14:11] nmilcoff commented on #3158
I think ViewDestroy was not being called before, since obviously classes like `ContentPage` do not extend any MvvmCross class.

I'm not sure removing the call to `ViewDestroy` for all Xamarin Forms views is the best solution here.

[2018-10-14 08:33] mkieres commented on #2823
I'm experiencing similar issues.

The problem seems to be related to the timing of the navigation to the tabs. In the Playground sample for the tabs page, navigation to the the MixedNavTab1ViewModel and MixedNavTab2ViewModel is happening in the ViewAppearing of the root TabbedPage (in the MixedNavTabsViewModel). This works fine i.e. the OnAppearing on the tab pages is being called - at least in my

[2018-10-14 13:27] Cheesebaron commented on #3158
@piotrekbigu please don't ask when it is going to be fixed. Instead, if it is such a pressing matter for you, open a PR fixing this and it will most likely get out next time we release.

[2018-10-14 14:35] Plac3hold3r commented on #3160
@nmilcoff I have created PR #3163 which shows an example of this flow. You can see the changes required in the [custom presenter](https://github.com/MvvmCross/MvvmCross/pull/3163/files#diff-413d5ab70aa020cec87c396971ba1ddbR63).

If there are no objections my suggestion would be to create a PR to add a property to the `MvxFragmentPresentationAttribute` allowing for overriding this visibility check.

[2018-10-14 19:29] nmilcoff opened #3164 "Improve registration process for plugins (and other stuffs)"
## Current situation

As pointed out in #2962, our current mechanism for registering plugins needs some refactoring, because we assume plugin assemblies are going to be loaded at the time of registering, and there is no way we can guarantee that (assemblies are normally not loaded by the runtime until / unless they are explicitly used).

Now this means we should probably better stick with an expli

[2018-10-14 19:32] nmilcoff commented on #3164
Summoning @MvvmCross/core and @willsb!

[2018-10-14 19:36] nmilcoff commented on #2127
I'm wondering if plugins like `Visibility` can even exist without a reference to MvvmCross 🤔

[2018-10-15 01:32] nmilcoff commented on #3160
@Plac3hold3r Thanks for that PR! I gave it some runs and it always worked fine.

I would propose instead that we leave the check, but log a warning instead of throwing an exception. I don't think it's necessary to provide a customization path for this :)

[2018-10-15 06:13] Cheesebaron commented on #3164
Since, our current and previous Plugin registrations have been a mixed success. Since, they either relied on bootstrap files that are annoying to keep track of and which we can't add through NuGet's anymore, or now on reflection which is a hit and miss. We should provide a solid way of doing this through configuration as well, perhaps automated as you suggest through Fody.

I think your proposal f

[2018-10-15 07:43] tomcurran commented on #2127
@nmilcoff I'm guessing it probably could. They might need a bit of work to disconnect from mvx and might need something new to connect it back into mvx.

I've seen some developers write a mvx shim for their plugins. Maybe that would be a useful pattern. It would get wider use of the plugins because they don't depend on mvx but still could easily be utilised in mvx as they are now.

Maybe it needs

[2018-10-15 07:46] jacodv commented on #3098
@Cheesebaron , Sorry for the delay.  I got pulled into another project.

We will be trying the new updates and see if we can get / use the signed assemblies.

[2018-10-15 07:52] tomcurran commented on #3164
Potential option to explore: bait and switch the plugins so that each platform laods itself, then add documentation for the one liner code to register the plugin into IoC / Mvx

[2018-10-15 08:03] Plac3hold3r commented on #3160
I'm happy with that approach as well. I'll remove the exception and rather log a warning.

[2018-10-15 08:34] ElteHupkes commented on #3115
Ah, I actually think it only happens here with AOT compiled assemblies also. Let's see if I can figure out what's going on using that information.

[2018-10-15 10:53] radioactiveman commented on #2848
@Thetyne: Do you also have a solution for iOS? Thanks in advance.

[2018-10-15 11:22] slarti-zak opened #3165 "MvxObservableCollection thread unsafety"
## 🐛 Bug Report

The [MvxObservableCollection](https://github.com/MvvmCross/MvvmCross/blob/develop/MvvmCross/ViewModels/MvxObservableCollection.cs) tries to be thread safe by modifying the collection instantly (on the caller thread/task) but delaying the change events and posting them on the main thread using the IMvxMainThreadAsyncDispatcher.

This does not work in cases when the collection is mo

[2018-10-15 11:29] ElteHupkes commented on #3115
I can confirm that it only happens with AOT enabled. The performance improvement with AOT is so staggering that I'm not considering disabling that though.

I tried to find the underlying error by registering an alternative logger in `Fragment.OnCreate()` when it was missing, but that approach is a dead end, because I no longer think there is an underlying error, and `MvxAndroidLog` doesn't really

[2018-10-15 15:09] nmilcoff commented on #3164
@Cheesebaron the only issue with injecting the code in `Setup.LoadPlugins` class is that we no longer force developers to provide their own implementation. Therefore the complexity and corner cases we'll have to deal with in the Weaver is increased. And if we do a step back and force developers to have an implementation of `Setup`, our message is quite confusing.
That's why I'm proposing to introd

[2018-10-15 18:56] marchanddesable opened #3167 "xamarin.android + tabs + viewpager in each tabs"
## 🐛 Bug Report

I have a layout with 4 tabs, each tab contains a carousel of fragments (each fragment loads a .jpg image).
I can see the image of the view pager 1 but all the others are blank... The viewpagers are loaded, I can also see the dots, but the images are not visible...

If I go to page 1 and scroll to bottom, so the viewpager will be removed (it's loaded in a recyclerView list), I can

[2018-10-15 19:12] Cheesebaron commented on #3167
Please provide a sample app that reproduces this. It is entirely unclear how your code looks from your description.

[2018-10-15 20:29] Plac3hold3r opened #3168 "Change `MvvmCross.Droid.Support.Fragment` root namespace"
## 🏗 Enhancement Proposal

I'm not sure if it is an issue with my MvvmCross developer environment setup, but I have intellisense issues with `MvvmCross.Droid.Support.Fragment` namespace and `Fragment` types within presenters and playground samples. Everything compiles fine and there are no runtime issues. But at design time I get the following errors

Looking at what is using this namespace it see

[2018-10-16 06:16] Cheesebaron commented on #3168
I think the naming was done because it then followed how the Android Support libraries were named.

[2018-10-16 12:59] #3160 closed

[2018-10-16 16:13] Plac3hold3r commented on #3168
@Cheesebaron do you also get the intellisense errors in Visual Studio 2017 15.8?

[2018-10-16 21:40] nmilcoff commented on #2738
Although I agree the `Close` method in `IMvxNavigationService` makes it quite confusing, I think for your implementation relying on `ViewDestroy` is probably enough and is the right way to go.

I might be wrong but `IsFinishing` should allow you know if the view is being destroyed or just rotated.

We should probably document this and also the scope of `IMvxNavigationService` close methods / event

[2018-10-16 21:47] nickrandolph commented on #2738
This is actually related to this issue - https://github.com/MvvmCross/MvvmCross/issues/3124
(at least with regards to an XF application). The issue we have is that the platform itself doesn't provide a single point to capture navigation events, making it hard for MvvmCross to intercept them accurately.

I feel that this is one area that we should work on for the next major iteration - tightening u

[2018-10-17 07:53] Goncharuk-Nikita opened #3169 "MvvmCross Android: Linking kills SwitchCompat.Checked propety"
## 🐛 Bug Report

I have layout with SwitchCompat binding to ViewModel

[code]

I also add in LinkerPleaseInclude.cs file some Include methods

[code]

But when I set the **Sdk Assemblies** or  **Sdk and User Assemblies**  linking, my Checked binding is removed.

**Output Message:**

2018-10-16 12:31:17 [WARN] (MvxBind) Failed to create target binding for binding Checked for FlashlightEnabled10-16

[2018-10-17 15:00] michaelkollmann opened #3170 "Closing a modal dialog doesn't work as expected"
## 🐛 Bug Report

I have the following navigation structure in my application:

[code]

Navigating between the RootPage (MasterDetail) and the DevicePage (TabbedPage) works just as expected. I can go back and forth without any issues on both Android and iOS and everything looks and feels just as expected.

Now I have added a nother layer to my navigation:
I can navigate to the StartMeasurementPage

[2018-10-17 17:18] Cheesebaron commented on #3169
I cannot reproduce this.

I created a fresh MvvmCross application added a `android.support.v7.widget.SwitchCompat` element to a layout with binding `app:MvxBind="Checked Herp"` where `Herp` defaults to true. Didn't have to add anything to LinkerPleaseInclude (used default one from MvxScaffolding), which has the base class which `SwitchCompat` derives from. No issues.

Can you provide a small repro

[2018-10-17 19:57] Cheesebaron commented on #3170
Just to be clear, this is a forms app?

[2018-10-18 07:44] Goncharuk-Nikita commented on #3169
@Cheesebaron
When I run your example, the switch is turned off. I add label binding to check `Herp` State

Try to run my test version and click on the switch. if the text of the label will change, then I can't even guess what my problem is.

[MyMvvmCrossApp1.zip](https://github.com/MvvmCross/MvvmCross/files/2490718/MyMvvmCrossApp1.zip)

[2018-10-18 07:53] michaelkollmann commented on #3170
https://github.com/michaelkollmann/mvvmcrossissue/

Here you can find my solution (removed all the unimportant stuff) to reproduce the issue.
Once you have it running it should be pretty obvious what's going wrong here

[2018-10-18 10:04] mkieres commented on #2823
I think this problem might actually be related to the Xamarin.Forms issue https://github.com/xamarin/Xamarin.Forms/issues/3855

[2018-10-18 11:17] Cheesebaron commented on #3169
Can you provide the  full stack trace from the warning?

[2018-10-18 12:21] Cheesebaron commented on #3170
@michaelkollmann cool, thanks. Will take a look soon.

[2018-10-21 20:34] behzad62 opened #3171 "Plugin "MethodBinding" does not work in WPF"
## 🐛 Bug Report
Since version 6, the method binding plugin does not work in WPF apps anymore.
### Expected behavior
`<Button  mvx:Bi.nd="Command SomeMethod" />`

A xaml code like above should call method "SomeMethod".

### Reproduction steps
Just try to bind a Command property of a 'Button' to a source ViewModel method
### Configuration

**Version:** 6.x

**Platform:**
- [ ] :iphone: iOS
- [ ] :ro

[2018-10-22 18:16] indyjason79 commented on #3064
We've been struggling with this issue for the last 6 months. We ended up removing the async from navigation all together and we also have to register the commands on every page load for some reason. If you set a command in the constructor to navigate, then navigate, then go back the command is no longer wired up. To get around this we call a private method called SetNavigationCommands in the ViewA

[2018-10-23 06:57] Cheesebaron commented on #3171
Is the method public?

[2018-10-23 08:44] michaelkollmann commented on #3170
Anything yet?

[2018-10-23 23:52] brainchest opened #3173 "How to add additional ViewModels to the IOC container"
Hi All,

I wanted to follow the section "Overriding ViewModel Location/Construction" in the online help on the page "Customizing App and Setup".

Unfortunately, there is no TryLoad method in the default ViewModel locator which I can override. Is there an updated way of this doing?

What I want to achieve:
-> Add viewmodels to the IoC container separately from any magic done by MvvmCross. All ViewM

[2018-10-24 08:20] Cheesebaron commented on #3173
Please use [Slack #mvvmcross](https://xamarinchat.herokuapp.com/) or [StackOverflow](https://stackoverflow.com/questions/tagged/mvvmcross) for questions. Github is meant to be used for bugs and feature requests only.

ViewModels are not added to the IoC container.

[2018-10-24 08:20] #3173 closed

[2018-10-24 19:30] CMorooney opened #3175 "iOS MvxSimpleTableSource constructor ambiguity/Nib not registered for reuse"
## 🐛 Bug Report

MvxSimpleTableViewSource does not register Nib for reuse if constructor with only TableView and cellIdentifier is used. I didn't see a note for this as a breaking change so I'm assuming it's a bug right now.

### Expected behavior
* using MvxSimpleTableViewSource constructor `MvxSimpleTableViewSource(UITableView tableView, string cellIdentifier)` should try and register a Nib for

[2018-10-24 20:06] Cheesebaron commented on #3171
I cannot reproduce. Make sure that the MethodBinding plugin is loaded correctly.

You can try override `LoadPlugins` in your `Setup`:

[code]

[2018-10-24 21:13] Cheesebaron commented on #3170
It appears to me this is a Xamarin Forms issue. At the time of calling close on the modal there is only the modal in the ModalStack, while the NavigationStack seems to be empty.

Calling `PopModalAsync` here does strange things. It seems to navigate forwards to the RootPage, not back. Look at the Toolbar.

[2018-10-24 21:28] Cheesebaron commented on #3098
Closing this issue as no feedback provided. Open a new issue referring to this one if this is still a problem for you.

[2018-10-24 21:28] #3098 closed

[2018-10-24 21:31] #2962 closed

[2018-10-25 04:49] behzad62 commented on #3171
Yes it seems that this plugin needs to be loaded explicitly in setup. It was not the case in ver 5.x, that's why it confused me. Thanks for your time.

[2018-10-25 10:43] gjrfytn opened #3177 "CustomAppStart methods called twice"
## 🐛 Bug Report

_CustomAppStart_ methods is called twice, because splash screen _OnDestroy_ sets _MvxAppStart.IsStarted_ property to **false**, when application _CurrentTopActivity_ is **null**.

### Expected behavior
I expect _CustomAppStart_ methods to be executed only once.

### Reproduction steps
1. When the application starts, a splash screen is displayed and the methods of the _MvxAppStart_

[2018-10-25 11:43] Cheesebaron commented on #3171
Duplicate of #3164

[2018-10-25 11:43] #3171 closed

[2018-10-25 11:45] ElteHupkes commented on #3115
@orestesgaolin From what I can gather from [searching for it](https://github.com/MvvmCross/MvvmCross/search?q=MvxAndroidLog&unscoped_q=MvxAndroidLog)  the `MvxAndroidLog` isn't used anywhere in `MvxAppCompatActivity.OnCreate()` so I'm guessing that's not where your problem is. I could be wrong of course. For me it only happens in fragments, which use it in a create callback [here](https://github.c

[2018-10-25 11:49] Cheesebaron commented on #3169
Closing this as cannot reproduce this.

If you can provide a project where it is possible to reproduce, please open a new issue referring to this one.

[2018-10-25 11:49] #3169 closed

[2018-10-25 11:49] ElteHupkes commented on #3115
By the way for whomever needs help getting their application suspended, I've found [Android Toolbelt](https://apkpure.com/developer-toolbelt-fill-ram/com.tspoon.androidtoolbelt) to be helpful (also available [in the Play Store](https://play.google.com/store/apps/details?id=com.tspoon.androidtoolbelt&hl=en) but this one you can just drop into an emulator). It just fills up your memory. At some poin

[2018-10-25 14:59] SHuygh opened #3180 "[Android] Bringing application to foreground from Android notification using PendingIntent"
## 🐛 Bug Report

When clicking the notification when the app is in the background the app is not brought to the foreground using IMvxNavigationService. However, the navigation has occurred (when the app is brought to the foreground manually the correct view is shown). This was working in version 5.6.3.

### Expected behavior
App is brought to the foreground when notification is clicked.

### Repro

[2018-10-25 17:18] nmilcoff commented on #3180
Thanks for reporting this. Is it possible for you to provide us with a repro sample? An option is to open a PR with some reproduction code to the [Playground project](https://github.com/MvvmCross/MvvmCross/tree/develop/Projects/Playground).

[2018-10-26 13:17] Nickolas- commented on #3042
Easily reproduce in every projects, you should wait a bit after you move the app to background.
Add this code to splashActivity after on create , it will solve your issue.
[code]

[2018-10-27 08:37] kaanlab opened #3182 "ReflectionTypeLoadException in MainWindow at WPF"
## 🐛 Bug Report

I clone Playground repository from mvvmcros src and try to start WPF sample, but it falls all the time with an error: "ReflectionTypeLoadException: Unable to load one or more of the requested types. Retrieve the LoaderExceptions property for more information"

### Reproduction steps
you can clone my repository and reproduce the bug https://github.com/kaanlab/Playground
### Configu

[2018-10-27 15:58] #3168 closed

[2018-10-29 07:44] symibsoft opened #3184 "Cannot await properly when navigate deep on three view models"
## 🐛 Bug Report

It is not possible to await the navigation result in viewmodel A when navigating on viewmodel B, if the viewmodel B navigate again to viewmodel C.

If I navigate from the viewmodel A to the viewmodel B and I await the result of the viewmodel B, when the viewmodel B navigates to another viewmodel C, the navigation to the viewmodel C starts, buti the await from the viewmodel B in th

[2018-10-29 10:09] michaelkollmann commented on #3170
Are you sure?

I have created the same navigation pattern in Xamarin Forms without mvvmcross and the app works as expected. But maybe there is a difference that I can't see?

https://github.com/michaelkollmann/xamFormsNavIssue

[2018-10-29 11:01] michaelkollmann commented on #3170
I can also reproduce this issue in the Playground xamarin forms project.

I added a "ShowTabChildCommand" command to the SplitDetailViewModel

[code]

and a button to the SplitDetailPage

[code]

Sadly I cannot debug the MvxFormsPagePresenter. For some reason Visual Studio doesn't stop on breakpoints when debugging. At least on android. Not sure if I am at looking in the right place

[2018-10-29 15:15] slarti-zak commented on #3165
I have extended the sample project to iOS, which behaves the same way as Android does. Keep scrolling the list to the bottom and it will crash with a similar error.

[2018-10-29 20:16] nickrandolph commented on #3170
Would you be able to submit this as a WIP PR so it's easy for me to take a look?

[2018-10-30 09:59] Nickolas- commented on #2418
@nmilcoff I did another trick, but have a different issue. I created a custom `BroadcastReceiver` and generated a pending intent from GCMService. When I press on notification, my `BroadcastReceiver` intercepts it and navigates to specific viewModel. It works fine until I update to latest `MvvmCross 6.2.1`. Right now `BroadcastReceiver` does not understand which activity is the top one.
I found a b

[2018-10-30 12:34] nmilcoff commented on #2418
@Nickolas- What version of Mvx were you using before? I would probably start by trying to remove the dependency on `IMvxCurrentTopActivity` in the BroadcastReceiver, as you can actually use `IMvxNavigationService` outside a ViewModel

[2018-10-30 13:41] Nickolas- commented on #2418
I’m not using IMvxCurrentTopActivity in the BroadcastReceiver.
`NavigationService.Navigate<SomeVM> (data);`
There is no top current activity when the app is in the background state.

But I found the problem in my logic. I was trying to present a MvxFragmentViewModel, but with no top current activity the presenter could not understand how to show it. Then I added the logic back. Now it shows the co

[2018-10-30 15:16] NeuronKarrde commented on #2810
As I understand, SplashScreen uses Mvx.Resolve<IMvxAppStart> in several places, fix was made just for one place. One workaround - override RunAppStart in SplashScreen
`protected override void RunAppStart(Bundle bundle)
       {
           if (Mvx.TryResolve<IMvxAppStart>(out IMvxAppStart mvxAppStart))
           {
               if (mvxAppStart.IsStarted)
                   return;

[2018-10-31 07:45] michaelkollmann commented on #3170
When creating the pull request I noticed what ACTUALLY was causing this issue.

Setting the `NoHistory` property of the `MvxTabbedPagePresentation` attribute to false leads to the unexpected navigation behavior. Not sure if it is actually related to navigating from a master / detail to a tabbed page.

[2018-11-01 11:39] Oxoproline opened #3186 "Binding for UIActivityIndicatorView is not working"
## 🐛 Bug Report

Binding for default UIActivityIndicatorView property **Hidden** is not working.

[code]

[code]

In debug you can see only:
[WARN]  (MvxBind) Failed to create target binding for binding Hidden for ActivityIndicatorHidden

It is also not possible to create custom binding for UIActivityIndicatorView either.

in debug again:
[WARN]  (MvxBind) Failed to create target binding for bindi

[2018-11-01 12:04] #3186 closed

[2018-11-02 06:45] bkostic opened #3187 "Data binding Xamarin Forms"
Hi all,

Hi,

I just started using Xamarin Forms and Mvvmcross and I'm issuing problem with data binding. Here is my code:

<?xml version="1.0" encoding="UTF-8"?>
<mvxViews:MvxContentPage
    x:TypeArguments="viewModels:FileInfoViewModel"
    xmlns="http://xamarin.com/schemas/2014/forms"
    xmlns:x="http://schemas.microsoft.com/winfx/2009/xaml"
    xmlns:mvxViews="clr-namespace:MvvmCross.Forms.Vi

[2018-11-02 14:54] nmilcoff commented on #3175
Thanks for reporting this. I assume this was working before, right? What was the latest version this worked for you?

[2018-11-02 15:18] nmilcoff commented on #3175
Yes, I think it is. Please go ahead 🙂 and don't hesitate to ask if you have any questions while working on it

[2018-11-02 22:42] agarciasempere commented on #3187
Hi bkostic,

I think you should change BindingContext="mvxViewModels:FileInfoViewModel" for BindingContext="viewModels:FileInfoViewModel". Anyway you don't need to setup the viewmodel as Bindingcontext cause you passed as argument of the page here => x:TypeArguments="viewModels:FileInfoViewModel".

Viewmodel is alredy setup as the BindingContext of the page.

Hope it helps.

[2018-11-02 22:44] agarciasempere commented on #3184
I noticed same bug in my app, as soon as you navigate from ViewModel B to C, B returns the result to A, in this case null.

**Configuration**
**Version:** 6.2.1

[2018-11-05 12:35] xyashapyx commented on #3184
+1 to same issue

[2018-11-05 13:28] xyashapyx commented on #3184
@symibsoft , @agarciasempere , I've found a workaround. You can just yous MvxNavigationViewModel instead of MvxViewModel and it will work.

[2018-11-05 17:34] drewlederman commented on #2957
Has this been resolved? I'm seeing similar behavior using 6.2.0, but it is happening intermittently. I'm not sure how to repo it, but I will add more info here if I can.

[2018-11-05 19:05] bkostic commented on #3187
Hi agarciasempere,

You are right, it was binding issue. Thanks.

[2018-11-05 19:05] #3187 closed

[2018-11-05 19:21] bkostic opened #3188 "No view model association found for candidate view RootActivity"
Hi,

I'm issuing following error when navigating from one view to another:

No view model association found for candidate view RootActivity.

[code]

[code]

[code]

And I'm navigating from my MainViewModel like this:

[code]

I have tried also navigating to my view model without passing any argument, but I issue same problem.

Regards

[2018-11-05 20:10] drewlederman commented on #2957
I believe I figured out what's happening. My app is provisioned as the device owner (COSU) and sets itself as the "home" activity. Pressing home starts the splash activity again, but the app is already running. The app is responding, it's just stuck on the splash screen.

Here's what my splash activity looks like:
`[Activity(
        Label = "@string/app_name",
        Icon = "@mipmap/icon",

[2018-11-06 10:07] burimameti opened #3189 "upgrading problems from mvvmcross 4 to mvvmcross 6.2"
## 💬 Questions and Help
1. MvvmCross.Plugins.Fingerprint doesnt work on core project

After upgrade to 6.2.1 the following code doesnt (this, SetContentView,FindViewbyId, ViewModel) not recognized. I bold them on the following code.
[code]
can you  help me hwo in version 6.2.1 i make this code work

[2018-11-06 10:08] martijn00 commented on #3189
You need to fill an issues at the MvvmCross.Plugins.Fingerprint project.

[2018-11-06 10:08] #3189 closed

[2018-11-06 10:20] burimameti commented on #3189
thank you  martin

[2018-11-06 10:42] symibsoft commented on #3184
@xyashapyx, thank you for the response. I tried your solution but it does not work for me. The issue is the same.

[2018-11-06 12:08] MKuckert opened #3190 "NuGet Package does not contain MvxConsoleSetup in netcoreapp project"
## 🐛 Bug Report

The `MvvmCross` NuGet Package does not contain the `MvxConsoleSetup` type when referencing from a `netcoreapp` project. The type is correctly exposed when referenced from a .Net Framework project.

### Expected behavior

`MvxConsoleSetup` is also available in `netcoreapp` projects

### Reproduction steps

- Create a new .Net Core App project
- Add reference to `MvvmCross` NuGet Pa

[2018-11-06 12:11] martijn00 commented on #3190
I think we need to add a new `netcoreapp` so we can implement specific `netcoreapp` features instead.

[2018-11-06 12:11] martijn00 commented on #3189
It is a 3th party plugin: https://github.com/smstuebe/xamarin-fingerprint

[2018-11-06 12:49] burimameti opened #3192 "After Upgrade to mvvmcross 6.2.1 i am facing with the issue on Droid project"
## 🔙 Regression

On the code that works on 4.4 i cannot handle this code work on 6.2.1 More precisely FindViewById, SetContentView, ViewModel are not recognized,

### Old (and correct) behavior

[code]

[2018-11-06 12:51] xyashapyx commented on #3184
@symibsoft have you changed just one viewModel base class or base class of all view models in your three?

[2018-11-06 12:51] martijn00 commented on #3192
This is an issue in your own code. Look at the upgrade guides: https://www.mvvmcross.com/documentation/upgrading/upgrade-to-mvvmcross-50?scroll=1663.3333740234375

[2018-11-06 12:51] #3192 closed

[2018-11-06 13:34] symibsoft commented on #3184
@xyashapyx, I changed all my viewmodels in order to inherit from MvxNavigationViewModel.

I have a base viewmodel class like this:

` public abstract partial class BaseScreenNotify : MvxNavigationViewModel<string, string>, IEditableObject, IBaseScreenNotify
 {
      public BaseScreenNotify(IMvxLogProvider logProvider, IMvxNavigationService navigationService) : base(logProvider, navigationService)

[2018-11-06 17:44] #3190 closed

[2018-11-06 20:18] Cheesebaron commented on #3188
None of your posted code is relevant to your issue. You have added RootActivity somewhere, which is somehow recognized as something MvvmCross can navigate to and usually requires a matching ViewModel.

However, this is not the forum to ask questions. Please use StackOverflow or the #mvvmcross channel on XamarinChat Slack. Github is for bugs and feature requests only.

[2018-11-06 20:18] #3188 closed

[2018-11-08 06:15] HaraldMuehlhoffCC opened #3193 "MvvmCross.Test.TestLogProvider not logging anywhere"
## 🏗 Enhancement Proposal

The `TestLogProvider` seems almost functional but the `formattedMessage` isn't going anywhere. Why is it so and wouldn't it be nice if it was shown?

[code]

BTW - Visual Studio 2017 15.8.9 exited several times without message after I opened the MvvmCross.sln.

### Pitch

In UnitTest projects `Mvx.IoCProvider.Resolve<IMvxLogProvider>()` returns a `TestLogProvider`. Sadly

[2018-11-08 09:40] agarciasempere commented on #3184
@xyashapyx, Didn't work for me either, just tried same case as @symibsoft did. Same problem persist. I even noticed on Android that if you put the app on background viewmodel returns null too and you are not able to return result anymore.

[2018-11-08 10:56] michaelkollmann commented on #3170
Anything at all?

Sorry for the spam but I kinda need this functionality for the project I'm working on...

[2018-11-08 11:35] Oxoproline opened #3194 "Tab bar broken when using custom TabbedPage renderer"
## 🐛 Bug Report

When I create custom renderer for MvxTabbedPage, TabbedPage stops working on android. App shows first page, but tab bar is missing. See screnshot below from playground sample app with blank custom renderer.

![screenshot_1541692319](https://user-images.githubusercontent.com/14348847/48210131-089e3700-e377-11e8-967e-073a6bd0bbc5.png)

#### Once I remove custom renderer tab bar appe

[2018-11-08 11:54] petero-dk commented on #2813
I had the exact same issue, upgraded to 6.2 from 6.0 and Android would show nothing! Changed RunAppStart to RunAppStartAsync it worked.

[2018-11-08 16:08] #3194 closed

[2018-11-09 13:33] slarti-zak opened #3196 "First ViewModel being created twice on Android"
## 🐛 Bug Report

When using the default `RegisterAppStart<ViewModel>` and the default `MvxActivity<ViewModel>` for the main launcher, that first viewmodel is created twice.

Maybe this is a regression? A similar bugreport was submitted for a previous version here #2038.

### Expected behavior

The first ViewModel should only be created once.

### Reproduction steps

I have created a sample project

[2018-11-10 11:53] cristian-szabo commented on #3196
I have the same issue. Any workaround solution?

[2018-11-10 20:56] MichaelLHerman opened #3197 "NullReferenceException in MvxCommandBase in unit tests"
## 🔙 Regression

Application unit tests did not have to inherit from MvxIoCSupportingTest and could create MvxCommands as part of execution of the unit test.

MvxCommandBase now calls a method on Mvx.IoCProvider without a null check, throwing an ArgumentNullException if MvxIoCProvider has not been created.

Adding back the null check is less onerous on consumers than requiring that all consumers m

[2018-11-10 21:00] MichaelLHerman commented on #3197
#3152

[2018-11-12 02:34] nmilcoff commented on #1379
@vrishe would you mind opening a new issue referencing this one?

[2018-11-12 08:42] Cheesebaron opened #3198 "Switch MvxColor to System.Drawing"
## 🚀 Feature Requests

Currently we use our own custom MvxColor implementation for cross platform colors. .NET Standard allows us to use built in System.Drawing namespace, which can eliminate our custom implementation.

This will require the following things:

- Adjust `ToNative()` implementation
- Move over extensions like FromHSV and other goodies
- Move over custom MvxColors if necessary

[2018-11-12 08:47] Cheesebaron commented on #3193
I guess it would be appropriate to have it log to xUnit `ITestOutputHelper`, which could be configurable through the fixture maybe. Thanks for reporting this 👍

[2018-11-12 08:49] Cheesebaron commented on #3147
I think in general we should provide some way of configuring how many ViewModels can be in the MvxViewModel cache, or even how many of the same types can be there.

[2018-11-12 08:52] #3072 closed

[2018-11-12 10:59] pablogupi opened #3199 "No view model association found for candidate view MainActivity"
## 🐛 Bug Report

Hello! I have a Xamarin Forms application with MVVMCross. I just updated to version 6.2.2. When run Android application, splash activity show correctly. Seconds after, screen change color to black and appear in log this message: No view model association found for candidate view MainActivity. In version 6.2.1 works perfectly. In 6.2.2 work perfectly in iOS.

### Expected behavior

[2018-11-12 11:07] Cheesebaron commented on #3199
What type is `MainActivity`?

[2018-11-13 03:09] nmilcoff commented on #3042
I couldn't reproduce this one with the debugger attached (kitkat emulator). Can any of you guys reproduce this in Playground.Droid?

[2018-11-13 07:14] Nickolas- commented on #3042
Did you test on real device ?

[2018-11-13 07:52] michaldudak commented on #3129
Unfortunately no, I've never been able to reproduce it myself. I'm only seeing error reports on Visual Studio App Center. Soon I'm going to update the app to MVVMCross 6.2 and see if it helps.

[2018-11-13 08:11] Cheesebaron commented on #3193
I was looking into this yesterday. xUnit doesn't seem to allow injecting `ITestOutputHelper` into fixtures.

It does however allow you to use `IMessageSink` which will become a `DiagnosticMessageSink` at run-time. However, this doesn't really add anything to the output.

So I guess the better solution would be to allow you to provide your own `TestLogProvider` which you can control the implementat

[2018-11-13 10:34] HaraldMuehlhoffCC commented on #3193
@Cheesebaron Thank you for looking into it! The ability to provide my own `TestLogProvider` would certainly be a step in the right direction.

[2018-11-13 11:10] JoshuaLogue opened #3201 "Xamarin forms MvxTabbedPage doesn't render correctly on Android when placement set to bottom"
## 🐛 Bug Report

I have a MvxTabbedPage with 4 tabs.
When I set the placement to Top everything looks great. However, when it is set to bottom the selected image disappears and the selected Tab appears larger than the others.

### Expected behavior
To look like top tab bar
### Reproduction steps
Create tab page and set android:TabbedPage.ToolbarPlacement="Bottom"
### Configuration

**Version:** 6.

[2018-11-13 12:51] nmilcoff commented on #3042
Works fine also using a Samsung S8 device, with and without the debugger.

1. Can any of you guys reproduce this in Playground.Droid?
2. Did you have by any chance "Don't keep activities" enabled?

[2018-11-14 15:17] slarti-zak commented on #3165
I have looked at this further and right now I see two ways to solve this:

## 1 Synchronize Collection Access
Every access to a Observable Collection has to be synchronized. But it is not enough to only lock each of the methods since one could query the index of an element and then use that as a parameter for another method. It may happen that that index would no longer be valid. So a whole operat

[2018-11-14 18:35] radioactiveman opened #3203 "Crash when tapping on Android notification"
## 🐛 Bug Report

Tapping notifications (e.g. push notifications) causes an app crash on Android when the app is started.
It is also no bug in Xamarin.Forms because the crash does not occur with a plain Xamarin.Forms solution, without MvvmCross.

### Expected behavior
Tapping the notification starts the app without a crash.

### Current behavior
Tapping the notification causes the exception below i

[2018-11-15 03:57] haohighview commented on #3129
MVVMCross 6.1.2: NullReferenceException in MvxAppCompatViewPresenter.ShowDialogFragment
 I've never been able to reproduce it myself. I'm only seeing error reports on Visual Studio App Center.
MvxAppCompatViewPresenter.ShowDialogFragment (System.Type view, MvvmCross.Platforms.Android.Presenters.Attributes.MvxDialogFragmentPresentationAttribute attribute, MvvmCross.ViewModels.MvxViewModelRequest re

[2018-11-15 05:33] nxus-nick commented on #2502
Is there any hack work around for this?

I would love to use Mvx for my current forms app as I plan to transition to Xamarin.iOS and Xamarin.Android eventually - however, this bug is killing my ability to do so.

I tried adding the tabs as you would in a normal xamarin forms app but it seems to mess up the whole Mvx navigation stack.

[2018-11-15 08:45] reense commented on #2502
The hack is using another framework. I was halfway through creating my app, when I found out about this issue. I switched to FreshMVVM, it works perfectly.

[2018-11-15 14:08] radioactiveman commented on #3203
I have finally found a fix. For the activity the launch mode has to be set:
[code]

[2018-11-15 14:08] #3203 closed

[2018-11-16 00:47] nxus-nick commented on #2502
@nickrandolph @martijn00

This is my first time poking around in the Mvx source code, and I only have been looking into the framework itself for a few days.  It looks like this bug is related to: https://github.com/MvvmCross/MvvmCross/blob/develop/MvvmCross.Forms/Presenters/MvxFormsPagePresenter.cs#L590

The child page is added without checking its PresentationAttributes, specifically the WrapInNa

[2018-11-16 14:19] rurounidev commented on #2502
Any progress on this or a workaround?  We are currently having the same problem and can't seem to find a workaround.

[2018-11-16 17:13] vrishe commented on #1379
Sure, @milcoff but as soon as I'll be ready with kind of demo project where this case is consistently reproduced.

At current time I wasn't able to reproduce such a behaviour in my sandbox project. Feels like an issue is local to my main project, rather than framework-bound one. Thus, I might have hurried with reviving this discussion thread at all. =\

[2018-11-17 14:09] RobinGitHub opened #3208 "How to implement Single view for multiple ViewModels Or Single ViewModel for multiple Views in MvvmCross"
How to implement Single view for multiple ViewModels Or Single ViewModel for multiple Views in WPF

[2018-11-17 14:40] martijn00 commented on #3208
Please make a proper issue by filling out the issue template.

[2018-11-17 14:40] #3208 closed

[2018-11-19 13:59] nmilcoff commented on #2810
@NeuronKarrde would you mind opening a PR with these changes?

[2018-11-19 15:48] xyashapyx commented on #3184
@symibsoft
I found one more workaround:)
you can override your 2nd view model ViewDestroy like
public override void ViewDestroy(bool viewFinishing = true)
        {
            base.ViewDestroy(false);
        }

[2018-11-19 20:59] #3199 closed

[2018-11-20 00:45] nmilcoff commented on #3201
Can you please share some code? The first tab is occupying much more space because it is selected. Are you setting titles to your tabs? If there is an issue here, I would say it's more likely on the Xamarin.Forms side.

[2018-11-20 00:50] nmilcoff commented on #3182
Have you tried this with the `Playground.Wpf` project in this repository (`develop` branch)? I just gave it a run and it's working fine.

[2018-11-20 08:22] NeuronKarrde commented on #2810
I haven't permission to push and create PR. How can I get them? Just change from at MvxSplashScreenAppCompatActivity and MvxSplashScreenActivity
`protected virtual async Task RunAppStartAsync(Bundle bundle)
        {
            var startup = Mvx.IoCProvider.Resolve<IMvxAppStart>();
            if (!startup.IsStarted)
                await startup.StartAsync(GetAppStartHint(bundle));
        }`

t

[2018-11-21 17:32] Cheesebaron commented on #2810
@NeuronKarrde fork the repository.

[2018-11-21 22:24] Gabriel1786 opened #3209 "awaiting MvxViewModel.Initialize() is buggy"
## 🐛 Bug Report

So the docs say that all heavy loading should be done in MvxViewModel.Initialize(), however anytime I put an await inside that method, the app doesnt load the VM's view. I originally had all my code from ViewCreated() inside Initialize().

[code]

### Expected behavior

I wanted to load some things and present to the user what is being loaded onscreen through LoadingMessage proper

[2018-11-22 08:22] flyingxu opened #3210 "Development on Mac, can't build the projects"
## 🐛 Bug Report

It seems that the mvvmcross.sln can't be build on a Mac with Visual Studio for mac IDE.
but I see some issues related to mac like #3156, he seems to be able to build and run. I'm curious how should I develop (build and debug) on a mac?
Any workaround or build by command line?

### Expected behavior
mvvmcross.sln can be opened by Visual Studio for Mac and the playground projects sh

[2018-11-22 08:50] RayMMond opened #3211 "Tibet and Rio binding didn't work in wpf"
## 🐛 Bug Report

I followed the The TipCalc tutorial and created a wpf project, then try some awesome Tibet and Rio binding, so I modified Core project and wpf project.

First, doc says i need include an additional step in Setup, but when I add these statements, I got a exception.

    protected override void InitializeLastChance()
    {
        base.InitializeLastChance();

        var builder =

[2018-11-22 09:50] Cheesebaron commented on #3210
Visual Studio for Mac _still_ after 2 years does not have proper support for Multi-Targeting.

Also currently there seems to be a bug in SourceLink where LibGit2Sharp fails because it can't load some dll's, on mac.

We can unfortunately not do much about this.

[2018-11-22 09:51] Cheesebaron commented on #3197
Fixed in #3200

[2018-11-22 09:51] #3197 closed

[2018-11-23 01:41] xufeipyxis opened #3212 "Java.Lang.IllegalStateException in Playgournd.Droid project"
## 🐛 Bug Report
When I download the release/6.2.2 branch and run the playground.droid project, I have the exception of Java.Lang.IllegalStateException:

[code]
This line of code `var content = LayoutInflater.Inflate(_resourceId, null);` in
[code]
seems to be suspecious but I can't figure it out.

I checked the styles.xml and the AppTheme.Splash is actually a descendant of Theme.AppCompat.
I did no

[2018-11-24 18:48] andres-gimenez opened #3213 "Blazor"
## 🚀 Feature Requests

Using MVVMCross with blazor.

### Contextualize the feature

Experiment with MVVMCross in Blazor. Start with IoC. And study the possibility of defining binding, converterts, commands and navigation.

### Describe the feature

Create an experimental branch to study all of this.

### Platforms affected (mark all that apply)
- [ ] :iphone: iOS
- [ ] :robot: Android
- [ ] :check

[2018-11-25 17:49] softlion commented on #3042
Another solution is to change MvxSplashScreenAppCompatActivity.RunAppStartAsync

[code]

[2018-11-25 17:51] softlion commented on #3042
Tp reproduce: when the app is in background, a push notif is received, and tapping it reopens the app. In this case, the SplashActivity is opened over all existing activities. This is both a correct and incorrect behavior. It is correct as the push notification does not specify an activity to open. But it is incorrect as mvvmcross should handle this correctly.

[2018-11-25 18:19] Nickolas- commented on #3042
When I would have a time I will try to repro this issue in Playground.Droid.
There is two ways how could I achieve this. Android 9 Nokia 7
1. Click on app icon while app is in background. This would start again splash screen (MainLauncher = true, NoHistory = true), as a result it would hang on splash screen.
2. When you click not on push notification message directly , but click on notification ch

[2018-11-26 02:32] nmilcoff commented on #3141
Would it be possible for you guys to upload a repro case? That will be super helpful!

[2018-11-26 02:37] nmilcoff commented on #2968
I'll close this for now, as it seems there are no problems related to MvvmCross itself. Please feel free to reopen it if you think otherwise

[2018-11-26 02:37] #2968 closed

[2018-11-26 02:52] nmilcoff commented on #3146
Are we ok closing this issue? It seems the problem has been solved (although there is an open question).

[2018-11-26 03:00] nmilcoff commented on #3177
This should be fixed by the linked PR. All AppStart code has been removed from `MvxAppCompatActivity` and the likes.

[2018-11-26 03:51] softlion commented on #3042
I can repro on Android 5/23, not when you tap the app icon, but when you tap a notification.

[2018-11-26 11:14] ElteHupkes opened #3215 "(iOS 12.1) PictureChooser crashes when picture in library is tapped more than once"
## 🐛 Bug Report
When using the `Task<Stream> IMvxPictureChooserTask.ChoosePictureFromLibrary(int, int)` method, a crash occurs if the user double taps the image to choose in their Photos gallery.

The error:

[code]

The stack trace:

[code]

The source of the crash is obvious: the `FinishedPickingImage` event is triggered a second time on the second tap, which leads to the task source to be resol

[2018-11-26 13:12] nmilcoff commented on #3215
Thanks for reporting this 👌 and also for incluiding this level of details. Would it be possible for you to raise a PR?

[2018-11-26 15:13] ElteHupkes commented on #3215
You're very welcome, I'm using MvvmCross daily so the least I can do is try to figure out what's causing the issues that come up instead of complaining about them ;). I think I can create a PR, though I'd have to switch to my severely outdated Windows boot to make sure everything works XD. I may do a couple of Windows things tomorrow, I still have some other issues where I need to create a Playgro

[2018-11-26 18:44] gjrfytn commented on #3177
Glad to hear, looking forward to merge!

[2018-11-26 23:59] yavor87 commented on #2502
I am having the same issue. Hopefully I found a solution. @nxus-nick , you are correct. The issue is that the tab pages are not being wrapped in NavigationPage prior to being added to the tab host.

For anybody stuck with this issue try this: inherit from **MvxFormsPagePresenter** in your apps and override _ShowTabbedPage()_. Then wrap your page in a NavigationPage prior to pushing it to the tabho

[2018-11-27 07:57] xufeipyxis commented on #3209
I can confirm this bug in the playground project.
In the `RootViewModel.cs`, just uncomment this line in `Initialize()` and the bug can be reproduced.

    // await Task.Delay(5000);

[2018-11-27 08:36] RayMMond commented on #3211
After some digging around mvx's setup code, It turns out that the field binding and method binding plugins was not loaded correctly.
Thanks to this rely, https://github.com/MvvmCross/MvvmCross/issues/3171#issuecomment-432809001

[2018-11-27 08:36] #3211 closed

[2018-11-27 09:10] xufeipyxis commented on #3201
![image](https://user-images.githubusercontent.com/33150084/49070646-26203b80-f267-11e8-98c9-3f3df0148b4c.png)
I guess this is the default Xamarin.Forms (or even default Android) implementation, see https://github.com/xamarin/Xamarin.Forms/issues/3083

[2018-11-27 09:54] agarciasempere commented on #3184
Save me day, works perfectly for me.

Thanks.

[2018-11-27 10:35] ElteHupkes commented on #3215
Created PR: https://github.com/MvvmCross/MvvmCross/pull/3216

[2018-11-27 11:47] projectgoav commented on #3210
Stumbled across your issue here when looking for something else. If I remember correctly, this was how I was able to get Mvx to build on a Mac.

- Ensure you have the latest VS for Mac installed on your machine.
- Ensure you have **ALL** of the Xamarin platform SDKs installed (Xamarin Mac, Xamarin iOS and Xamarin Android). I think you *may* need to have a version of the Android build tools install

[2018-11-27 13:41] pinkysek commented on #3209
I can confirm this bug too, when I call async method in Initialize() which has await Task.Delay(150) its stuck my app on LaunchScreen in iOS project.

[2018-11-27 13:48] Digifais opened #3217 "MakeSafeValue in MvxConvertingTargetBinding fails to convert the string"
## 🐛 Bug Report

When using `MvxAndroidTargetBinding<CustomView, string>`, MakeSafeValue in MvxConvertingTargetBinding fails to convert the string

### Expected behavior
The string should be successfully converted by MakeSafeValue.

Current workaround: `protected override string MakeSafeValue(string value)
        {
            return value;
        }`

### Reproduction steps
Create a MvxAndroidTa

[2018-11-27 15:20] Cheesebaron commented on #3217
I've debugged this with @Digifais MakeSafeValue seems to not like strings, maybe other value types.

[2018-11-27 23:31] flyingxu commented on #3210
I would elaborate a little bit:

1) Remove the SourceLink reference

2) run `nuget restore MvvmCross.sln` in cmd

3) run cake script
install cake: `brew install cake`
then in the MvvmCross.sln folder, run `cake`

Everything seems to be ok but when I open the sln in VSMac and run, I got

[2018-11-28 08:13] projectgoav commented on #3210
You'll need to select a playground project you want to run and set it as the startup project first!

[2018-11-28 12:08] flyingxu commented on #3210
Yes I did, see my screenshot
![screen shot 2018-11-28 at 8 07 05 pm](https://user-images.githubusercontent.com/122225/49150909-3b6d9680-f349-11e8-95fb-ab3e87a4113f.png)

[2018-11-28 12:16] projectgoav commented on #3210
This rings a bell....

I think this was when I started going down different routes. If you disable/unload the MvvmCross project and rely on the Cake script to build it, VS for Mac might ignore it when building the playground.

If not this where I removed the reference to it and manually added all the DLLs as references.....

[2018-11-28 12:38] michaelkollmann commented on #3170
Got it! Took some time but now I finally understand what's going on here.

When closing the modal dialog the ViewAppeared method of the RootPage (MvxMasterDetailPagePresentation) gets called again.

In the playground the called method is `SplitRootViewModel.ViewAppeared()`

this caused the `ShowInitialViewModel()` and `ShowDetailViewModel()` to be called again.

**I'd expect the ViewAppeared metho

[2018-11-29 16:02] bbowers0 commented on #2991
I have an Android app using v6.1.2, and two users have experienced this crash, one yesterday and one about a month ago.  I haven't been able to reproduce it, but I do have some diagnostic information from yesterday's crash.  I don’t know if this will be helpful, but here is the sequence that I see (seconds are shown to give an idea of timing):

:00 Setup.CreateApp (see note 1)
:00 App.Initialize (

[2018-11-29 16:58] elucidsoft opened #3221 "UWP Startup Hangs"
This is still occurring with latest framework. I can do a Google Hangout with anyone who wants to painfully watch me recreate it. But basically shutdown and restart the app in succession, its taken me up to 30 attempts but I can get it to happen. Seems to occur at a low frequency so it's very difficult to track down, does not seem to have as anything to do with resume or suspend. It appears to be

[2018-11-29 17:00] elucidsoft commented on #3209
I think this is what I'm seeing in #3221

[2018-11-29 17:14] elucidsoft commented on #2953
#3209 #3221

[2018-11-30 03:29] flyingxu opened #3223 "ConfigureAwait(false) in MvxNavigationService.cs makes `OnBeforeNavigate` and `OnAfterNavigate` run in different context"
## 🐛 Bug Report

Personally, I don't like to use `ConfigureAwait(false)` in this package because MvvmCross is UI related. In this example in \MvvmCross\Navigation\MvxNavigationService.cs:
[code]
Because of the `.ConfigureAwait(false);`, `OnBeforeNavigate` and `OnAfterNavigate` might run in different threads / context. I'm from MFC background, when I see some function like `OnBeforeNavigate` I woul

[2018-11-30 14:52] bbowers0 commented on #2991
This issue can deterministically be recreated by enabling the 'Limit background processes' developer option in Android to 'No background processes' per https://academy.realm.io/posts/360-andev-2017-emmett-wilson-android-process-death-zombies/.  (If you test with that, make sure you don't leave it that way.)  Just bring up the app to test, switch to another app or two, and then back to the app unde

[2018-12-02 21:10] nickrandolph commented on #3223
This is by design and as such closing this bug. If you'd like to propose a different implementation, please raise a PR.

[2018-12-02 21:10] #3223 closed

[2018-12-02 21:11] nickrandolph commented on #3221
Are you calling an await inside the Initialise task for your first view model?

[2018-12-02 23:36] elucidsoft commented on #3221
Yes if I dont the db wont be finished and the viewmodel will fail to load the data. Like I said I have a workaround but using await is most likely going to be a pretty recurrent theme for most people.

[2018-12-03 10:30] Cheesebaron opened #3224 "MvxApplicationCallbacksCurrentTopActivity keeps strong references to Activities"
## 🐛 Bug Report

The `ConcurrentDictionary` in MvxApplicationCallbacksCurrentTopActivity keeps strong references to Activities. This seems wrong to me and can potentially leak old and Finished Activities

https://github.com/MvvmCross/MvvmCross/blob/develop/MvvmCross/Platforms/Android/Views/MvxApplicationCallbacksCurrentTopActivity.cs#L13

### Expected behavior
Weak references are kept to Actitivie

[2018-12-03 18:50] SOFSPEEL opened #3225 "MvxCachingFragmentStatePagerAdapter:GetItem NullReferenceException"
## 🐛 Bug Report

Crash reporting in AppCenter has a high incidence of the following crash, and I finally figured out the root cause.
[code]
It is because of the following line in
https://github.com/MvvmCross/MvvmCross/blob/c95e17b86b0ce01fd394fb1086f009be23ec7959/MvvmCross-AndroidSupport/MvvmCross.Droid.Support.Fragment/MvxCachingFragmentStatePagerAdapter.cs

[code]
and more specifically occurs wh

[2018-12-04 08:13] Cheesebaron commented on #3225
I think the result from:

    var activity = Mvx.IoCProvider.Resolve<IMvxAndroidCurrentTopActivity>().Activity.GetType();

Should be cached, such that it is only resolved once. There shouldn't be a change in Activity while the ViewPager is shown.

[2018-12-04 13:32] ruhanijeb commented on #1398
i am facing this issue. i upgraded from 4.2.0 to 5.0.0 .  but still my app getting crash automatically and i am getting the above stack trace on hockey app.

[2018-12-04 13:33] ruhanijeb commented on #1398
this happens on my login screen and i am not using any list in my login screen.

[2018-12-04 17:37] SOFSPEEL commented on #3225
Caching of
[code]
as long as the caching is done in the constructor, the caching should **not** be done in GetItem as by the time the adapter is filled the activity may already be gone.

I will run some tests to cache in the constructor to ensure that Mvx.IoCProvider.Resolve<IMvxAndroidCurrentTopActivity>().Activity is always non null there and get back to you, **thanks for you quick feedback**.

[2018-12-04 20:49] SOFSPEEL commented on #3225
@Cheesebaron your suggestion is a good once, it works with no problem, I have put together a PR: https://github.com/MvvmCross/MvvmCross/pull/3226

[2018-12-05 14:49] gentilijuanmanuel commented on #3184
Also for me. Thanks!

[2018-12-05 18:56] alexhadjilambris opened #3228 "Navigation"
I’m describing some of my application behavior in JSON.

For example, a number of the views are forms, and I describe the information that I expect to capture in the JSON, in order to build the layout of the view, and bind the controls to dictionary entries, that are held by the model.

That the fields bindings just work for dictionary entries makes this fairly straight forward to do.

I see that

[2018-12-06 16:04] #3215 closed

[2018-12-06 18:45] #3228 closed

[2018-12-07 05:19] #3210 closed

[2018-12-07 07:01] flyingxu commented on #3223
Ok, I figured it out. I need to call

    base.InvokeOnMainThreadAsync(() => { });

this wrapper funciton is available in any ViewModel derived classes.

[2018-12-10 08:02] softlion commented on #3224
+ it does not support 2 activities with the same name in the backstack

[2018-12-10 12:08] Cheesebaron commented on #3224
@softlion can you report that as a separate issue please?

[2018-12-10 17:17] #3225 closed

[2018-12-11 13:32] martijn00 opened #3230 "MvxPageViewController doesn't use attributes"
## 🐛 Bug Report

The MvxPageViewController doesn't use the new presenter system with attributes. This means ViewControllers and Viewmodels are not loaded the right way, and lifecycle events are missing.

See: https://github.com/MvvmCross/MvvmCross/blob/develop/MvvmCross/Platforms/Ios/Views/MvxPageViewController.cs#L122

### Expected behavior

Should be possible to make this behavior with the attib

[2018-12-13 13:42] cristianvasuica opened #3232 "Sources compilation"
Could somebody from the team please give some hints on how to get the source code compiling?
After installing some dependencies (UAP, Tizen Sdk), I am stuck in some errors related to DependencyObject, DependencyProperty not found errors - image attached below.
I have to mention that I want to directly reference the MvvmCross in order to have a better understanding in what the framework does beneat

[2018-12-13 14:15] nickrandolph commented on #3232
The source code in the master and develop branches should compile without error. Please make sure you running the latest release of Visual Studio. Also, due to limitations with multi-targeting, compilation on VS for Mac is not currently supported.
I'm going to close this ticket - please direct further questions to stackoverflow or the slack channel.

[2018-12-13 14:15] #3232 closed

[2018-12-13 20:58] tbalcom commented on #1422
I've debugged this on 6.2.2 develop branch and found PropertyChanged isn't being fired when the EditText is cleared because an exception is being thrown:

  at System.RuntimeType.CheckValue (System.Object value, System.Reflection.Binder binder, System.Globalization.CultureInfo culture, System.Reflection.BindingFlags invokeAttr) [0x00071] in <d4a23bbd2f544c30a48c44dd622ce09f>:0
  at System.Reflecti

[2018-12-14 17:16] flostr commented on #3209
Happens for me too. I currently fixed this by removing the **await** in **MvxAppStart<TViewModel>.NavigateToFirstViewModel**>:
[code]

[2018-12-15 03:11] chauncat opened #3234 "Binding Failing on Lists."
## 🐛 Bug Report

We have implemented a recyclerview that is expandable.  Ever now and than the binding will not happen after OnBindViewHolder is called.  After some research I have found the issue is in the [MvxLayoutInflater.Inflate Method](https://github.com/MvvmCross/MvvmCross/blob/014815ae2a162f0dc7647327b91b74dc33be1ffc/MvvmCross/Platforms/Android/Binding/Views/MvxLayoutInflater.cs#L123).  Bu

[2018-12-15 03:35] chauncat commented on #3234
I ran a quick test just making this atomic and I am no longer able to create the issues.
Feels wrong to put a lock here what are your thoughts?

[code]

[2018-12-17 23:16] chauncat commented on #3234
No surprised but using `SemaphoreSlim` caused dead lock issues and `Monitor` caused enumater issues.  So we moved to trying to figure out how to prevent two layouts from being inflated at the same time.

I believe it was caused be calling snackbar.  We changed when we called this and the we are not seeing the issues.  But problem still remains that ```_bindingVisitor.Factory```  can be set to null

[2018-12-18 13:21] fryette commented on #1585
@Cheesebaron but really, how?????
Spend 2 hours and cannot found any documentation

[2018-12-18 13:54] Cheesebaron commented on #3234
If you could make a repro project that would help a lot. Also please do it against latest version of MvvmCross.

[2018-12-19 09:46] mattiascibien opened #3236 "Xamarin Forms 3.4 not working with WPF"
## 🐛 Bug Report

I have created a project using MvvmCross 6.2.2 from Nuget and Xamarin.Forms 3.4 from nuget. For easier testing I am using a WPF Xamarin Forms application.

Whenever i try to run my application I get the error `Method not found: 'Void Xamarin.Forms.Forms.Init()` as soon as I start my application.

StackTrace:
[code]

By downgrading Xamarin.Forms to 3.1 I was able to run the solutio

[2018-12-19 10:37] SSElliott commented on #2458
I came across this problem a few days ago when, my solution was to write my own mini-message hub, that unlike MvxMessenger kept the message if it is not got any subscribers, and publishes immediately on a subscribe when a ViewModel is restored. I found the ViewCreatedView the best place to do this with android as it gets around Widgets remembering their state.

[2018-12-19 11:12] PicOLinO opened #3237 "Empty bundle in InitFromBundle method of MvxViewModel"
## 🐛 Bug Report

**Empty** bundle in overriding of `void InitFromBundle(IMvxBundle parameters)` method when initializing ViewModel from navigating by `IMvxNavigationService.Navigate<TViewModel>(IMvxBundle)`.

### Expected behavior
I expected that bundle object will be same I throwing to `Navigate` method and `Data` will contains all keyvaluepairs that i defined in `Dictionary<string, string>`

###

[2018-12-19 15:22] dogukandemir opened #3238 "Default Click binding is not working on FloatingActionButton"
## 🐛 Bug Report

Default Click binding is not working on FloatingActionButton when CreateBindingSet applied. In MvxAndroidBindingBuilder -> FillTargetFactories method, there is "Click" binding for all types of Views but it doesn't work for FloatingActionButton. This cause "System.NullReferenceException: Object reference not set to an instance of an object" in "MvxTargetBindingFactoryRegistry.Gener

[2018-12-19 17:19] ElteHupkes commented on #2458
@SSElliot I've done view model communication with a messenger hub in the past, but personally I find it kind of a drag; too many edge cases where view models that weren't quite garbage collected yet would snag up a message not intended for them. Of course my solution isn't fundamentally different from a messenger except it is a bit more targeted. If this works in your scenario though, great!

[2018-12-19 17:30] SSElliott commented on #2458
@ElteHupkes You are right about that. In a single application I have to be super careful to unsubscribe  when Views are destroyed. I look forward to when this is addressed in a future release (6.3?). Looking at the source though I am not sure how the current Async technique can ever work in its current form. Incorporating the structure of your solution might be the longer term fix.

Steven

[2018-12-20 10:51] Noires opened #3239 "View Controller Missing and xib "... nib but the view outlet was not set.""
## 🐛 Bug Report

The issue is that with the newest visual studio 2017 version, there seems to be no "View Controller". With every other View i get a NSInternalInconsistencyException. The detailed issue is listed here: https://stackoverflow.com/questions/53848683/missing-view-controller-for-xamarin-ios

A similiar question was one asked in issue #2230 and it was referenced the question https://stac

[2018-12-20 15:07] chauncat commented on #3234
No surprised but using `SemaphoreSlim` caused dead lock issues and `Monitor` caused enumater issues.  So we moved to trying to figure out how to prevent two layouts from being inflated at the same time.

I believe it was caused be calling snackbar.  We changed when we called this and the we are not seeing the issues.  But problem still remains that ```_bindingVisitor.Factory```  can be set to null

[2018-12-27 14:29] MasterEmit opened #3240 "MvxRecyclerView Designer NullReferenceException"
## 🐛 Bug Report

### Expected behavior
MvxRecyclerView ist visible in visual studio designer

### Reproduction steps
* Create a new MvvmCross project
* add MvxRecyclerView to a layout (e.g. constraintlayout)
[code]

* designer becomes red with show error button "System.NullReferenceException"
* StackTrace (sorry, the error window is really stupid in Visual Studio)
** MvxAndroidBindingContextHelper

[2019-01-01 22:48] nxus-nick opened #3241 "Xamarin.Forms MvxBindablePropertyTargetBinding does not support binding to behaviors."
## 🐛 Bug Report

MvxBindablePropertyTargetBinding in MvvmCross.Forms does not support binding to Behavior or other BindableObjects that do not inherit from element.

This is because the Get/Set Value methods check if the target is an element rather than BindableObject even though BindableObject would suffice.

[Get](https://github.com/MvvmCross/MvvmCross/blob/develop/MvvmCross.Forms/Bindings/Targe

[2019-01-02 08:40] stefan89 commented on #3042
UPDATE:
I don't know if it is related to this issue, but since MvvmCross 6.2.x I am facing issues when reopening an app after when it was in the background for more than 15 minutes.
In that case the app hangs on a white screen.

When I downgrade MvvmCross to version 6.1.2 I don't have this issue.

[2019-01-06 02:30] SSELLIOTTHOME opened #3242 "Update documentation on MvxMessenger"
## 🏗 Enhancement Proposal

I would like to improve the documentation with a couple of issues I recently discovered with the MvxMessenger. In retrospect I should have realised these issues in the first place, but I would like to help others to avoid these mistakes

1. When subscribing via the MvxMessenger, do not use anonymous methods. They are akin to writing static objects and will cause the toke

[2019-01-06 15:24] SSELLIOTTHOME opened #3243 "First Instance of View Model after Navigation is never disposed of in Android"
I am not sure if this is by design, but I wanted to confirm that this is correct behaviour. If Viewmodels are kept for as long the view exists then, if I explictly dispose of the MvxActivity/MvxFragmentActivity via the Dispose method of IDisposable, then after calling GC.Collect() in the Destroy method.  the View Model should be disposed of as well.

However I have found that, the first created in

[2019-01-07 01:50] SSELLIOTTHOME commented on #3243
Steps to reproduce.

A simple MVVMCross Projects with two MvxFragmentActivities (Activity1 and Activity2)

In the Droid application class (derived from MvxAppCompatApplication or however it is setup, mine is called MainApplication) add the following line.

public System.WeakReference<MvxViewModel> test { get; set; }

Activity1 has a button linked to a Command in Activity1ViewModel that Navigates t

[2019-01-07 08:54] softlion opened #3244 "ExampleViewPagerStateFragment example not up to date"
## 🔙 Regression

ExampleViewPagerStateFragment.cs uses a constructor of MvxViewPagerFragmentInfo which does not exist anymore.

### Old (and correct) behavior

The constructor exists.

### Current behavior

The constructor has a new mandatory tag argument.

### Reproduction steps

Build ExampleViewPagerStateFragment.cs

### Configuration

**Version:** 6.2.2

**Platform:**
- [ ] :iphone: iOS
- [X]

[2019-01-07 11:43] ElteHupkes opened #3245 "`MvxTableViewSource` ignores multi-item animated replace"
## 🐛 Bug Report
When using a collection that sends a multi-item replace (i.e. it issues a `NotifyCollectionChangedEventArgs` [with this constructor](https://docs.microsoft.com/en-us/dotnet/api/system.collections.specialized.notifycollectionchangedeventargs.-ctor?view=netframework-4.7.2#System_Collections_Specialized_NotifyCollectionChangedEventArgs__ctor_System_Collections_Specialized_NotifyCollec

[2019-01-07 12:02] Cheesebaron commented on #3245
If you have time, you are welcome to open a Pull Request with a fix.

[2019-01-07 12:56] Cheesebaron commented on #3243
Thanks for opening this issue. Please use and fill out the issue template as it gives us a better overview of what is going on. If you haven't already added reproduction steps or even better a repository with a reproduction sample, please do so. It speeds up debugging issues a lot.

[2019-01-08 11:38] michaldudak commented on #3129
I finally managed to release a version of my app using MVVMCross 6.2 and I can confirm the issue no longer exists. There's another one with MvxCachingFragmentStatePagerAdapter though, but I need to find out more details and I'll post another issue.

[2019-01-08 16:30] #2810 closed

[2019-01-08 18:22] keannan5390 commented on #3158
This could can be fixed by creating custom renderers for all of the MvvmCross pages in each platform and making to call to `ViewDestory` from the `Dispose` method of the renderer. I've verified that this works on Android & iOS. I'm would assume the same would be the case for other platforms.

[code]

I'm not setup to build/develop on the mvvmcross solution on my machine (i don't have a windows vm)

[2019-01-09 17:44] softlion opened #3250 "MvxAppCompatViewPresenter.FindFragmentInChildren not using result of recursive call"
## 🐛 Bug Report

Below the existing code in `MvxAppCompatViewPresenter.cs`. The result of the call to FindFragmentInChildren is not used.

[code]

Should be:

[code]

### Configuration

**Version:** 6.2.2

**Platform:**
- [ ] :iphone: iOS
- [X] :robot: Android
- [ ] :checkered_flag: WPF
- [ ] :earth_americas: UWP
- [ ] :apple: MacOS
- [ ] :tv: tvOS
- [ ] :monkey: Xamarin.Forms

[2019-01-10 22:17] eschragw commented on #2996
I am also getting this error when using [Toasts.Forms.Plugin](https://github.com/EgorBo/Toasts.Forms.Plugin). The error occurs when tapping on the notification whether the app is in the foreground or not. The error does not occur when just using XF without Mvx. I tested in Mvx 6.2.0 and 6.2.2 with various versions of XF as well. I can provide a sample project with this plugin if needed.

`public I

[2019-01-13 21:43] waseemahmad31 commented on #3250
Can I submit a pull request for this?

[2019-01-14 09:17] martijn00 commented on #3250
@waseemahmad31 sure! I'll be happy to review it.

[2019-01-14 09:17] #3238 closed

[2019-01-14 10:17] MaximST92 commented on #3042
Hi,
We are experiencing the this issue.
The app doesn't go past the splash-screen when the app was a long time in the background.
This issue is easy reproducible by killing the app in task manager and reopening it.
When the app hangs on the splash you can pass it by going to Android home and reopen the app.

This is a really annoying issue for our users.
We are experiencing since the the update to

[2019-01-14 11:11] softlion commented on #3042
My solution:

1) Transform your SplashActivity into a standard activity.

    public class SplashActivity : AppCompatActivity // MvxSplashScreenAppCompatActivity

2) Register the activity lifecycle in android's MainApp:

[code]

3) And all the heavy code that was in SplashActivity is now independant of this activity which won't bother you anymore. code of StartupLifecycleCallback:

[code]

[2019-01-14 13:49] StevenKek opened #3254 "Modal dialog that is not not fullscreen and more like popup?"
Hi,

is it possible to show a modal dialog using MvvmCross in Xamarin Forms that doesn't take up the whole screen?
I am using the 'MvxModalPresentation' attribute from the MvvmCross Playground repository.
I need the modal dialog to be a popup that has a semi-transparent background behind it.
I think it's currently not possible by default (see MvvmCross issue #2794), but if you have any suggestions

[2019-01-14 14:12] mkshiblu commented on #3199
I have the same warning (No view model association found for candidate view MainActivity) on Mvx 6.2.2 and XF 3.4. @pablogupi why did you close the issue? how was it solved?

I have exactly the same setup as @pablogupi.

[2019-01-14 14:46] martijn00 commented on #3224
We might be able to use something like `ConditionalWeakTable`. We might need to wait for https://github.com/dotnet/corefx/issues/14387 to be available.

[2019-01-14 15:32] #3129 closed

[2019-01-14 22:21] nickrandolph commented on #3042
@softlion are you able to reproduce the issue in the Playground sample? If so, can you submit a PR showing the issue and perhaps even suggest a fix?

[2019-01-14 23:17] SOFSPEEL commented on #3042
I'm experiencing similar issue to you with a real app.
This article I think describes the problem:
https://stackoverflow.com/questions/19545889/app-restarts-rather-than-resumes/23220151#23220151
This describes that the launch icon puts the launch activity (i.e. splash screen) in activity stack when it shouldn't, so that you can end up with an activity stack like this:

1. Splash
2. Next
3. Splash

[2019-01-15 09:41] MaximST92 commented on #3042
@SOFSPEEL
This solves the issue.
I agree that this should be permanently be included in the MvxSplashScreenAppCompatActivity.

[2019-01-15 10:11] #3245 closed

[2019-01-15 10:19] ElteHupkes commented on #3245
Thanks @martijn00! This completely slipped my mind.

[2019-01-15 11:18] CarLoOSX commented on #2212
What about a tabs application ? Thank you!

[2019-01-16 02:18] nmilcoff commented on #2810
@martijn00 has something changed that fixes this issue? 🤔

[2019-01-16 02:33] #3241 closed

[2019-01-16 02:34] nmilcoff commented on #3129
Thanks for coming back to us @michaeldaw!

[2019-01-16 02:44] keannan5390 commented on #3158
@nmilcoff Understandable from a design perspective that it doesn't make sense. Forcing the mvx renderers wouldn't work in all situations. However, as the OP calls out, I believe this is a broken implementation currently -- especially if you are using the `IMvxViewModelResult<TResult>` implementation. That logic relies on the return navigation task being called from ViewDestory in the viewmodel to

[2019-01-16 03:09] nmilcoff commented on #3158
I understand your concern. An idea would be to avoid calling ViewDestroy when navigating forwards, but I don't think Xamarin.Forms exposes that

[2019-01-16 08:45] Cheesebaron commented on #3224
@martijn00 it is already available?

[2019-01-16 09:17] #3175 closed

[2019-01-16 13:06] michaeldaw commented on #3129
attn: @michaldudak

[2019-01-16 17:44] misiek231 commented on #2969
Is any differen way do init only IoC and services? I really need it now.

[2019-01-17 04:44] parmendrahsc opened #3261 "How to use MvvmCross with two core libraries"
## 💬 Questions and Help
How to use MvvmCross with two core libraries
Is there any mvvmcross sample project available with two core library and few view and vms are in first library and rest in second library.
I got the exception, like view can't be load. We can find the VMs but cant load view

Stackoverfolw: https://stackoverflow.com/questions/54210583/how-to-use-mvvmcross-with-two-core-libraries?

[2019-01-17 08:55] KarthikRaja26 opened #3262 "does we need to initialize Xamarin.Forms.Init() in android renderer in mvvmcross 6.2"
## 💬 Questions and Help

For questions or help we recommend checking:

- The [MvvmCross tag in Stack Overflow](https://stackoverflow.com/questions/tagged/mvvmcross)
- The [MvvmCross slack channel in the Xamarin Slack](https://xamarinchat.herokuapp.com/)
- Ask your question in the [Xamarin Forums](https://forums.xamarin.com/)

[2019-01-18 12:25] juanagu commented on #2538
Same error using v6.2.2.

[2019-01-18 16:21] tbalcom commented on #3262
This was answered on [Stackoverflow](https://stackoverflow.com/a/54230526).

[2019-01-22 04:33] parmendrahsc commented on #3261
I am doing same as MvvmCross with two core libraries but unable to build my project. Could you please provide me any code or sample project. I have attached my sample project.

https://drive.google.com/file/d/10Oa3blR2K3f18v-nc2DFPqn2ldc9pNvu/view?usp=gmail

[2019-01-22 04:50] RayMMond commented on #3261
first let's say you have two core lib, __LibA__ and __LibB__. In __LibA__, you have a __ViewModelX__. In __LibB__ you have a __ViewModelY__.

if you want to use __ViewModelY__ in your view, you should create a custom “Setup.cs", then override the virtual method "GetViewModelAssemblies()"

    public class YourSetupClass : MvxWpfSetup<YourCoreLibApp>
    {
        public override IEnumerable<Assemb

[2019-01-22 04:56] RayMMond commented on #2916
It has been Implemented,may be can be closed?

[2019-01-22 05:53] #3262 closed

[2019-01-22 05:55] nickrandolph commented on #3261
Thanks @RayMMond

[2019-01-22 05:55] #3261 closed

[2019-01-22 05:56] nickrandolph commented on #3236
@mattiascibien do you have a few minutes where you can run up the Playground app in the source and see whether you can a) reproduce the issue and b) perhaps spot a fix?