[2018-03-09 17:56] tbalcom commented on #2645
@martijn00 My project targeting API27 had 24 of these "Please check that your Nuget Package Versions are compatible" warnings while compiling against MvvmCross 5.6.3. The warnings typically only show up after Clean -> Rebuild All. The resources being mentioned are not found in my code or the MvvmCross code.

I've updated to MvvmCross 6.0.0-beta5 and the 24 "Please check that your Nuget Package Ver

[2018-03-10 20:13] TheAifam5 commented on #2059
It's that normal ?
[code]

[2018-03-11 08:39] nickrandolph commented on #2059
This is a result of adding the 5.6.3 version to a netstandard 2.0 library. Make sure you add the nuget package to all head projects and you should be good to go

[2018-03-12 08:07] Macjon opened #2676 "App crashes after startup on a Huawei Mate 10 lite"
### Steps to reproduce :scroll:

1. Create a new project with a basic MvvmCross setup

2. Run the app on a Huawei Mate 10 lite

3. App crashes immediately after startup

### Expected behavior :thinking:
The app should start on a Huawei Mate 10 lite

### Actual behavior :bug:
The app crashes after startup with the following stacktrace:

[MonoDroid] UNHANDLED EXCEPTION:
[MonoDroid] System.NullRefere

[2018-03-12 10:00] nickrandolph commented on #2676
Do you see the same behaviour with the playground droid sample? And can you take a look at the Develop branch and see if the same thing occurs with v6?

[2018-03-12 10:25] Macjon commented on #2676
After some searching and trail and error I found something. When my minimum android target is set to api level 21 and target android is set to level 27 the app crashes. If I set the minimum level to 15 everything works fine. So the solution is to set your minimum android version to level 15 I think.

[2018-03-12 19:46] AlexStefan opened #2678 "Language files are not loaded in iOS project"
### Steps to reproduce :scroll:

1. Download [Playground](https://github.com/MvvmCross/MvvmCross/tree/develop/Projects/Playground) or [Internationalization](https://github.com/AlexStefan/template-app/tree/master/Internationalization) projects

2. Run the iOS project and check the Application Output as the following warning/error "MvxIoCResolveException: Failed to resolve type MvvmCross.Base.IMvxJs

[2018-03-12 20:58] AlexStefan commented on #2678
Fixed by using:

`		protected override void InitializeFirstChance()
		{
            Mvx.RegisterSingleton<IMvxJsonConverter>(new MvxJsonConverter());
            base.InitializeFirstChance();
		}`

This fix was applied on the Internationalization project, but is it maybe a bug and what I've done is just a workaround?

[2018-03-13 16:37] alexshikov opened #2681 "[iOS] Text Replacement does not apply change through the binding"
### Steps to reproduce :scroll:

iOS-only

1. There are two UITextFields on the screen that are bound to the ViewModel properties

2. Use **Text Replacement** feature: type `omw` in the first text field

3. Press on the second text field

4. `omw` should convert to `On My Way!` in the first text field

### Expected behavior :thinking:
ViewModel's property bound to the first text field should be `O

[2018-03-13 20:48] #2681 closed

[2018-03-14 09:46] Happin3ss opened #2684 "App didn't show the right view after add SplashScreen on WPF"
### Steps to reproduce :scroll:
 We can reproduce this issue using the Playground WPF project
1. Add a splash screen to Playground WPF project

2. Build project and start the app.
   ****IMPORTANT** : DON'T click anything on the screen after you start the app. Otherwise the issue won't happen.

### Expected behavior :thinking:
RootView will show (As it was registered to start first in the Core)
##

[2018-03-14 14:32] orzech85 commented on #2544
We will try to resolve this issue and provide PR tomorrow on Xamarin Meetup in Gdansk [PL]

[2018-03-14 14:49] Cheesebaron commented on #2544
You are very welcome to do so!

[2018-03-14 21:40] tbalcom opened #2688 "RegisterAttribute doesn't always match the new MvvmCross 6 namespace"
The `RegisterAttribute` doesn't always match the new MvvmCross 6 namespace.

### Steps to reproduce :scroll:
N/A

### Expected behavior :thinking:
The `RegisterAttribute` should have the correct namespace, or use `[Register(nameof(X))]` if possible to avoid further issues like this.

### Actual behavior :bug:
The `RegisterAttribute` still has the old MvvmCross 5.x namespace in some cases. See [Mvx

[2018-03-14 22:09] nmilcoff commented on #2688
Thanks for reporting this! Just being curious, does it make Android apps crash?

[2018-03-15 05:03] closetoyou293 opened #2690 "Soft back button in Android when using DrawerMenu"
### Steps to reproduce :scroll:

1.Clone XPlatformMenus project and update to latest MvvmCross version
Link in github [https://github.com/closetoyou293/HambugerSample]()
2. Back button does not show when navigate to second view.
3. Change code: always call below line of code in base fragment, back button shows:
`mainActivity.SupportActionBar?.SetDisplayHomeAsUpEnabled(true);`

### Expected behavio

[2018-03-15 10:05] Cheesebaron commented on #2688
@nmilcoff it will if proguard is enabled

[2018-03-15 20:00] nmilcoff commented on #2575
This was fixed in #2682.

[2018-03-15 20:00] #2575 closed

[2018-03-16 15:35] jernelson7 commented on #2527
I am having the same problem as @msalmanST with a UISearchBar

[2018-03-16 15:58] tbalcom opened #2694 "Add the ability to only use one instance of a given fragment"
It would be great if the `MvxFragmentPresentation` attribute had a flag to tell the presenter to only allow one instance of the fragment at a time. An example scenario where this feature would be useful:

1. A `HomeViewModel` is navigated to when the program starts.
2. The user opens the hamburger menu and clicks the Home item to display `HomeViewModel`.
3. Now there are two instances of the `Home

[2018-03-16 16:00] jernelson7 commented on #2527
Update: I was able to resolve this by adding the TextChanged event to LinkerPleaseInclude.cs

public void Include(UISearchBar searchBar)
        {
            searchBar.Text = searchBar.Text + "";
            searchBar.Placeholder = searchBar.Placeholder + "";
            searchBar.TextChanged += (s, e) => { };
        }

[2018-03-17 02:52] nickrandolph commented on #2586
This should be addressed by https://github.com/MvvmCross/MvvmCross/pull/2674

[2018-03-18 12:29] #2544 closed

[2018-03-18 12:54] #2688 closed

[2018-03-19 10:28] #2636 closed

[2018-03-19 10:29] #2624 closed

[2018-03-19 10:29] #2622 closed

[2018-03-19 10:30] #2586 closed

[2018-03-19 12:24] nmilcoff commented on #2636
@martijn00 was this solved by #2674? If not, could you link the PR for future reference?

[2018-03-20 10:57] m-mccool opened #2707 "Framework attempts to re-create Fragments not created with ShowViewModel"
### Steps to reproduce :scroll:

1. I have a view which manually creates sub views. What I mean by this the sub views are new'd and the view models assigned to them.

With 4.3.2 and using the old MvxCachingfragmentCompatActivity, the framework left these alone, it did not attempt to re-create these on a restore.

However I have just upgraded to 5.6.3 and changed to using MvxAppCompatActivity. Now

[2018-03-20 18:20] #2422 closed

[2018-03-21 04:04] nmilcoff commented on #2378
This happens on "pure" Android too. PR incoming

[2018-03-21 04:11] nmilcoff commented on #1493
MvxImageView was removed in #2706. Marking this as deprecated.

[2018-03-21 04:11] #1493 closed

[2018-03-21 04:12] nmilcoff commented on #588
MvxImageView was removed in #2706. Marking this as deprecated.

[2018-03-21 04:12] #588 closed

[2018-03-21 04:22] nmilcoff commented on #2690
Please open an issue on the MvvmCross-Samples repository instead of here.

I'd guess it's something wrong on the Android views setup rather than a problem with MvvmCross... If you could help us bump XPlatformMenus to latest and greatest, that would help us get it resolved! (seems you already have done part of the migration :) ).

[2018-03-21 04:22] #2690 closed

[2018-03-21 05:59] #2378 closed

[2018-03-21 06:43] martijn00 commented on #2684
Can you make a PR to add this to the playground so we can test it?

[2018-03-21 06:44] #2645 closed

[2018-03-21 06:46] martijn00 commented on #2694
Duplicate of https://github.com/MvvmCross/MvvmCross/issues/2707

[2018-03-21 06:46] #2694 closed

[2018-03-21 07:15] trungklam opened #2712 "Tabs Presenter for WPF"
### Steps to reproduce :scroll:

### Expected behavior :thinking:

 WPF have the implementation of MvxTabsViewPresenter
### Actual behavior :bug:

Not yet available (or we have something else can be used ? )
### Configuration :wrench:

**Version:**  5.x - 6.0

**Platform:**
- [x] :checkered_flag: WPF

[2018-03-21 08:46] #2581 closed

[2018-03-21 13:22] martijn00 commented on #2109
Fixed in https://github.com/MvvmCross/MvvmCross/pull/2710

[2018-03-21 13:22] #2109 closed

[2018-03-21 14:15] martijn00 commented on #2234
Made possible in: https://github.com/jdehlin/Xamarin-Sidebar/pull/84

[2018-03-21 15:20] martijn00 commented on #1159
This should be better with the new `IMvxLog`. Please open again when still seeing this.

[2018-03-21 15:20] #1159 closed

[2018-03-23 03:40] Happin3ss commented on #2684
I did it here : https://github.com/MvvmCross/MvvmCross/pull/2716
Thank you !

[2018-03-23 12:31] wh1t3cAt1k opened #2718 "MvxViewPagerAdapter and MvxStateViewPagerAdapter ignore the presence of view model instance inside MvxViewPagerFragmentInfo"
### Steps to reproduce :scroll:

1. Use tab layout with a view pager.

2. Use e.g. `MvxViewPagerAdapter` for the view pager. Initialize it with a single-element collection `MvxViewPagerFragmentInfo` object that contains a **view model INSTANCE** which cannot be directly resolved from the IoC container (e.g. it is manually created with parameters from the parent page view model)

3. Try to open tha

[2018-03-23 12:39] nmilcoff commented on #2718
This needs to be considered in #2440

[2018-03-23 12:46] wh1t3cAt1k commented on #2718
I would like to contribute under this issue separately, because I don't yet feel the strength to completely clean-up these adapters in the scop of #2440 . I am currently preparing a PR.

[2018-03-23 17:11] jz5 commented on #2684
Not fired [MvxApplication.OnActivated](https://github.com/MvvmCross/MvvmCross/blob/develop/MvvmCross/Platforms/Wpf/Views/MvxApplication.cs#L19) when using SplashScreen. So not initialized.

How about this? Change playground.
https://github.com/jz5/MvvmCross/commit/b43947f2249da46e188400d70e506f945a7c8ca0

[2018-03-23 18:59] tbalcom opened #2721 "Android app hangs on SplashScreen"
### Steps to reproduce :scroll:

1. Launch PlayGround.Droid.

2. Press the Back button after the splash screen is done and the `RootViewModel` is active.

3. Click the Playground launcher icon again.

4. Splash screen is shown again and never closed.

### Expected behavior :thinking:
The app should restart showing the `RootViewModel` again after the splash screen finishes.

### Actual behavior :bu

[2018-03-23 19:12] tbalcom commented on #2721
It looks like some [new code](https://github.com/MvvmCross/MvvmCross/commit/5506d6bf301b8a92321247e90c3812c69b641d2a#diff-bcad03b547b9c650846bd78867b56f48) sets `IMvxAppStart.IsStarted` to `true`. The problem is the value is never cleared when all activities are closed, so the main launcher (splash screen) is shown again then it skips `IMvxAppStart.Start` after the splash screen is done loading.

[2018-03-23 19:21] Naveen9453 commented on #2181
which nuget package we have to use in place of MvvmCross.Droid.Shared package,
I am using MvxFragment in my project and it shows error The Type or Namespace name "MvxFragment" could not find.
I am new to MvvmCross Please Help.

[2018-03-23 21:13] tbalcom opened #2722 "Playground SheetView crashes Android application"
I'm sorry if this bug was already known. I did not find an open issue so I'm posting it here for tracking.

### Steps to reproduce :scroll:

1. Launch Playground.Droid

2. Click "SHOW SHEETVIEW"

3. Playground.Droid crashes with Unhandled Exception:

There is an interesting example showing how this problem can happen on [Stack Overflow](https://stackoverflow.com/questions/10593022/monodroid-error-

[2018-03-23 21:15] rudacs opened #2723 "Application restarts after Sleep -> Resume"
### Steps to reproduce :scroll:

1. Create Project Xamarin.Forms;
2. And I added two screens to navigate;
3. Enter the application;
4. Navigate to another page;
5. Send the app to background;
6. Then click on the application to go to the foreground.

### Expected behavior :thinking:
Continue the app from where you paused.

### Actual behavior :bug:
The application returns to the first page (root).

[2018-03-24 01:16] nickrandolph commented on #2723
Two questions:
- how are you sending the app to background - pressing home or back button?
- are you able to reproduce this with either 6beta or in the playground sample?

[2018-03-24 02:35] nickrandolph commented on #2684
@jz5 please check out https://github.com/MvvmCross/MvvmCross/pull/2713 and let me know whether you feel this is a more generic approach to handling this issue

[2018-03-25 00:30] nickrandolph commented on #2721
@tbalcom can you review https://github.com/MvvmCross/MvvmCross/pull/2713 and confirm this addresses this issue for Android

[2018-03-25 00:31] nickrandolph commented on #2723
@rudacs can you check out https://github.com/MvvmCross/MvvmCross/pull/2713 and see whether this addresses this issue too.

[2018-03-25 13:53] nickrandolph commented on #2707
@m-mccool are you able to provide a simple repo for this either:
- separate project (eg provide link to source code on  github)
- use the playground sample and submit a PR that shows how to repro this issue

[2018-03-25 13:57] nickrandolph commented on #2676
@Macjon are you able to reproduce this using the playground android sample?
What OS version are you running on the Huawei Mate 10 - I'm asking so that I can create an emulator image that has similar specs so that I can see if I can replicate the issue.

[2018-03-25 13:59] nickrandolph commented on #2662
@flostr can you confirm that this issue is still present in the latest code (develop branch)?

[2018-03-25 14:04] nickrandolph commented on #2653
@albertofustinoni I would recommend not using generics for pages in UWP - they really don't play nice and I suspect you're going to be fighting the compiler.
Before we close this issue as "won't-fix" can you replicate this issue using the playground sample and submit a PR showing the issue. I'll see if we can provide a work around that doesn't break the compilation

[2018-03-25 16:02] #2659 closed

[2018-03-25 16:02] #2227 closed

[2018-03-25 18:58] tbalcom commented on #2721
@nickrandolph Yes, the issue is fixed now.

[2018-03-25 21:42] #2721 closed

[2018-03-26 00:01] vatsalyagoel commented on #1472
Hi,
Will this fix be available in 5.x or only in 6.0?

[2018-03-26 00:06] nickrandolph commented on #1472
At the moment all work is being focussed on v6, so at this stage it'll only be fixed in v6.

[2018-03-26 00:41] vatsalyagoel commented on #1472
@nickrandolph I'll investigate and check if this fix solves my issue. The described solution and issue is exactly what I'm experiencing

[2018-03-26 07:18] flostr commented on #2662
@nickrandolph Yes, it's still present. It works for `Playground.Uwp` but not for `Playground.Forms.Uwp`.

[2018-03-26 08:53] Macjon commented on #2676
The solution was to set a fixed build target. So I think it's an visual studio for mac bug. Previously I've it was set automatically to oreo. Now I've manually set the build target to oreo and it's working again. So it's a weird error. So I think you can close this issue because it's not related to MvvmCross

[2018-03-26 10:45] nickrandolph commented on #2676
@Macjon thanks for getting back to us. I'll close this issue

[2018-03-26 10:45] #2676 closed

[2018-03-26 10:45] #2684 closed

[2018-03-26 17:56] martijn00 commented on #2417
@Sebastian1989101 Can you try this again with the latest 6.0 beta?

[2018-03-26 17:57] martijn00 commented on #2091
Please reopen if you have more information.

[2018-03-26 17:57] #2091 closed

[2018-03-26 20:57] nickrandolph commented on #2578
@dahovey are you able to repro this using the playground UWP sample? Alternative do you have a small sample app that you can share that demonstrates this issue.
In theory UWP behaviour should align with the native platform behaviour for navigationcache.

[2018-03-26 21:00] nickrandolph commented on #2577
@vkonst86 are you able to reproduce this in the playground sample? If so, can you submit a PR with your changes showing how to reproduce the issue

[2018-03-26 21:02] nickrandolph commented on #2549
@kciesiel can you please check to see if this issue is still present (we've changed a lot of the start up behaviour for Mvvmcross and need to know if this issue is still present). Perhaps if you can repro using the playground sample (develop branch) and PR your changes.

[2018-03-26 21:08] nickrandolph commented on #2631
@MarcBruins do you feel this is something you could assist with? If so, please feel free to submit a PR with your contribution.

[2018-03-26 21:10] nickrandolph commented on #2621
@echuck66 are you able to start amending the documentation in the places where it's no longer up to date - even if you could highlight areas that need changing/fixing, that'd help with the move to v6

[2018-03-26 21:11] nickrandolph commented on #2619
@KennethKr if you can add a sample that demonstrates this issue to the playground sample via a PR that'd be great.

[2018-03-26 21:13] nickrandolph commented on #2588
@zzhang31 can you add a sample of this to the playground uwp sample (develop branch) and submit via a PR.

[2018-03-26 21:16] nickrandolph commented on #2545
@Sebastian1989101 are you able to provide an example of this using the playground sample - please submit via a PR.

[2018-03-26 22:10] martijn00 commented on #2722
About 3. This will be the longer term way to go. Probably something that will land in MvvmCross 7.0.

[2018-03-26 22:33] #2722 closed

[2018-03-27 02:33] m-mccool commented on #2707
Hi @nickrandolph , Unfortunately I'm not back in the office until next week due to Easter break, so I cannot get anything to you until about the 4th. But I can describe the scenario

I am using `Xamarin.Android `not forms
I have a single `MvxAppCompatActivity`.
If you look at the stack overflow question you can see I am not caching the view models by providing and registering a new implementation

[2018-03-27 06:35] nickrandolph commented on #2491
Closing this question

[2018-03-27 06:35] #2491 closed

[2018-03-27 06:40] nickrandolph commented on #2440
@nmilcoff @martijn00 is this still going to make it into 6.0, or can we push to 6.1?

[2018-03-27 09:25] martijn00 commented on #2495
I think this is fixed in 6.0. We've done a lot of fixes for the presenters and one of them is to use the current Activity if no host is specified.

[2018-03-27 09:25] #2495 closed

[2018-03-27 12:15] nmilcoff commented on #2440
@nickrandolph we should take the chance to work on this for v6, as it involves a breaking change.

[2018-03-27 15:40] martijn00 commented on #2577
This is fixed in the playground.

[2018-03-27 15:40] #2577 closed

[2018-03-27 17:59] Sebastian1989101 commented on #2634
Just tested it with MVX 6.0.0 (beta6) and still the same issue. I will make a small video about the issue when I'm home what the issue is. Maybe I can get the latest version of MVX compile to debug it myself a bit.

[2018-03-27 19:52] Sebastian1989101 commented on #2634
Here is the video with a bit more details and a comparison between a normal Xamarin.Forms Shared App and a Xamarin.Forms MVX 6 App: https://youtu.be/BE_2ZzcoSDk

[2018-03-28 12:12] martijn00 commented on #2723
I've tested this in the latest playground and it works there. Please reopen with a reproduction sample if this still happens.

[2018-03-28 12:12] #2723 closed

[2018-03-28 12:13] martijn00 commented on #2599
Trace is removed from MvvmCross 6.0.

[2018-03-28 12:13] #2599 closed

[2018-03-28 12:14] martijn00 commented on #2508
Please try again on MvvmCross 6.0. We made several improvements for this.

[2018-03-28 12:14] #2508 closed

[2018-03-28 12:14] #2549 closed

[2018-03-28 12:49] #2718 closed

[2018-03-28 14:00] martijn00 commented on #2497
Fixed in https://github.com/MvvmCross/MvvmCross/pull/2731

[2018-03-28 14:00] #2497 closed

[2018-03-28 14:02] martijn00 commented on #2621
Fixed in https://github.com/MvvmCross/MvvmCross/pull/2731

[2018-03-28 14:04] nmilcoff commented on #2621
@martijn00 I think this isn't fixed in that PR. This issue is about all links on the docs pointing to source code URLs that were modified

[2018-03-28 21:07] Sebastian1989101 commented on #2463
Not sure if this might be fixed with MVX 6.0.0 (beta6) but it seems like this problem does not happen anymore (or at least my theme implementation overwrites this problem - not 100% sure).

[2018-03-29 10:23] closetoyou293 opened #2736 "Soft back button doesn't work in Playground.Android"
### Steps to reproduce :scroll:

1.Select Playground.Android as startup project. Change:
`RegisterAppStart<RootView>();`
to
`RegisterAppStart<SplitRootViewModel>();`
2.Run project:
Click on button on SplitDetailView to navigate to SplitDetailNavView
=> There is no back button.
3. Modify OnCreateView function in SplitDetailNavView

[code]

### Expected behavior :thinking:
Soft back button should wo

[2018-03-29 13:44] wh1t3cAt1k opened #2738 "No single source of truth about view model lifecycle events like Close"
My application lives with the concept of disposable view models, we dispose them as soon as the screen is closed.

The problem is that in MvvmCross there is no single source of truth about view model events.

There is `IMvxNavigationService.OnAfterClose`, but it only triggers when I explicitly use the navigation service.

* It does not work when the view model is closed using the Back button.
* It

[2018-03-29 15:13] martijn00 commented on #2620
Fixed in https://github.com/MvvmCross/MvvmCross/pull/2731

[2018-03-29 15:13] #2620 closed

[2018-03-29 15:14] #2463 closed

[2018-03-30 00:50] nmilcoff commented on #2723
If you were bringing the app to foreground by tapping on the launcher icon - then that's the standard behavior and there's no MvvmCross bug involved. You need to modify your Activity flags to effectively manage that.

[2018-03-30 07:16] wh1t3cAt1k opened #2740 "IMvxNavigationService.OnAfterClose may trigger before presentation is changed"
In Android, I have two-thread application architecture.

1. I call `IMvxNavigationService.Close()` from the background thread.
1. Inside `Close()`, the view dispatcher requests a main thread action from `ViewDispatcher`.

### Expected behavior :thinking:

I expect the `OnAfterClose` event to be triggered after the main thread action has returned.

### Actual behavior :bug:

Immediately `OnAfterClo

[2018-03-30 07:23] nickrandolph commented on #2740
Are you able to either provide a sample app or submit a PR showing how to replicate this using the playground samples?

[2018-03-30 07:41] wh1t3cAt1k commented on #2740
I will try to find time for a test app (NDA forbids me from posting real code), but in the meanwhile the below samples are enough to demonstrate the pitfall:

From `MvxNavigationService`:

[code]

Note that this is called from the background thread.

From `MvxAndroidMainThreadDispatcher`:

[code]

It is evident that `OnAfterClose` will be triggered immediately after posting the main thread action,

[2018-03-30 08:33] #2678 closed

[2018-03-30 12:50] Cheesebaron opened #2742 "NuGet package descriptions are missing from csproj files"
Each package should have a `<Description>` tag in the first `<PropertyGroup>` describing the contents of the package.

### Steps to reproduce :scroll:

1. Find a MvvmCross 6.0.0-beta.x package on NuGet.org

2. Look at description

### Expected behavior :thinking:
There should be a description of the package

### Actual behavior :bug:
No description

### Configuration :wrench:

**Version:** 6.0.0-b

[2018-03-30 13:05] orzech85 commented on #2742
I will take it ;)

[2018-03-30 13:40] kjeremy opened #2743 "WPF Presenter documentation is out of date"
### Steps to reproduce :scroll:

1.  Look at the docs.

2.  Try to implement your own presenter.

3.  Notice that it fails.

### Expected behavior :thinking:
Docs should match the code.

[code]

There is also no mention of the differences between `MvxSimpleWpfPresenter` and `MvxWpfViewPresenter`

### Actual behavior :bug:
They don't.

### Configuration :wrench:

**Version:** 5.x

**Platform:**
- [

[2018-03-30 13:52] Cheesebaron commented on #2742
@orzech85 make sure to do this on the develop branch :)

You can take a look at what we had before in the old nuspec files in the master branch.

[2018-03-30 13:52] nmilcoff commented on #2743
`MvxSimpleWpfPresenter` is obsolete and was deleted for v6.

[2018-03-30 16:15] Sebastian1989101 opened #2745 "[iOS] Using VS AppCenter "AppCenter.Start" while MvxApplication.Initialize results in deadlock since MVX 6 beta7"
### Steps to reproduce :scroll:

1. Using VS AppCenter

2. Start the AppCenter within the MvxApplication.Initialize overwrite

### Expected behavior :thinking:
No deadlock like it was with MVX 6.0.0 beta6 and before.

### Actual behavior :bug:
Deadlock without any result (App stays on Splash Screen, there is no exception when debugging as soon as you step over AppCenter.Start nothing happens anymo

[2018-03-31 00:38] nickrandolph commented on #2740
Thanks for the update. There should be enough for us to reproduce the issue.
I think the suggestion to make the dispatcher async aware or at least have an async option would be good. We’re gradually weeding out areas of mvx where there has been a previous assumption that things will run synchronously

[2018-04-03 20:19] juanagu opened #2757 "Crash when Close Viewmodel With Result using MasterDetail"
Sample repository: https://github.com/juanagu/MvvmCross/tree/master

I Added:
ViewModel : MixedNavResultDetailViewModel
Page: MixedNavResultDetailPage

### Steps to reproduce :scroll:

1.  Run Playground.Forms.iOS or Playground.Forms.Android

2. Open Show Mixed Navigation

3. Click Login

4. In Menu Drawer selected "Result" option.

5. Click "Cerrar"

### Expected behavior :thinking:
Close viewmod

[2018-04-04 14:35] borbmizzet commented on #2745
This is a major concern for those of us who use VS App Center for diagnostics.  I was planning on migrating our Vanilla Xamarin.Forms code to MvvmCross v6 as soon as it was released but this regression is a major roadblock.

[2018-04-04 15:29] nmilcoff commented on #2745
Also initializing AppCenter in the App class is probably too late (and dangerous) if you're using their crash logging feature.

[2018-04-04 15:46] Sebastian1989101 commented on #2745
@Cheesebaron The Xamarin.Forms OnStart() methods seems to be too late when using MVX. The push notifications wont work there. The `MvxApplication.Initialize()` is earlier but it is no longer possible to init VS AppCenter there (app freeze at launch since beta7, works with beta6 and earlier).

I'm using the `AppDelegateFinishedLaunching()` and the `MvxSplashScreenActivity.RunAppStart()` since beta7

[2018-04-04 20:34] ornolisvt commented on #1678
I have the same error, it happens randomly:

Fatal Exception: android.runtime.JavaProxyThrowable: System.InvalidCastException: Specified cast is not valid.
  at (wrapper castclass) System.Object:__castclass_with_cache (object,intptr,intptr)
  at MvvmCross.Droid.Support.V7.AppCompat.MvxAppCompatActivity`1[TViewModel].get_ViewModel () [0x00006] in <60987d839dca4ba5beb932e22cb99ee3>:0
  at PayPhone.C

[2018-04-04 20:51] Cheesebaron commented on #1678
Create a repro sample and we will take a look.

So far we haven't been able to reproduce this at all. Nor do I own any of the mentioned devices.

[2018-04-04 20:58] kjeremy commented on #1678
Do you have a custom presenter?

[2018-04-04 21:02] yalin78 commented on #1678
?This one got resolved.
________________________________
From: Jeremy Kolb <notifications@github.com>
Sent: Wednesday, April 4, 2018 3:59 PM
To: MvvmCross/MvvmCross
Cc: Patel, Nilay; Author
Subject: EXTERNAL: Re: [MvvmCross/MvvmCross] Application crashing with invalid cast exception (#1678)

Do you have a custom presenter?

-
You are receiving this because you authored the thread.
Reply to this em

[2018-04-04 21:32] Sebastian1989101 opened #2760 "After updating my SplashScreen to the Playground structure, my style won't apply anymore (6.0.0-beta7)"
### Steps to reproduce :scroll:

1. Update the SplashScreen.cs to latest Playground.

Previous SplashScreen.cs:
[code]

Previous (and wanted) look of my list:
https://i.imgur.com/RkJsktT.png

After update SplashScreen.cs:
[code]

After update (not wanted and what happens to my style?!) look of my list:
https://i.imgur.com/LmKOI3n.png

### Expected behavior :thinking:
Should not change the style of

[2018-04-04 21:46] nickrandolph commented on #2760
@Sebastian1989101 can you try not calling the base.RunAppStart in the splash - I think there's an issue where Start is run too early (it's invoked on the forms activity as well) and as such it's not picking up your styles correctly

[2018-04-04 21:46] nickrandolph commented on #2760
Also, please try using MvxSplashScreenAppCompatActivity instead of the non-appcompat version

[2018-04-04 21:51] Sebastian1989101 commented on #2760
@nickrandolph both just tested, no change at all.

[2018-04-04 21:56] Sebastian1989101 commented on #2760
Maybe it helps for the diagnosis of the problem (or maybe I can create a small repo with the issue at the weekend), here are my style files:

colors.xml:
[code]

styles.xml (values):
[code]

styles.xml (values-v21):
[code]

AppTheme is loaded by default from the `ActivityAttribute` while the user choosed theme gets loaded after the splash screen (DefaultTheme, DarkTheme or LightTheme). It works pr

[2018-04-04 22:14] nickrandolph commented on #2760
@Sebastian1989101 if you get a chance to try to repro this using the playground sample apps, that'd be great (just send a PR with the changes for us to review).

[2018-04-05 06:30] Cheesebaron commented on #1678
No this one was never reproduced.

[2018-04-05 11:34] m-mccool commented on #2707
[MvvmCrossDemoIssue2707.zip](https://github.com/MvvmCross/MvvmCross/files/1879819/MvvmCrossDemoIssue2707.zip)

Hi @nickrandolph find attached a simple (artificial) example to demonstrate this.

Build and run the app and keep pressing the buttons presented until the list dialog is shown.
Then rotate the device (ensuring it is not locked to portrait).
The framework will attempt to recreate the ListP

[2018-04-05 12:50] benhysell commented on #2712
I have a tab presenter for WPF I did a while back...might be a good basis for going forward?  It would need to be brought forward for v5-v6.

https://github.com/benhysell/V.Tabs

[2018-04-05 13:06] andrew-nemtsev opened #2762 "ViewControllers animation can't be disabled for VM Navigate() / Close()"
### Steps to reproduce :scroll:

1. Create descendants of MvxViewController with [MvxChildPresentation(Animated = false)] attrubute
2. Call NavigationService.Navigate() / NavigationService.Close() for each of Views (created at step 1)
3. Notice whether Push/Pop animation will be performed

### Expected behavior :thinking:
Push / Pop has to be performed without animation

### Actual behavior :bug:

[2018-04-05 17:05] ornolisvt commented on #2458
I have the same issue but it happens randomly. However I have been able to reproduce it in the following way:

From a notification I use
await NavigationService.Navigate<ViewModel, TModel>(data);

In the ViewModel runs smoothly Prepare
public override void Prepare (TModel parameter)

Then execute ViewCreated
public override void ViewCreated ()
{
            base.ViewCreated ();
            LoadCom

[2018-04-05 18:17] Happin3ss commented on #2712
@benhysell : Actually based on your works, I have made a version that can work well with v6 but I don't know how to make a generic version.
 On tomorrow, I will post my idea so might be some one can make it generic and apply to MVVMCross v6.

[2018-04-05 22:08] ornolisvt commented on #1678
Yes I have a custom presenter @kjeremy
    public class MvxCustomDroidPresenter : MvxAppCompatViewPresenter
    {
        public MvxCustomDroidPresenter(IEnumerable<Assembly> AndroidViewAssemblies) : base(AndroidViewAssemblies)
        {

        }

        public override void RegisterAttributeTypes()
        {
            base.RegisterAttributeTypes();
            AttributeTypesToActionsDictiona

[2018-04-05 22:58] nickrandolph commented on #1678
Any chance you can try to repro using the Playground samples? If you can, please submit as a PR referencing this issue and we’ll investigate further

[2018-04-06 04:57] nickrandolph commented on #2762
@andrew-nemtsev are you able to submit a PR with this fixed for v6?

[2018-04-06 05:37] nickrandolph commented on #2757
@juanagu a couple of requests (mainly for future issues)
- Can you submit your example as a PR instead of just a remote repo
- Can you please make sure your example is based off current develop (ie v6 at the moment)

[2018-04-06 09:26] #2742 closed

[2018-04-06 09:33] #2757 closed

[2018-04-06 09:56] benhysell commented on #2712
@Happin3ss very nice.

Not for nothing...but while you are in there I also have a slide out menu, https://github.com/benhysell/V.SlideoutMenu

Works on a lot of the same principals.

[2018-04-06 13:43] #2743 closed

[2018-04-06 15:22] F0rc0sigan opened #2770 "Xamarin Forms Images is not shown on Android when using mvvmcross"
Here is link to reproduce issue https://github.com/F0rc0sigan/MvvmCrossImageNotLoadingTestApp

### Steps to reproduce :scroll:

1. Setup Xamarin.Forms project with mvvmcross

2. Add image on page
<Image Source="xamarin_logo.png" VerticalOptions="Center" HeightRequest="64" />

3. Image is not shown, though without mvvmcross it is shown as expected

### Expected behavior :thinking:
It should load im

[2018-04-06 15:26] martijn00 commented on #2770
Can you PR this sample to the playground?

[2018-04-06 15:32] #2745 closed

[2018-04-06 16:06] F0rc0sigan commented on #2770
@martijn00 Thanks for your quick response. I dont get what you mean. Implement sample in playground or just add my sample to playground folder as separate solution and create pull request?

[2018-04-06 16:53] #2762 closed

[2018-04-07 07:48] nosami opened #2772 "MvvmCross doesn't work with F# Android app resources"
### Steps to reproduce :scroll:

1. Clone this repo [Fsharp Droid project with MvvmCross](https://github.com/willsam100/MvvmFsharpDroid)

2. Build

3. Run

### Expected behavior :thinking:

The application should launch

### Actual behavior :bug:
Tell us what happens instead

[code]

### Configuration :wrench:

**Version:** 5.x

**Platform:**
- [ ] :iphone: iOS
- [x] :robot: Android
- [ ] :checker

[2018-04-07 07:49] nosami commented on #2772
See discussion [here](https://github.com/xamarin/xamarin-android/issues/1513#issuecomment-379444413)

[2018-04-07 08:59] nosami commented on #2772
I was going to attempt to fix this, but I can't get this solution to build on OSX. To find the resource type for an assembly, you need to do the following.

https://github.com/xamarin/xamarin-android/blob/f071dd61252abe35b63c724467caafd9314c804c/src/Mono.Android/Android.Runtime/ResourceIdManager.cs#L33-L43

[2018-04-07 09:43] martijn00 commented on #2772
@nosami VS4Mac is broken, you need to use the command line to build on Mac. It would be better to do this on Windows where everything works.

[2018-04-07 09:45] nosami commented on #2772
How do you build on command line? I tried that but the cake script doesn't work (complains about missing netstandard reference)

I got it to partially build by running `dotnet restore` followed by msbuild.

[2018-04-07 09:53] martijn00 commented on #2772
Try this:
`msbuild MvvmCross.sln /t:restore`
`msbuild MvvmCross.sln /p:Configuration=Release`

[2018-04-07 18:59] Sebastian1989101 commented on #2064
@martijn00 This was added to the milestone for 5.1.0. Today I needed such a function again and tested it with 6.0.0 beta7 and again, `RaiseCanExecuteChange` does not trigger a reevaluation of the can execute. Even worse, the can execute is never reevaluated so that if the relevant property changes, nothing will happen.

[2018-04-07 23:06] nickrandolph commented on #2064
Any chance you can reproduce this in playground and submit a PR showing the issue?

[2018-04-07 23:08] Sebastian1989101 commented on #2064
@nickrandolph I'm currently trying to get the Playground compile and execute (also for the other open issue). As soon as this works I can create Repos with the issue(s).

[2018-04-07 23:37] nickrandolph commented on #2064
Are you trying to run it on Mac or PC? The latter is easier as it works in VS. Make sure you do a clean all across solution and then force rebuild individually on mvvmcross, Android appcompat, and the mvvmcross.forms. Then you should be good to run the samples

[2018-04-07 23:43] Sebastian1989101 commented on #2064
@nickrandolph Just deleted everything and checked it out completely fresh. Now I'm trying to restore NuGet packages but it looks like it is failing all over the place. I'm even not able to compile the MvvmCross core project. It always ends with `Error: NuGet packages need to be restored before building. NuGet MSBuild targets are missing and are needed for building. The NuGet MSBuild targets are ge

[2018-04-07 23:48] nickrandolph commented on #2064
I think the multi-targeting isn’t working well on vs for Mac. If you have VS (PC) handy I would try that as I think you’ll be able to get it running much easier

[2018-04-08 00:52] Sebastian1989101 commented on #2064
Here is a repo with the issue:
https://github.com/Sebastian1989101/MvvmCross/tree/Issue-2064-CanExecute

[2018-04-08 01:58] Sebastian1989101 commented on #2760
Here is a repo for this issue:
https://github.com/Sebastian1989101/MvvmCross/tree/Issue-2760-DroidStyle

[2018-04-08 02:29] nickrandolph commented on #2760
Hey can you raise a PR off this - it makes it easier for us to review changes and can form the basis for a PR that fixes the issue

[2018-04-08 04:06] xyz20533 opened #2776 "MvxTabbedPage show double tabbedbar on screen bottom"
1. I use xaml define MvxTabbedPage in my project but run this project on simulator that has douuble tabbedbar on screen bottom.
2. I use MvxTabbedPage and define title for current page but title occur in tabbedbar.

https://1249808869.visualstudio.com/_git/Zero

### Steps to reproduce :scroll:

1.

2.

3.

### Expected behavior :thinking:
Tell us what should happen
I want only occur one tabbedbar

[2018-04-08 05:45] AleOp commented on #2770
I had the same problem. The core cause of it is that MvvmCoss Setup's `FormsApplication` property initializes Xamarin.Forms with the wrong assembly for resources. Thus, Xamarin.Form'es `ResourceManager` will resolve `Drawable` and `Resource` class instances from Android.* namespace, not from yours. Hence, Xamarin.Forms will be trying to resolve images not from YourProject.Resources but from Androi

[2018-04-08 07:59] orlolro commented on #2770
@nickrandolph At develop branch, playground project's RootPage.xaml contains image with MvvmCross logo which is not loaded. I suppose, it already shows the issue

[2018-04-08 09:03] nickrandolph commented on #2770
Awesome. Thanks will investigate

[2018-04-08 12:07] Cheesebaron commented on #2776
We are not authorized to access your vs.com repo. Please put it somewhere public.

[2018-04-08 15:01] xyz20533 commented on #2776
@Cheesebaron https://github.com/xyz20533/MvxTabbedPage

[2018-04-09 14:41] tbalcom opened #2782 "Playground.Droid creates multiple instances of RootViewModel"
### Steps to reproduce :scroll:

1. Start Playground.Droid
2. Click the "SHOW MASTER/DETAIL" button.
3. A second instance of RootViewModel is displayed. You can see the Master/Detail views after closing the duplicate RootViewModel instance. The bug doesn't repeat itself again until you restart the application.

### Expected behavior :thinking:
RootViewModel should not be displayed a second time wh

[2018-04-10 06:12] RonakPatel21 opened #2785 "Error installing PictureChooser"
It throws "Could not install package 'MvvmCross.Plugin.PictureChooser 5.6.3'. You are trying to install this package into a project that targets '.NETPortable,Version=v4.5,Profile=Profile259', but the package does not contain any assembly references or content files that are compatible with that framework. For more information, contact the package author"

[2018-04-10 06:14] nickrandolph commented on #2785
What project type are you trying to add the nuget package too?

[2018-04-10 06:16] RonakPatel21 commented on #2785
Portable class library project(in which my all ViewModels are)

[2018-04-10 06:29] nickrandolph commented on #2785
And what profile do you currently have selected for your PCL - if not Profile259, can you change to that profile (as per the error)?

[2018-04-10 06:31] RonakPatel21 commented on #2785
It's **Profile259**

[2018-04-10 06:33] nickrandolph commented on #2785
can you try adjusting it to profile 111 and see whether that works for you?

[2018-04-10 06:34] nickrandolph commented on #2785
unfortunately pcls are just a pain to work with - I'd suggest migrating to .net standard as quickly as you can (even using 5.6.3 of Mvx)

[2018-04-10 13:55] orestesgaolin opened #2786 "How to properly embed Xamarin.Forms views in Xamarin.Native MvvmCross?"
Please forgive me that I don't adapt a default issue template, but I have a question rather than an issue. I'm still learning Xamarin and MvvmCross and I would love to embed some Forms views in my Native MvvmCross powered app.

I found it rather difficult to achieve such outcome even with some examples [like this one](https://github.com/munkii/MvvmCross/tree/develop/TestProjects/Forms/NativeToXF)

[2018-04-10 15:00] Cheesebaron commented on #2786
Please use [Slack #mvvmcross](https://xamarinchat.herokuapp.com/) or [StackOverflow](https://stackoverflow.com/questions/tagged/mvvmcross) for questions. Github is meant to be used for bugs and feature requests only.

[2018-04-10 15:00] #2786 closed

[2018-04-10 15:05] orestesgaolin commented on #2786
@Cheesebaron Ok, thanks for guidance! Have a great day!

[2018-04-11 06:05] RonakPatel21 commented on #2785
I can't... project don't allowing me to change profile. It auto change it to 259

[2018-04-11 06:09] Cheesebaron commented on #2785
Sorry, we don't support PCL profiles with Windows Phone 8 in them.

I suggest that you migrate your project to .NET Standard at least profile 1.1, but probably just go with 2.0 since, that is what the future version of MvvmCross is running.

[2018-04-11 06:09] #2785 closed

[2018-04-11 14:08] #2772 closed

[2018-04-11 16:26] tbalcom commented on #2782
Here is another scenario I've found that also triggers this problem:

1. Click "SHOW MODAL" button.
2. Rotate the screen.
3. A new instance of `RootViewModel` is displayed. FYI, clicking "SHOW MODAL" on the new instance crashes the application.

 System.NullReferenceException: Object reference not set to an instance of an object.
   at MvvmCross.Droid.Support.V7.AppCompat.MvxAppCompatViewPresenter

[2018-04-11 16:27] tbalcom commented on #2782
Are these problems related to #2775 ?

[2018-04-11 16:57] angelru commented on #2782
@tbalcom the same issue:
[code]

[2018-04-12 12:05] #2770 closed

[2018-04-12 12:22] SamuelDebruyn opened #2791 "Add IsOnMainThread to IMvxMainThreadDispatcher"
The `IMvxMainThreadDispatcher` now only allows you to run an action on the UI thread, regardless of the current thread.

However, sometimes you'd want to run different code depending on the thread you're on (e.g. when you're working with a synchronized, thread-safe observable collection).

So a property on the `IMvxMainThreadDispatcher` indicating if the current thread is the main thread would be

[2018-04-12 14:01] martijn00 commented on #2776
Can you make a PR to change the playground to show this?

[2018-04-12 14:07] tbalcom commented on #2782
I tried out Playground with the recent changes. These issues are now fixed. Thanks!

[2018-04-12 14:07] #2782 closed

[2018-04-12 15:19] martijn00 commented on #2101
This is packaged in 6.0

[2018-04-12 15:19] #2101 closed

[2018-04-12 15:28] martijn00 commented on #2069
@fedemkr are you able to pick this up again and implement the other missing features?

Linked issues:
https://github.com/MvvmCross/MvvmCross/issues/534
https://github.com/MvvmCross/MvvmCross/issues/2077

[2018-04-12 15:33] martijn00 commented on #1472
Please reopen this if it still is an issue on 6.0.

[2018-04-12 15:33] #1472 closed

[2018-04-12 19:49] david-laundav commented on #2791
I will take a look at this issue.

[2018-04-13 13:40] borbmizzet opened #2794 "Implement a way to use Mvx Navigation for custom XAML-based modal popup views"
It would be really nice to have a built in ViewModel-first replacement for [Rg.Plugins.Popup](https://github.com/rotorgames/Rg.Plugins.Popup) that uses MvvmCross navigation and IoC that would allow XAML-based modals to not take up the whole screen.

**Platform:**
- [ ] :iphone: iOS
- [ ] :robot: Android
- [ ] :checkered_flag: WPF
- [ ] :earth_americas: UWP
- [ ] :apple: MacOS
- [ ] :tv: tvOS
- [x]

[2018-04-13 16:07] JosephDevlin commented on #2181
@Naveen9453
Did you ever solve that issue? I have the same one

[2018-04-13 19:28] michelmob commented on #2009
@martijn00  What happens if I call from RegisterNavigationServiceAppStart<T>() and my first view Model use it?

I'm trying to do it and my application crashes. I'm trying to instantiate my abstraction of Http Cliente and when I call

 public override async Task Initialize()
        {
            await base.Initialize();

            var res = await accountService.LogOn("ta", "123", "123");

[2018-04-14 01:17] nickrandolph commented on #2736
@closetoyou293 are you able to confirm that this is still a bug in v6 (current develop branch)?

[2018-04-14 01:25] nickrandolph commented on #2653
@albertofustinoni I'm going to close this issue - the work around it to just not use generics and there's not much we can do about the XAML compiler

[2018-04-14 01:25] #2653 closed

[2018-04-14 01:26] nickrandolph commented on #2634
@Sebastian1989101 as v6 is wrapping up we'll be looking to address more bugs like this in next release. Would you be able to submit this as a PR showing how to repro the issue with the playground samples?

[2018-04-14 01:29] nickrandolph commented on #2588
@zzhang31 I'm going to close this issue as it's raised against an old version, according to your issue it affects windows phone only and you haven't responded to the request for further information. If you're able to provide a PR with a sample showing this, we'll gladly reopen the issue for further investigation

[2018-04-14 01:29] #2588 closed

[2018-04-14 01:32] nickrandolph commented on #2572
@g0rdan if you use a different email client, do you see the same issue? Might be worth looking at the html that is generated and seeing whether it's well formed

[2018-04-14 01:33] nickrandolph commented on #2550
@nmilcoff can you confirm that this issue has been addressed in v6?

[2018-04-14 01:34] nickrandolph commented on #2545
@Sebastian1989101 would you mind also checking this bug against v6 (develop branch)

[2018-04-14 01:50] michelmob commented on #2009
@nickrandolph, forget about the logon method, we can change it for an GetSomethingAsync().

I created the full explanation here: https://stackoverflow.com/q/49824971/319206

[2018-04-14 22:26] david-laundav commented on #2791
So, I have been thinking a bit, and considered to expose a property called `IsOnMainThread` in the `IMvxMainThreadAsyncDispatcher`. Basically, this would do as follows:

`public bool IsOnMainThread => Thread.CurrentThread.ManagedThreadId == 1;`

I have although read that the main thread may not always be `1`.

So, I considered persisting the `mainThreadId` when the instance is created, but found t

[2018-04-15 15:51] andrewtechhelp opened #2796 "WPF Support Missing From MvvmCross 6.0.0"
### Steps to reproduce :scroll:

1. Open Playground Project For WPF (Playground.Wpf)

2. Create a constructor for the App class and add the following code this.RegisterSetupType<MvxWpfSetup<Core.App>>(); (I believe this needs to be added to the Playground sample in general, I may add a pull request with this at some point)

3. Try to build and run the application

### Expected behavior :thinking:

[2018-04-15 18:16] martijn00 commented on #2796
There should be a WPF nuget package. Using that should make this work.

[2018-04-15 21:49] nickrandolph opened #2798 "[Discussion]Versioning and Release Schedule"
With the release of v6 out of the way I thought it would be a good idea to get mvvmcross back on to a regular cadence for releases, as well has have a generally understood versioning strategy.

**Versioning**
My suggestion for version numbering would be:
Major (eg v6.0.0) - substantial architectural or significant breaking changes
Minor (eg v6.1.0) - new features, possibly some breaking changes wh

[2018-04-15 21:59] nickrandolph commented on #2331
@Cybrosys just confirming, does the referenced PR address this issue? (ie can we close this issue)

[2018-04-15 22:00] andrewtechhelp commented on #2796
What is this NuGet package called? I did search for one with MvvmCross & WPF in the name, but I couldn't find it.

At https://www.nuget.org/profiles/MvvmCross - There's no package with WPF in the name listed there either.

[2018-04-16 05:07] Cheesebaron commented on #2796
Thank you for opening this issue.

The csproj was missing from the build script, hence no NuGet package was produced during build. I'll fix this during today and release the missing package.

[2018-04-16 05:19] haohighview opened #2800 "Attribute "MvxBind" has already been defined"
### Steps to reproduce :scroll:

\obj\Debug_AIS_Test\lp\25\jl\res\values\mvxbindingattributes.xml(2): error APT0000: Attribute "MvxBind" has already been defined
\obj\Debug_AIS_Test\lp\25\jl\res\values\mvxbindingattributes.xml(2): error APT0000: Attribute "MvxLang" has already been defined
\obj\Debug_AIS_Test\lp\25\jl\res\values\mvxbindingattributes.xml(2): error APT0000: Attribute "MvxTemplate" h

[2018-04-16 05:42] Cheesebaron commented on #2800
You need to provide more information on how to reproduce this.

Usually these errors appear if you have your own local `MvxBindingAttributes` file, which was deprecated long ago since it is bundled with MvvmCross. In 5.x in the `MvvmCross.Bindings.Droid` assembly.

They can also appear if you are mixing versions of MvvmCross, so multiple of these assemblies are loaded.

From the information you ha

[2018-04-16 05:50] haohighview commented on #2800
but now MvvmCross.Binding can't update to 6.0.0, The latest version is 5.7.0.

[2018-04-16 05:51] Cheesebaron commented on #2800
Just remove it. It is not needed anymore in MvvmCross 6.0.0, it is described in the changelog.

[2018-04-16 06:47] Cheesebaron commented on #2798
This is blocked until Visual Studio 15.7 is released and running on AppVeyor.

As for regular planned releases, I am all in for that, it is easy to manage with the CI we have, we just need to create a `release/{major.minor.patch}` branch and it will be magically picked up if it also has a git tag, we can always adapt this logic if a different workflow is needed here.

As for versioning, we already

[2018-04-16 07:41] Danielbahe commented on #1894
@nmilcoff Finally the bug is not happening.
I tested the app with another pc, another device and the bug didn't appear.
Then I test again on the same pc and the same device than before and works too.
I explain here that for any people who ends here with the same problem than me.

[2018-04-16 08:02] m-mccool commented on #2707
Thanks @nickrandolph, much appreciated

[2018-04-16 11:42] andrewtechhelp commented on #2796
Brilliant. Thanks :)

[2018-04-16 13:05] #2800 closed

[2018-04-16 13:10] martijn00 commented on #2776
@xyz20533 you need to make a new branch on your fork. Make sure to rebase that, and then commit the fix and make the PR.

[2018-04-16 13:13] martijn00 commented on #2791
That class doesn't need to be abstract i think. You could just remove that and add the code.

[2018-04-16 15:28] martijn00 commented on #2629
Maybe this PR gives some inspiration: https://github.com/MvvmCross/MvvmCross/pull/2780/files

[2018-04-16 21:25] younas-bangash opened #2801 "Resource.Layout' does not contain a definition for '[ViewName]'"
[code]

### Steps to reproduce :scroll:
Just follow the video
https://www.youtube.com/watch?v=NihmK6R9r4s
1.

2.

3.

### Expected behavior :thinking:
Tell us what should happen
it should work as just shown in the video
### Actual behavior :bug:
Tell us what happens instead

it show the following error
Resource.Layout' does not contain a definition for '[ViewName]'
### Configuration :wrench:

**Ve

[2018-04-16 23:00] andrewtechhelp commented on #2796
Package installed and works as expected. Thanks :)

[2018-04-16 23:00] #2796 closed

[2018-04-17 06:08] MKuckert commented on #534
I have an implementation for the first case to pass arguments to `IocConstruct`: `var sqlConnection = Mvx.IocConstruct<SQLiteConnection>({path="mydbpath", mode=Mode.ReadOnly});`

https://github.com/SALT-AND-PEPPER/MvvmCross/commit/509b15c0e1e24e52310d281d1873e30181782e32

It's currently based on the old 5.7.0 release because I can't successfully open the current develop branch in VS4Mac (complains

[2018-04-17 08:25] Cheesebaron commented on #2801
Thanks for opening this issue. Please use and fill out the issue template as it gives us a better overview of what is going on. If you haven't already added reproduction steps or even better a repository with a reproduction sample, please do so. It speeds up debugging issues a lot.

[2018-04-17 08:34] pdonovan opened #2802 "MvxFormsIosSetup.CreateViewPresenter called too soon?"
### Steps to reproduce :scroll:

1. In the Playground.Forms.iOS project, add a Setup.cs containing an implementation of `MvxFormsIosSetup<Core.App, FormsApp>` that overrides `CreateViewPresenter()`, The override should use a custom IMvxFormsPagePresenter for its `FormsPagePresenter` that subclasses `MvxFormsPagePresenter`. See attached Setup.cs for full code.
[Setup.cs.txt](https://github.com/Mvvm

[2018-04-17 09:43] martijn00 commented on #2802
This is not how Forms is working. You need to use a native presenter like `MvxFormsIosViewPresenter` which contains the shared `MvxFormsPagePresenter` and override it there.

I think we could make it easier to override the `MvxFormsPagePresenter` by making that virtual in the setup.

[2018-04-17 10:33] closetoyou293 commented on #2736
@nickrandolph i've just checked and still happens

[2018-04-17 10:35] martijn00 commented on #2736
I'm looking into this. From what i saw so far this is more of a sample problem than a bug in MvvmCross. Will see if i can fix it soon.

[2018-04-17 11:39] SamuelDebruyn commented on #2069
I'd really like support for the IEnumerable feature.

Example (fictional): my code contains 3 services implementing ISocialMediaPoster
- FacebookPoster
- TwitterPoster
- InstagramPoster

They all are registered as the interface ISocialMediaPoster and as lazy singletons.

I'd like to be able to do something like `Mvx.Resolve<IEnumerable<ISocialMediaPoster>>` and then get a list containing an instan

[2018-04-17 13:31] RonakPatel21 opened #2804 "MvxRecyclerView Unable to get template item's button click"
using **MvxRecyclerView**  i'm unable to find inner template button click

**Mylayout.axml**

[code]
On above code
**ShowListItemsCommand** working  well with viewmodel

my item template (**card_item.axml**)
[code]
**CommandSort** within item template not working

**MyViewModel**
[code]
**CommandSort** is not getting executed. However ItemClick of RecyclerView works fine.
is there any way to get c

[2018-04-17 14:32] scotch83 opened #2806 "Documentation request"
**Request for MvvmCross Reference documentation**

Hello,

it would be nice **if possible** to have a reference of the framework like a standard language reference.

Like this:
https://developer.android.com/reference/android/Manifest.permission.html
With all the classes and methods and related descriptions and use.

Thank you

[2018-04-17 15:44] nmilcoff commented on #2804
Can you please add some more code? It's pretty difficult to diagnose otherwise. What does your ViewModel look like? What do your list items look like? Where is your command placed?

[2018-04-17 18:22] code-mc opened #2807 "MvvmCross.Platforms.Android namespace missing from MvvmCross 6.0.0 package"
As seen on the 6.0.0 release announcement:

But it appears the platform namespace is missing (at least for Android)...

### Steps to reproduce :scroll:

1. Create a new project

2. add MvvmCross 6.0.0 package on .NET 2.0 Core and Droid project

### Expected behavior :thinking:
Should have a bunch of Android related classes (MvxActivity, MvxAndroidSetup...) inside the MvvmCross.Platforms.Android na

[2018-04-17 18:27] code-mc commented on #2807
Might be related to https://github.com/MvvmCross/MvvmCross/issues/2796

[2018-04-17 18:55] younas-bangash commented on #2801
What information you want to know on your website you just specify the video I follow the same video but its not working nor your documentation is properly written

[2018-04-17 19:00] younas-bangash commented on #2806
one of the best platform and it have worst documentation mostly their webpages are down

[2018-04-17 19:57] JimWilcox3 opened #2808 "Error when using the Initialize event in a view model since upgrade to Version 6.0"
https://github.com/JimWilcox3/MvvmCrossInitializeTest

### Steps to reproduce :scroll:

1.  The project will hang up if you run it as is.  The View is never displayed.

2.  If you comment out the ColorList = await SomeData.GetColors(); in the Initialize, the View is displayed but the colors are not loaded.

3.  If you un-comment the Task in the constructor, the colors will load and the View will b

[2018-04-17 21:52] nickrandolph commented on #2798
w.r.t. versioning - I should have referenced SemVer 2.0. I guess my point here is that we should try to stick to this closer, which is only possible if we start to manage different branches for bug fixes versus new features.

w.r.t. testing - my point was just to separate out a beta, prior to the end of the month, allowing users of mvvmcross to grab the beta, give it a try and confirm that it does

[2018-04-18 04:04] RonakPatel21 commented on #2804
issue updated with more code

[2018-04-18 06:02] pdonovan commented on #2802
Thanks. I have a workaround for now, doing it the way I think you mean. I'll change to the method in #2803 when that's available.

[2018-04-18 07:37] azeemchaudhrry commented on #2804
@RonakPatel21 you need to review the application log while clicking the button, you cannot directly bind the ViewModel command with the button inside Item.

[2018-04-18 07:58] Cheesebaron commented on #2798
The last point about beta, I dunno how that is different from what we have now where you can just grab latest build from MyGet and test on that?

[2018-04-18 07:58] code-mc commented on #2807
Uninstalling and installing the mvvmcross package fixed the issue. Still very odd only the platform namespace was missing.

[2018-04-18 07:58] #2807 closed

[2018-04-18 07:59] Cheesebaron commented on #2804
`CommandSort` command should be in your item ViewModel, so in `MClass`

[2018-04-18 09:08] Cheesebaron commented on #2801
This is an open source project, If you do not feel like our documentation is up to par with your expectations, I highly suggest you find an alternative that does so or start contributing. We have limited resources and none of us are technical writers. Be happy that we at least have _some_ documentation.

The code is distributed under the MS-PL license, which guarantees nothing.

The video you refe

[2018-04-18 11:48] RonakPatel21 commented on #2804
@Cheesebaron  Thanks. That's working great !

[2018-04-18 11:48] #2804 closed

[2018-04-18 13:59] #2802 closed

[2018-04-18 14:07] martijn00 commented on #2808
What if you use `.ConfigureAwait(false);`?

[2018-04-18 14:12] JimWilcox3 commented on #2808
Where exactly would I use this?  I do want to await the calls in Initialize.  I was thinking this was the whole purpose of having an async Initialize to do the heavy loading.  It worked fine under version 5.x.  I can use a workaround if that's what it will take.

[2018-04-18 14:16] martijn00 commented on #2808
A good read on this is: https://medium.com/bynder-tech/c-why-you-should-use-configureawait-false-in-your-library-code-d7837dce3d7f

It's not a workaround, it's what you are supposed to do.

[2018-04-18 14:41] JimWilcox3 commented on #2808
It is puzzling that this app has been working for years and now it has to be configured differently and only in the Initialize of a ViewModel.  I had to add the ConfigureAwait(false) in the Initialize and in the call to the data service, but it started working.

If you don't mind me asking, what is it about the Initialize event that makes you have to do this now?

[2018-04-18 15:42] nickrandolph commented on #2808
I think this is only true of the first view model. The first navigation is forced to be done synchronously.
If you’re using the splashscreen you can do some initialisation logic before navigating to the first view model which would allow you to complete the losing of that data asynchronously.

[2018-04-18 20:11] JimWilcox3 commented on #2808
@nickrandolph it seems you are correct that it is only on the first View Model.  After that, the other View Models work as expected.   I am using a SplashScreen.  Can you tell me what sort of initialization logic I could do to make the first View Model Initialization be asynchronous?

[2018-04-19 00:01] JimWilcox3 commented on #2808
@nickrandolph Thanks for posting that.  It was helpful and informative.

[2018-04-19 07:46] haohighview opened #2810 "Failed to resolve type MvvmCross.ViewModels.IMvxAppStart"
### Steps to reproduce :scroll:
[code]

### Configuration :wrench:

**Version:**
MvvmCross 6.0.0

**Platform:**
Android 5.1.1, 8.0.0
SAMSUNG SM-G5500
SAMSUNG SM-G950F

[2018-04-19 10:52] Cheesebaron commented on #2806
@younas-bangash your comment isn't appreciated. Instead of going from issue to issue and flaming us, I suggest you leave constructive criticism instead. I.e. it would be better to point out which exact part is down or is unclear.

[2018-04-19 11:53] nickrandolph commented on #2810
Hi, can you provide more info on how your application is setup. Are you registering your first view model in you App class?

Alternatively, can you reproduce this in the Playground sample apps?

[2018-04-19 14:39] xyz20533 commented on #2776
@martijn00 I just try PR to https://github.com/MvvmCross/MvvmCross,but occur error code of 403 ,how solve this question thank

[2018-04-19 18:25] borbmizzet commented on #2538
I've noticed that having
`[MvxContentPagePresentation(WrapInNavigationPage = true, NoHistory = true)]`
and
`<mvxviews:MvxContentPage xmlns="http://xamarin.com/schemas/2014/forms"
    xmlns:x="http://schemas.microsoft.com/winfx/2009/xaml"
    xmlns:mvxviews="clr-namespace:MvvmCross.Forms.Views;assembly=MvvmCross.Forms"
    xmlns:viewModels="clr-namespace:Test.Core.ViewModels;assembly=Test.Core"

[2018-04-19 18:35] borbmizzet opened #2812 "`[MvxContentPagePresentation(WrapInNavigationPage = true, NoHistory = true)] causes crash when NavigationPage.HasNavigationBar="True""
### Steps to reproduce :scroll:

I've noticed that having
`[MvxContentPagePresentation(WrapInNavigationPage = true, NoHistory = true)]`
and
[code]
causes the program to crash in android with Mvx 6.0 if LoginViewModel is the starting ViewModel (not sure about when it isnt).
However, it seems to run fine with `NavigationPage.HasNavigationBar="False"`.

### Expected behavior :thinking:
Not crashing w

[2018-04-19 19:49] nmilcoff commented on #2550
Unfortunately no @nickrandolph, I think this is still a problem (looking at the source code nothing has changed for a few releases)

[2018-04-19 21:52] bravekit opened #2813 "RunAppStart isn't called in Xamarin Form - Android project"
### Steps to reproduce :scroll:

1.  create fresh project with xamarin forms and Mvvmcross 6.0. Here is my ready example https://github.com/bravekit/MvvmCrosss6-forms-Android-doesnt-start

2. Compile and run Android project

### Expected behavior :thinking:
Main page should be displayed

### Actual behavior :bug:
App doesn't switch from SplashScreen to MainPage

### Configuration :wrench:

**Versi

[2018-04-20 09:50] bravekit commented on #2813
It's not a bug. I had to correct setup splashActivity, now it works

[2018-04-20 10:59] rikbosch opened #2815 "Prepare( ... ) method of ViewModel not invoked when using MvxCachingFragmentStatePagerAdapter"
### Steps to reproduce :scroll:
1. Define an activity with a tablayout:

[code]

2. the `MvxViewPagerFragmentInfo` declarations contain a single parameter of type ActivityIdParameter, which is defined as:

[code]

3. The ViewModel is declared as `IMvxViewModel<ActivityIdParameter> ` and has an implementation for ` public void Prepare(ActivityIdParameter id)`

### Expected behavior :thinking:
The `

[2018-04-20 19:38] david-laundav commented on #2791
I am nearly done with my effort, but wanted to know if you guys think it is the right direction to go:
https://github.com/david-laundav/MvvmCross/commits/feature/2791-Add-IsOnMainThread

As a note, it does build ;)

[2018-04-20 19:55] borbmizzet opened #2817 "MvxFormsAppCompatActivity.OnBackPressed override is broken."
### Steps to reproduce :scroll:
In  MvxFormsAppCompatActivity and MvxFormsApplicationActivity, the OnBackPressed function should not be overridden and should be up to the app developer to override, due to the following problems in the current implementation
[code]
1.  If Xamarin.Forms.Application.Current.MainPage is a MasterDetailPage, and the Detail page is the NavigationPage, back navigation usi

[2018-04-21 01:53] nickrandolph commented on #2817
This override can't be removed as it's important that MoveTaskToBack is called appropriately. For the scenarios in question, how would you propose we handle them at a framework level?

[2018-04-21 01:59] nickrandolph commented on #2806
@Cheesebaron well said - I'm going to close this issue as we already have documentation as a TODO.
@younas-bangash we're always looking for volunteers - please submit PRs to include appropriate documentation instead of raising issues with thing you'd like to see
@scotch83 we're always conscious of the need for documentation but there is a massive trade off between documentation and implementing fe

[2018-04-21 01:59] #2806 closed

[2018-04-21 02:00] nickrandolph commented on #2812
Hi @borbmizzet would you be able to reproduce this in the playground sample and submit as PR to demonstrate the issue - we'll look into fixing it on the PR. Thanks

[2018-04-21 06:02] xyz20533 commented on #2776
@martijn00 https://github.com/xyz20533/MvvmCross/tree/MvxTabbedPage/MvxTabbedPage

[2018-04-21 10:12] georgikoemdzhiev commented on #2608
I am new to MVVM Cross, I have tried to go through the current "Getting Started" page and I found it very outdated and not useful at all. Please improve the getting started guides as this is what people use to check out the framework currently. If they can't get it working fast the chances are they won't try it, speaking from personal experience here.

[2018-04-21 13:55] nmilcoff commented on #2817
I agree we shouldn't be overriding `OnBackPressed`. The code we have now is a globally accepted workaround some some Android ugliness, which isn't always needed (as the issue mentions - on those cases the current implementation makes it difficult to customize behavior).

[2018-04-21 14:13] nickrandolph commented on #2817
Yes but it was added for good reason - in nearly every app you’re going to need at least this code. I suggest we handle those scenarios, providing extension points that devs can work with.

Eg master details - we can be much cleverer about the top most navigation stack, like we do with the forms presenter

[2018-04-21 20:42] younas-bangash commented on #2806
@Cheesebaron accept my apology if my comment is not proper my point is not to criticise anyone, you do a nice job I just point out that what you mention in the video is not working that's it and I raised that issue #2801.

[2018-04-21 20:45] younas-bangash commented on #2801
@Cheesebaron ok thanks a lot for your clarifications.

[2018-04-21 20:45] #2801 closed

[2018-04-22 08:30] nickrandolph commented on #2810
@haohighview can you please follow up with more information so we can resolve this issue?

[2018-04-22 19:07] Cheesebaron commented on #2631
@MarcBruins if you start looking at one of these pieces of doc, can you please just write in this issue so I don't start on the same thing? Thanks!

[2018-04-23 02:06] haohighview commented on #2810
Sorry, I can't reproduce the bug. the bug information comes from hockeyapp.

 public class Setup : MvxAppCompatSetup
    {
        public override MvxLogProviderType GetDefaultLogProviderType()
        {
            return MvxLogProviderType.Serilog;
        }

        protected override IMvxApplication CreateApp()
        {
            return new App();
        }

        protected override IMvxL

[2018-04-23 08:25] Sebastian1989101 opened #2823 "[Droid Forms] OnAppearing / OnDisappearing not called on first child of MvxTabbedPage"
### Steps to reproduce :scroll:

1. Using MvxTabbedPage with multiple MvxContentPages

2. Use OnAppearing / OnDisappearing on a child page of the TabbedPage

### Expected behavior :thinking:
Should be called.

### Actual behavior :bug:
Is only called if I switch the tabs but not for the first page.

### Configuration :wrench:

**Version:** 6.0.0

**Platform:**
- [ ] :iphone: iOS
- [x] :robot: Andr

[2018-04-23 20:44] borbmizzet opened #2825 "All bindings stop working when using {Binding Source={x:Reference this}, Path=ViewModel.property} in Xaml derived from MvxContentView<TViewModel>"
### Steps to reproduce :scroll:

When adding `x:Name="view"` to a `MvxContentView<TViewModel>` and referencing it in xaml with `"{Binding ViewModel.Test. Source={x:Reference view}}"`, all bindings on the view stop working.  Note that in my test case the MvxContentView's Parent xaml uses `<ChildContentView BindingContext={Binding ChildViewModel}>`

This bug is demonstrated in the playground at [htt

[2018-04-23 22:34] borbmizzet opened #2827 "MvxNavigationService.Navigate(Type) returns before completing"
### Steps to reproduce :scroll:

1. Bind a button on a NavigationPage to
`public IMvxCommand Command1 => new MvxCommand(() => _mvxNotifyTask = MvxNotifyTask.Create(() => _mvxNavigationService.Navigate(typeof(OtherViewModel))),
() => _mvxNotifyTask is null || !_mvxNotifyTask .IsNotCompleted)`

OR

`IMvxAsyncCommand command => new MvxAsyncCommand(() => _mvxNavigationService.Navigate(typeof(OtherView

[2018-04-23 23:12] nickrandolph commented on #2827
Is this a duplicate of this: https://github.com/MvvmCross/MvvmCross/issues/2740
(or at least the same cause)

[2018-04-24 03:25] xyz20533 commented on #2776
https://github.com/MvvmCross/MvvmCross/pull/2818  It is OK? @nickrandolph

[2018-04-24 04:31] vackup opened #2829 "Calling async method on ViewModel.Initialize never ends and InitializeTask properties never got updated"
### Steps to reproduce :scroll:

1. Create a ViewModel and override Initialize (this only happens if the first ViewModel is calling async code in Initialize method)

2. Call an async / await method (eg: refit service call)

[code]

3. The device screen is black and never continue to the next line of code (eg: converting result to other model). InitializeTask status is always WaitingForActivation

[2018-04-24 04:37] nickrandolph commented on #2829
A couple of things:
- For Xamarin Forms, please state which runtime platform as well (unless it's the same issue on all platforms in which case please state this)
- Please don't do long running activities in the Initialize method on the first view - this will cause problems on various devices and is not good practice (that's why it breaks in v6)
- If you must do long running actions, please look a

[2018-04-24 13:12] ernestoyaquello commented on #2829
Why isn't the workaround implemented by default MvvmCross?

[2018-04-24 13:51] borbmizzet commented on #2827
I don't think so.  This is about returning before even displaying the view.

[2018-04-24 13:53] nmilcoff commented on #2827
You're right on that @borbmizzet, but the cause is the same. Not really a duplicate but both issues are related 🙂

[2018-04-24 23:30] nickrandolph commented on #2829
@ernestoyaquello See the linked PR for what I'm thinking for v6.1. However, please note that you should really make use of a splash screen if you're going to be doing heavy lifting prior to the main view of your application.
The reason for the change in v6 is that there were a lot of issues due to the non-blocking nature of the Start call in MvxAppStart - doing long running activities were causing

[2018-04-24 23:30] #2829 closed

[2018-04-24 23:34] nickrandolph commented on #2810
@haohighview can you try overriding the OnDestroy in your activity that inherits from MvxAppCompatActivity and wrapping the call to the base method in a try catch.
Are you seeing this issue being reported a lot in HockeyApp, or was this a one off?
The only thing I can think of is that the user terminated the app before MvxSetup got a chance to be registered (eg they launched, then immediately clos

[2018-04-24 23:38] nickrandolph commented on #2791
@david-laundav I don't think that we should be looking at the threadid. Currently each platform has their own implementation of checking to see if the current execution context is on the UI thread. Can you make the base property abstract and get each platform to implement it so that it's consistent?
Going forward if you can work off the v6.1 branch and submit a PR that'd help us with reviewing the

[2018-04-24 23:40] nickrandolph commented on #2760
@Sebastian1989101 I'm just checking - did this get fixed in the v6 release? I'm not seeing this issue linked to a PR so wanted to know whether it's still happening for you or not?

[2018-04-24 23:43] nickrandolph commented on #2798
And addition to the proposal:
- PRs to remain open for a minimum of 24hrs after the last commit

[2018-04-25 03:50] vackup commented on #2829
And what about iOs? how do you suggest to use splash screen on iOs? Do you mean the basic Launch Screen or a dump View / Page that its viewModel navigates to the real first viewModel?

To avoid the launch time limitation on iOS I used to use a trick i've learnt from an old Xamarin developed app, on appDelegate , method FinishedLaunching just:

[// start updating all data in the background

[2018-04-25 08:40] ernestoyaquello commented on #2829
@nickrandolph, I understand that specially heavy loading in the first viewmodel can cause problems, but a mere warning about it in the documentation would have been enough in my opinion - talking of which, neither this new synchronous implementation nor the workarounds to make it asynchronous again can be found in the official documentation (or at least I cannot find them?), which is odd consideri

[2018-04-25 08:53] Thetyne opened #2832 "Xamarin Forms Context seem incorrect in MvxFormsAndroidSetup.FormsApplication"
After i update mvvcross 5.6 to 6.0, ZXing.Mobile.Forms crash.
I found the problem.
Inside ZXingScannerViewRenderer, it use deprecated Xamarin Forms Context.

Mvvmcross initialize Forms inside MvxFormsAndroidSetup.FormsApplication accessor.

[code]

Mvx.Resolve<IMvxAndroidCurrentTopActivity>()?.Activity is null, so Xamarin Forms Context is set with ApplicationContext.
At this moment, Zxing fail to

[2018-04-25 08:57] Thetyne commented on #2832
Maybe a bug due change #2777

[2018-04-25 16:12] Thetyne opened #2833 "Master Detail never cancel CloseCompletionSource"
### Steps to reproduce :scroll:

1. Make a Master detail Forms project on iOS. i haven't test on Android.

2. Add 2 bouton inside the master page who call one view model (with detail page with or without navigation page) like
`var result = await NavigationService.Navigate<ViewModel, TModel, TResult>(data);`

3. Click on first button then one second button.

4. It appear that TResult CloseCompletio

[2018-04-25 17:47] bastarr commented on #2326
This is still an issue with anything above 5.0.2.  Simple repro case is to create simple UWP or iOS application with two views and two view models using any version above 5.0.2.  Simply call ShowViewModel between these two views to toggle back and forth and do a memory snapshot after a view clicks.  You will see the ViewModel count for each type just climb and never recover.  Do the same exercise

[2018-04-26 09:42] Cheesebaron commented on #2829
@ernestoyaquello you expect too much from the documentation. This is an open source project made by a couple of people in the spare time. What do you prefer, good documentation or fitness of code? Pick one, not both.

[2018-04-26 09:58] ernestoyaquello commented on #2829
@Cheesebaron I am grateful for the altruistic efforts that go into this project, but I expected to be able to load data in my first viewmodel as usual in the way that the documentation tells me to. I understand that the ability to load data asynchronously in the first viewmodel might be problematic in some cases, but removing this feature completely is even more problematic in my opinion (plenty o

[2018-04-26 17:26] borbmizzet commented on #2825
I think the solution to this is to raise a PropertyChanged event for the ViewModel and DataContext Properties of any classes implementing IMvxEventSourceElement that also implement ViewModel and DataContext, which seems to be most of them.   On a side note, that's an awful lot of code duplication.  The default interface implementations coming in C#8 should really help out in that area.

[2018-04-27 15:29] nmilcoff commented on #2326
@bastarr can you confirm the issue is not present in v5.0.2 but it is in v5.0.3?

[2018-04-27 15:51] dahovey commented on #2326
I believe this is related to issue I submitted [https://github.com/MvvmCross/MvvmCross/issues/2578](https://github.com/MvvmCross/MvvmCross/issues/2578).

[2018-04-27 15:53] dahovey commented on #2578
Sample app is at [https://github.com/dahovey/MvvmCrossUwpLifecycle](https://github.com/dahovey/MvvmCrossUwpLifecycle)

[2018-04-27 15:53] dahovey commented on #2578
This other issue may be related. [https://github.com/MvvmCross/MvvmCross/issues/2326](https://github.com/MvvmCross/MvvmCross/issues/2326)

[2018-04-28 07:38] scotch83 commented on #2806
sorry guys, the last I meant to raise was such a storm. I got the answer to
open the issue from someone on the slack channel. I would not even think
about it as an issue, actually, but rather a todo. Btw did you consider and
documentation generator able to create at least a skeleton?
Thank you for taking your time on this anyhow. it s a great framework and
you have all my respect. Greets and have

[2018-04-28 22:15] nickrandolph commented on #2806
@scotch83 there's no problem creating the issue so that we have something to track requests for documentation against (even if we then close the issue). As @Cheesebaron mentioned we need to be careful about adding more maintenance (usually what happens with generators) which just won't happen.
Take for example we'd all love to have complete test coverage, and so the question becomes: are we adding

[2018-04-29 09:12] scotch83 commented on #2806
Good point! Have a good day ahead all!

Mattia Collalti

On Sun, 29 Apr 2018, 00:15 Nick Randolph, <notifications@github.com> wrote:

[2018-04-30 03:11] nickrandolph commented on #2832
@Thetyne are you able to reproduce this using the Playground sample in the Mvvmcross source code (develop branch)? If you can, please submit a PR demonstrating this. We can help investigate to work out a fix.

[2018-04-30 08:30] kciesiel commented on #2832
I have the same problem.
The `var asmb = activity.GetType().Assembly;
Xamarin.Forms.Forms.Init(activity, null, ViewAssemblies != null ? ViewAssemblies.FirstOrDefault() : asmb);`
fixed this problem, but after that I have just white screen without anything.

[2018-04-30 09:44] Thetyne commented on #2833
I have fixed in my code by create my own MvxFormsPagePresenter and change code inside "ReplacePageRoot":

[code]

replace to

[code]

[2018-04-30 11:29] nickrandolph commented on #2833
@Thetyne glad you found a solution - we'd love you to submit it as a PR so we can apply it to other scenarios.

[2018-04-30 11:49] gvsharma commented on #2815
I am also facing the same issue, with view pager with multiple fragments.

[2018-04-30 12:48] nickrandolph commented on #2810
@haohighview did you have any luck with this?

[2018-05-01 07:48] ghuntley opened #2836 "stamp $(AssemblyName) ($(TargetFramework)) into builds"
Hey folks.

I stole this pattern from James Monty and Redth. You should totally steal it as well.

https://github.com/reactiveui/ReactiveUI/pull/1604/files

[2018-05-01 08:34] martijn00 commented on #2836
Isn't that what we do: https://github.com/MvvmCross/MvvmCross/blob/develop/Directory.build.props#L14

[2018-05-01 09:10] ghuntley commented on #2836
👍

[2018-05-01 09:10] #2836 closed

[2018-05-01 18:23] JimWilcox3 opened #2840 "MvxTimePicker won't bind correctly to Android versions 5.1 and below."
I wrote a fix for this problem as follows:
[code]

### Steps to reproduce :scroll:

1. Run ApiExample.Droid on a device with API > 5.1.  Open the time test.  It works.

2. Run ApiExample.Droid on a device with API <= 5.1.  Open the time test.  You get an error during the binding and the app crashes when you change the time.

3.

### Expected behavior :thinking:
It should work on earlier versions.

[2018-05-01 18:35] bastarr commented on #2326
Yes, the issue is present in 5.0.3 (and above all the way to 6.0) but not in 5.0.2.  As mentioned, I simply created a small two view application with nothing but a textbox on each view and a button bound to a command to ShowViewModel (NavigationService.Navigate also) to the other view.  If I run this on 5.0.2, I see only one of each view model in the memory snapshot no matter how many times I boun

[2018-05-01 18:52] JimWilcox3 commented on #2840
I'm not sure how the licensing thing works.  I just took the original code from this repository and made changes that I thought might fix the problem.  Can anyone just create a pull request?  Guess I will give it a try.

[2018-05-01 18:54] JimWilcox3 commented on #2840
From which branch should I create the pull request.  I want to help, but I've never done this before.

[2018-05-01 20:09] JimWilcox3 commented on #2840
OK, I think I have the Pull Request set up correctly.

[2018-05-02 06:04] ueman opened #2842 "UWP Release Builds are crashing at runtime"
Release builds on UWP are crashing at runtime at startup with a 'System.PlatformNotSupportedException' in System.Private.CoreLib.dll` exception. A repository to reproduce is here https://github.com/ueman/mvvmcross6crash

The UWP Playground should yield the same behaviour as the provided repository.

Upon further investigation this seems to be a problem with the build option `Compile with .NET Nati

[2018-05-02 06:52] nickrandolph commented on #2842
Good find - frustrating that it works in debug but not release (thanks for the great simple example)
Workaround - use a custom setup class that overrides getpluginassembly
public class CustomSetup: MvxWindowsSetup<ClassLibrary1.App>
    {
        public override IEnumerable<Assembly> GetPluginAssemblies()
        {
            return new[] { typeof(MvxPluginAttribute).Assembly };
        }
    }

[2018-05-02 06:57] ueman commented on #2842
Thanks for the response.

After some research i think the exception comes from the code in this method https://github.com/MvvmCross/MvvmCross/blob/082ce799a17f31839b7c1221aacc4737942bc58e/MvvmCross/Core/MvxSetup.cs#L270 and has something to do with reflection.

[2018-05-02 07:18] nickrandolph commented on #2842
@ueman as per my workaround, the issue is that GetPluginAssembly (which is called by InitializePluginFramework) is calling a method that isn't supported on UWP

[2018-05-02 12:31] JoeCooper commented on #2527
I've got this after updating to MvvmCross 6 and the hack above doesn't seem to affect it.

[2018-05-02 13:23] #2840 closed, assigned to nobody

[2018-05-03 05:14] nadeemshk opened #2846 "Mvvmcross Android - getting error for custom adapter listview in alertdialog using dialogfragment"
I am trying to have a listview in dialog using dialogfragment. This listview has custom adapter to generate alternate color rows. My code is as below

In Mainview.cs

    private void DialogOnClick(object sender, EventArgs eventArgs)
    {
        var dialog = new CustomerListDialogFragment();
        dialog.ViewModel = HomeViewModel.CustomerListViewModel;
        dialog.Show(SupportFragmentManage

[2018-05-03 09:50] Cheesebaron commented on #2846
1. You are using incompatible versions of packages versions for MvvmCross packages need to be in sync.
2. What you do in `OnViewCreated` you can really do in `OnCreateView`
3. You should probably use RecyclerView instead and an ItemTemplateSelector, this would save you the pain of creating and managing Adapters yourself

[2018-05-03 10:51] MartinZikmund opened #2847 "Converters for Xamarin.Forms"
I have noticed `MvxValueConverters` are not supported on MvvmCross.Forms. Although they are clearly a bit less useful than with native, there are benefits like being able to reuse existing value converters from native MvvmCross projects and having a strongly typed alternative to `IValueConverter`.

If this is a feature you consider worth being part of MvvmCross.Forms, I will be glad to try to impl

[2018-05-03 12:47] RonakPatel21 opened #2848 "How to clear entire Backstack using viewmodel(navigation service)"
I want something like this:
[link](http://stackoverflow.com/questions/3007998/on-logout-clear-activity-history-stack-preventing-back-button-from-opening-l)

but by using MVVMCross (not custom presenter)

[2018-05-03 15:34] JTOne123 commented on #2430
I found a workaround for this issue (mvvmcross 5.7).
The root issue is https://github.com/MvvmCross/MvvmCross/issues/2261

[code]

[2018-05-03 15:34] #2430 closed

[2018-05-03 16:56] martijn00 commented on #2430
@JTOne123 This should be fixed in 6.0 then.

[2018-05-04 10:14] haohighview commented on #2810
now, I can reproduce the bug. When the user just opened the app and is on the splash page, then click on the phone home button.

I overrode the OnDestroy  and call to the base method in a try catch. Now I get another error.
android.util.SuperNotCalledException: Activity {com.boundlss.aisandroid/appboundlss.droid.SplashScreen} did not call through to super.onDestroy()
	at android.app.ActivityThread

[2018-05-04 15:10] nickrandolph commented on #2847
@MartinZikmund I'd suggest going ahead and implementing one or more of them and submit as a PR. We'll help you with any adjustments that need to be made

[2018-05-04 21:18] nmilcoff commented on #534
This was fixed in #2814

[2018-05-04 21:18] #534 closed

[2018-05-05 10:35] MarcBruins opened #2856 "Propose new docs structure"
Soon we will be able to support a nested doc structure. I'm currently working on it in my own [fork.](https://github.com/MarcBruins/MvvmCross/tree/master/docs) This has been a long requested feature for MvvmCross. With the ability to nest our docs, how should we nest it? I can make a initial proposition soon but i'd love some help here.

Another thing where i would like some help (for everybody's

[2018-05-05 22:12] nickrandolph commented on #2856
@MarcBruins one of my main concerns with documentation is how do we set it up so that it's maintainable - as we work through issues/PRs, how do we ensure the documentation stays up to date. This may be more of a process question but perhaps if there's a way that we an correlate parts of the MvvmCross namespace with documentation somehow, at least we'd know where in the docs we should be making cha

[2018-05-05 22:13] nickrandolph commented on #2856
Another consideration when structuring documentation is that not everything needs to be provided within the MvvmCross documentation. For example where developers have posted articles/blogs about using MvvmCross, perhaps they should be linked to in the docs. This actually helps encourage third party bloggers, because they'll get increased traffic, and shifts the burden of documentation away from th

[2018-05-06 07:02] MarcBruins commented on #2856
Good question Nick. We've discussed this issue before and my view is that it should be embedded within a PR if it changes existing behaviour or adds new behaviour for the users of mvx. With the current setup of the documentation(using jekyll and hosting it from the docs folder) it's never been easier to change it. I'm not sure how we can correlate namespaces to docs. For me the docs should reflect

[2018-05-06 10:25] georgikoemdzhiev opened #2857 "Get-Started documentation needs to be updated"
Please improve the getting started experience. I am new to MvvmCross and I definitely want to consider trying it in my next Xamarin.Forms project. However, the Getting-Started experience is very frustrating.

### Steps to reproduce :scroll:

1. Go to [Getting-Started page](https://www.mvvmcross.com/documentation/getting-started/getting-started)
2. Try to follow the documentation to get a basic pro

[2018-05-06 12:33] ghuntley commented on #2798
My recommendation is automatic CD. No branching. No releases. If folks want that they can pay you for it. I'm serious. If they don't like the CD friction  then pay for access to a stable LTS myget feed. I'll probs be doing this over at ReactiveUI. Folks get too much stuff for free without giving back.

[2018-05-06 13:54] nickrandolph commented on #2798
Great long term plan but in the short term Wen don’t have the test matrix to be able to do CD. Need a short term release frequency that ensures we can get bug fixes out in reasonable time to encourage contributions

[2018-05-07 01:51] nickrandolph opened #2859 "Address "RequestMainThreadAction is obsolete" build warnings"
### Steps to reproduce :scroll:
1. Build solution - note the half dozen or so warnings:
warning CS0618: 'IMvxMainThreadDispatcher.RequestMainThreadAction(Action, bool)' is obsolete:

### Expected behavior :thinking:
No build warnings

### Actual behavior :bug:
Multiple warnings
warning CS0618: 'IMvxMainThreadDispatcher.RequestMainThreadAction(Action, bool)' is obsolete:

**Version:** 6.x

**Platfo

[2018-05-07 09:04] nmilcoff commented on #2856
We can probably add a document for 3rd party blogs, that can always be helpful.

Other than that maybe we can create a documentation category per platform? So then we can have docs for widgets, platform services ViewPresenter, ... within it.

[2018-05-07 09:40] ueman opened #2860 "ViewModel#Destroy does not get called on UWP"
The ViewDestroy Method of the MvxViewModel does not get called.

I guess it should be added somewhere here:
https://github.com/MvvmCross/MvvmCross/blob/59809878c68b7e8f3648e54aca1dd921af17fbfe/MvvmCross/Platforms/Uap/Views/MvxWindowsPage.cs#L173

### Steps to reproduce :scroll:

1. Open MvvmCross Playground

2. Override ViewDestroy method of a ViewModel and set a breakpoint.

3. Navigate. The brea

[2018-05-07 09:43] Cheesebaron commented on #2856
It is mainly the Platforms and Tutorials sections which need some subsections. Otherwise I would keep the structure as is.

Links to the pages should preferably stay as is.

As for blogs, there could be a separate page for these and we could link to individual relevant posts in relevant docs pages.

[2018-05-07 10:00] Cheesebaron commented on #2860
What if you navigate backwards? Is OnViewDestroyed then called?

[2018-05-07 10:06] ueman commented on #2860
Nope

[2018-05-07 10:08] ueman commented on #2860
Maybe it should also be called in https://github.com/MvvmCross/MvvmCross/blob/59809878c68b7e8f3648e54aca1dd921af17fbfe/MvvmCross/Platforms/Uap/Views/MvxWindowsPage.cs#L38

It seems like that is the last lifecycle method of the page.
However, as per documentation, it also gets called after a user triggered theme change.

[2018-05-07 12:02] #2736 closed

[2018-05-07 12:35] andrewtechhelp commented on #2857
I've tried to help with this issue with pull request #2858 that I submitted a day or so ago, except from a slightly different angle. That's just for the Readme.txt file that opens up when you install the NuGet package. The ReadMe I've written is designed to be as bare bones as possible though, so this Getting Started Documentation on the website would need to be much more detailed that what I've d

[2018-05-07 13:27] georgikoemdzhiev commented on #2857
@andrewtechhelp, nice! I will have a look at your PR. As for the doc on the website, I don't think it should be very detailed, imo. Maybe showcase how to create a basic View-ViewModel or 2 of these that utilize the NavigationalService to switch to the other page. Something like that I was suggesting.

[2018-05-08 06:41] vallgrenerik commented on #2527
Thanks @JoeCooper, helped me! 🥇

[2018-05-08 09:03] haohighview commented on #2810
@nickrandolph Do you have any update or need of further information?

[2018-05-08 09:43] JoeCooper commented on #2527
Glad to hear it @vallgrenerik

Let it be known, for others reading in the future, that what to understand from my prior post is _not_ to blindly add "EditingDidEnd".

I've added the "EditingDidEnd" fix to the canonical example of LinkerPleaseInclude, so future users will not have this issue if they copy from the canonical example of LinkerPleaseInclude.

But they will run into other, similar issue

[2018-05-08 11:29] ueman commented on #2860
I would do a PR myself. However I'm not sure which would be the best place to call ViewDestroy.
Should it be in Dispose or in MvxWindowsPage_Unloaded? Or somewhere else?

I guess it could also be called when you close a ViewModel with the NavigationService. However that seems to be a weird place as it has nothing to do with the view.

[2018-05-08 11:37] ueman commented on #2794
This would also be a very nice addition for UWP apps. It should be very simple to implement it on UWP with the help of native Popups.

[2018-05-08 18:49] rdorta commented on #2859
@martijn00 @nickrandolph  I can work on this one if no one is already.

[2018-05-09 07:17] Cheesebaron commented on #2859
@rdorta go ahead

[2018-05-09 07:19] nickrandolph commented on #2859
@rdorta @Cheesebaron I agree these need to be done - just be careful as there are a couple of open PRs that may/will affect this

[2018-05-09 12:35] rdorta commented on #2859
Yeah sure. I'm helping @martijn00 in another PR, I can look at this right after.

[2018-05-09 12:46] Cheesebaron commented on #2859
I invited @rdorta to the team. This way we can assign him to issues :)

[2018-05-09 12:48] nickrandolph commented on #2859
The more the merrier. Welcome @rdorta

[2018-05-09 21:27] DrQwertySilence commented on #2815
I also have encounter this issue.

[2018-05-11 02:17] haohighview commented on #2810
I created a sample but can't reproduce the issue.

[2018-05-11 02:29] nickrandolph commented on #2810
Does this happen if you launch the app, and then press back button before the mainactivity has had a chance to display. I think what's happening is that it's attempting to destroy either the splash or mainactivity before the CurrentActivity has been correctly setup, thus causing this exception

[2018-05-11 03:12] haohighview commented on #2810
yes, it happened launch the app, and then press back/home button before the mainactivity display

[2018-05-11 10:45] stefan89 commented on #2721
I am encountering the exact same issue for version 5.6.3. Can that be caused by the same bug or was this bug introduced in version 6.0?

[2018-05-11 13:16] nickrandolph commented on #2721
unfortunately too hard to say as the bug was reported against v6 - if you can upgrade to 6.0.1 to see if it fixes the issue

[2018-05-11 14:09] tbalcom commented on #2721
This was specific to early MvvmCross 6.0 betas. There were a lot of changes made to startup during that time.

[2018-05-11 22:03] nickrandolph commented on #2859
@rdorta if you're going to tackle this, there are two things we need to do:
- address the warnings by calling the new async methods (see warning)
- remove the obsolete method
I think removing the obsolete method is quite a significant changes, so I think we should raise that on a separate PR.

[2018-05-11 22:27] nickrandolph commented on #2860
Closing this issue as it is addressed by the merged PR

[2018-05-11 22:27] #2860 closed

[2018-05-12 19:27] david-laundav commented on #2791
What is your proposal, @nickrandolph? I have spoken to @Cheesebaron about the approach, and both of us concurred that using the ThreadId would be the most efficient approach.

Please refer to the following:
https://forums.xamarin.com/discussion/comment/200008/#Comment_200008

[2018-05-13 07:34] ueman commented on #2842
Closing because the issue was fixed.

[2018-05-13 07:34] #2842 closed

[2018-05-13 08:00] sergeyyurkov commented on #1480
Hi, I also have this on Android. It seems like it has something to do with GC because, according to my debug log, Raise(...) always stops working after GC_TAR_BRIDGE/GC_BRIDGE/GC_MINOR messages appear.

Maybe it's better to drop this functionality in favor of Rx? At least in docs.

[2018-05-14 11:56] timothd opened #2880 "cast to parent class"
### Steps to reproduce :scroll:

1.

2.

3.

### Expected behavior :thinking:
Tell us what should happen

### Actual behavior :bug:
Tell us what happens instead

### Configuration :wrench:

**Version:** 5.x

**Platform:**
- [ ] :iphone: iOS
- [ ] :robot: Android
- [ ] :checkered_flag: WPF
- [ ] :earth_americas: UWP
- [ ] :apple: MacOS
- [ ] :tv: tvOS
- [ ] :monkey: Xamarin.Forms

[2018-05-14 22:26] nickrandolph commented on #2880
No information provided

[2018-05-14 22:26] #2880 closed

[2018-05-15 07:15] qbus00 opened #2881 "Xamarin Forms UWP Playground application crash on resume"
### Steps to reproduce :scroll:

1. Compile & run MvvmCross Xamarin Forms Playground application

2.Suspend application

3. Resume application

### Expected behavior :thinking:
Application should not crash

### Actual behavior :bug:
Application crash with exception:
"Element is already the child of another element."

Stack trace:
   at System.Runtime.InteropServices.WindowsRuntime.IVector`1.Append

[2018-05-15 09:05] qbus00 commented on #2881
More info:
When I comment "await suspension.RestoreAsync()" line in MvvmCross.Platforms.Uap.Views.MvxApplication class application stops to crash.

[2018-05-15 09:33] qbus00 opened #2882 "I'ts impossible to use custom MvxSuspensionManager in UWP projects"
### Steps to reproduce :scroll:

1. Create custom MvxSuspensionManager which is implementing IMvxSuspensionManager interface

2. Create it in custom MvxFormsWindowsSetup class by overriding CreateSuspensionManager class

3. Run application and check in debug MvxApplication OnResuming and OnSuspending classes.

### Expected behavior :thinking:
suspension variable in these methods should not be null

[2018-05-15 23:43] nickrandolph commented on #2882
Can you submit a repro scenario using the playground uwp sample as a PR and I will take a look

[2018-05-16 08:15] qbus00 commented on #2882
OK, PR created https://github.com/MvvmCross/MvvmCross/pull/2883

[2018-05-16 15:46] aoershov opened #2884 "Memory leak on opening browser and returning back on droid"
https://github.com/aoershov/MvvmCrossMemoryLeakBrowser

I add logs to MvxMultipleViewModelCache to see memory leak:
https://github.com/aoershov/MvvmCrossMemoryLeakBrowser/blob/master/MvxMultipleViewModelCacheWithLogs.cs

### Steps to reproduce :scroll:

1. Press "Open second view"
2. Press "Open browser"
3. Browser is shown
4. Press back

### Expected behavior :thinking:
No memory leak.

### Actua

[2018-05-16 16:32] qbus00 commented on #2882
Another simplier demo PR created - https://github.com/MvvmCross/MvvmCross/pull/2885

[2018-05-16 17:20] sylvain-toptal opened #2886 "PictureChooser doesn't Resolve"
### Steps to reproduce :scroll:
Try to call `Mvx.Resolve<IMvxPictureChooserTask>()` from anywhere.

### Expected behavior :thinking:
I should get an instance of the right platform picture chooser task class.

### Actual behavior :bug:
Throws background exception, execution stops.

### Configuration :wrench:

**Version:** 6.0.1

**Platform:**
- [X] :iphone: iOS
- [X] :robot: Android
- [X] :checkere

[2018-05-16 19:20] alekchr042 commented on #2807
Same problem here, but reinstalling mvvmcross package does not change anything. I've also updated visual studio. Only namespace with "platforms" is MvvmCross.Platforms.Console.

[2018-05-16 22:02] kjeremy commented on #2807
@alekchr042 I'm seeing that too in WPF

[2018-05-17 00:38] nickrandolph commented on #2884
Can you please reproduce this:
a) on v6.0.1 (latest stable)
b) in the playground
If you can reproduce this in the playground sample, can you submit the repro as a PR for us to investigate further

[2018-05-17 00:50] sylvain-toptal commented on #2886
Here is the result from this morning’s investigation.  It turns out the failures I could reproduce in the Playground wasn’t the same as in my project.

In the Playground:
- The `GetReferencedAssemblies` Calls in the PluginManager do not return the MvvmCross assembly for any plugin.  I’m unsure if this is a side-effect of the fact the project is referenced directly instead of through the Nuget but

[2018-05-17 07:26] 143umohsinkhan commented on #2807
@code-mc : Hey, facing the same issue on Visual Studio 2017 version - 6.0.1

[2018-05-17 07:38] aoershov commented on #2884
We can reproduce issue on 6.01
Pull request is
https://github.com/MvvmCross/MvvmCross/pull/2888

[2018-05-17 13:46] sylvain-toptal commented on #2886
Here is the silent exception I finally found.  Creating the ViewModels on a background thread causes issues!

[code]

[2018-05-17 13:53] sylvain-toptal commented on #2886
So for this particular case, I believe it is my error to get the PictureChooser through VM injection.  However an exception should have popped up or at least a log line.  I can also imagine other plugins requiring being injected on the main thread.

[2018-05-17 14:57] ElteHupkes opened #2891 "(6.0) `AppStart.ResetStart()` incorrectly called by `MvxActivityViewExtensions.OnViewDestroy` for new activity with `ClearTop`."
I've an activity which launches with `ActivityFlags.ClearTop` (but without `SingleTop`), which removes all activities above an activity of the same type (if it exists) and replaces that activity (without `SingleTop` there will be no call to `OnNewIntent`). This behavior stopped working with 6.0, after some debugging I've figured out why. The `OnPause` / `OnDestroy` of the current top activity are

[2018-05-17 15:39] nickrandolph commented on #2891
A repro would be great. Please use the existing playground sample and submit a PR showing the issue.
Also for future please use the issue template to ensure your issue gets looked at

[2018-05-17 16:42] sylvain-toptal commented on #2886
So here is a proposition.  Could we add an optional parameter to all IoC registration methods, then we could add a `MainThreadResolver` that would wrap the current resolver in order to make the `TryResolve` call on the main thread internally?

[2018-05-18 06:52] 143umohsinkhan commented on #2807
@code-mc  : Hey, After getting 6.0.1 version i was still getting the issue, Now I have resolved it by updating the version of Mono.Android. Strange but it's seems like there are old dll are referring that might be not updating.

Thanks.

[2018-05-18 13:28] kvandake opened #2892 "Feature: Support YamlLocalization as Plugin."
Hello! I recently added a new kind of localization management via yaml format. The library is available on [github](https://github.com/kvandake/friendly-locale).
I also added the use of localizations in MvvmCross. I wrote a detailed instruction how to add a new type of localization in mvvmcross projects. Instructions are available in the [Wiki](https://github.com/kvandake/friendly-locale/wiki/Supp

[2018-05-18 13:39] martijn00 commented on #2463
Yeah please create a new one.

[2018-05-18 14:38] Sebastian1989101 opened #2893 "Status Bar Style jumps back to default after navigation from modal view (iOS)"
The issue #2463 is back with Xamarin.Forms 3.0 when using MvvmCross. This time only for modal dialogs (at least as far as my testing goes - MasterDetail seems to work same as Tabbed pages).

### Steps to reproduce :scroll:

1. Close a modal presented view/viewmodel

2. After the navigation, the status bar style returns to "Default" instead of "Light" - even if "Light" is configured in the Info.pli

[2018-05-19 08:55] levin9 opened #2894 "mvvmcross with Xamarin.Forms"
I visited https://github.com/Cheesebaron/Xam.Forms.Mvx. but this project refers to a lot of DLL. The DLL quoted is  older. and cannot be compiled with mvvmcross5.7.

It would be great if someone could provide sample,article.

Thanks in advanced

[2018-05-19 10:05] Cheesebaron commented on #2894
Our playground project has examples of usage with Xamarin Forms. https://github.com/MvvmCross/MvvmCross/tree/develop/Projects/Playground

[2018-05-19 23:12] nickrandolph commented on #2894
Please ask these questions like this on stackoverflow or the mvvmcross slack channel

[2018-05-19 23:12] #2894 closed

[2018-05-20 06:57] levin9 commented on #2894
thanks,I've  solved it.
https://github.com/martijn00/MvxForms
https://medium.com/@martijn00/using-mvvmcross-with-xamarin-forms-part-1-eaee5815bb8c

[2018-05-20 21:31] andre-ss6 opened #2895 "SplashScreen doesn't automatically start Activity registered for AppStart"
### Steps to reproduce :scroll:

1. Create a default Xamarin.Android project and a .NetStandard 2.0 library for MvvmCross functionality

2. In the .Core project, I have an App class like this:

[code]

3. In the .Android project, I have a Setup class like this:

[code]
4. And a MainApplication class like this:
[code]

5. And a SplashScreen class:
[code]
6. And finally, the LoginActivity class:

[c

[2018-05-20 23:32] nickrandolph commented on #2895
Can you please reproduce this using the playground sample and submit as a PR so that we can investigate? Thanks

[2018-05-20 23:39] andre-ss6 commented on #2895
Well, if it's _really_ necessary, I can maybe try _again_ . However,  it's kinda cumbersome for me, since I can't open some of the necessary projects because I don't have all requirements installed.

[2018-05-20 23:41] nickrandolph commented on #2895
It’s necessary if you want us to prioritise this issue. It’s OSS. The more you can help us the quick things get resolved

[2018-05-21 00:44] nickrandolph commented on #2895
@andre-ss6 I don't mean to be a pain about this, and there's no requirement that you provide a PR. I'm just making the point that you providing a PR illustrating the point means one less thing for the maintainers (or other contributors) to do. This in turn means it's easier for someone to propose a fix.
We do appreciate that building mvvmcross is harder that we'd like (this is mainly related to is

[2018-05-21 01:02] flyingxu commented on #2895
Could you share the debug output when the app starts up? The `Mvx` log will be very helpful in your case.

[2018-05-21 14:29] Thetyne commented on #2891
I have exactly same issue. i discover this bug before enter at release :(.

i am block

[2018-05-21 14:52] softlion commented on #1423
I suppose this should also be set in MvxTableViewCell and MvxCollectionViewCell

            if (BindingContext is MvxTaskBasedBindingContext taskBasedBindingContext)
            {
                //Suppose we always use automatic dimension
                taskBasedBindingContext.RunSynchronously = true;
            }

[2018-05-22 02:07] andre-ss6 commented on #2895
Ok, this is a stripped down version (if it is of any use) - I tried to keep only Mvx-related events. The full log with all events also follows:

(Btw, I'm sorry for not having a reproducible sample. I'll try uploading  one in the next days. It's just that I'm a little busy right now)

[code]

# Full Log:

[code]

[2018-05-22 02:41] andre-ss6 commented on #2895
Also, not sure if this is any useful, but I found it strange: I noticed that the SplashScreen class in the playground in not generic. Then I decided to make mine non-generic as well. By doing that, my `SplashScreen.RunAppStart(Bundle bundle)` method is never called (and of course the app hangs). As soon as I put the generic parameters back (`<Setup, Core.App>`), the app works (with the duplicated

[2018-05-22 06:08] tstivers1990 commented on #2857
In fact, the starterpack is not updated for v6. I've looked at all of the templates, and they're all out of date. The only one that's up to date is MvxScaffolding, which isn't listed on the getting started page, and also has errors upon project creation.

I would fix the starterpack package myself and submit a pull request, but it was either deleted from this repo, or the nuget page links to the w

[2018-05-22 09:02] ElteHupkes commented on #2891
I got a bit stalled with national holidays here an the fact that the Mvx repo doesn't build on VS4Mac. I'll be looking into the repro today so hopefully we can think of a fix soon.

[2018-05-22 09:05] nmilcoff commented on #2857
Not ideal, but you can always follow the TipCalc tutorial, which has been updated recently.

[2018-05-22 09:06] nmilcoff commented on #1423
@softlion I think so, yes! Can you please open a new issue for that? And a PR would be great, if you don't mind 🙂

[2018-05-22 10:22] savissimo commented on #2807
I had the same problem. Got it working on a computer, then moved to another and could not find the Platforms namespace, got back to the first computer, removed and re-installed the NuGet package, now both computers can't compile.

The problem is that the MvvmCross reference points to the DLL that is located in the netstandard2.0 folder (inside packages, I mean), rather than the one in monoandroid8

[2018-05-22 10:33] andrewtechhelp commented on #2857
As mentioned above (if someone doesn't pick it up sooner), I might be able to submit a pull request with some improvements for this in the future. I would do it this week, but I've got other life things that have to be done first :)

[2018-05-22 10:47] savissimo commented on #2807
The correct DLL is referenced ONLY IF the build destination is Android 8.1 Oreo. After setting that, one must close the solution and re-open it. Then, removing and re-installing the NuGet package works.

The docs should point out this requirement.

[2018-05-22 12:13] softlion opened #2898 "MvxTaskBasedBindingContext creates timing issues with autosizing cells"
MvxTaskBasedBindingContext  but create timing issues in some situations, especially in self sizing cells of table and collection views.

The workaround is to change the bindingcontext do it runs syncrhonously. This is possible since https://github.com/MvvmCross/MvvmCross/issues/1423#issuecomment-390918127

This should also be set by default in MvxTableViewCell and MvxCollectionViewCell, when the b

[2018-05-22 14:24] builttoroamadmin commented on #2807
This will be related to multi targeting of the mvvmcross package. If you’re not targeting android 8.1 it will bind to the netstandard assembly which won’t work.

[2018-05-22 14:39] savissimo commented on #2807
Is this by design? Why is targetting Mono Android <8.1 not supported?

[2018-05-22 15:28] ElteHupkes commented on #2891
Ok there's a reproduction case on a branch here:

https://github.com/ElteHupkes/MvvmCross/tree/2891-singletop-issue

It branches off the 6.0.1 tag because the current develop branch refused to build (without any modification on my end). Maybe the repro could be slightly simpler, but for some reason every keystroke in Visual Studio takes 10 seconds or more (reinstalling will take hours, so I'm kind

[2018-05-22 19:29] jsauve opened #2899 "Can I please see the FragmentHostRegistrationSettings.cs source for 4.4.0?"
Not really an issue. More of a request. I had trouble locating the 4.4.0 version of `FragmentHostRegistrationSettings`. The project I'm currently a part of is using 4.4.0 and we're seeing a bunch of null ref exceptions in `FragmentHostRegistrationSettings. GetCurrentActivityViewModelType()` in production. Unable to reproduce.

I trie to locate the source on my own, but was unsuccessful. Can someon

[2018-05-23 02:52] andre-ss6 commented on #2895
Okay, I just don't know what happened. I **literally** did _this_: opened up VS today again, was just testing the app. The bug was there, and I didn't even mind it anymore. Then after some time doing some tests I decided to try fixing this bug again. I commented out the line on the Startup class again (as it is commented in the original report) and then I started trying a lot of things. Nothing wo

[2018-05-23 10:20] nmilcoff commented on #2899
There is a tag for each release. Here you have the source code for 4.4.0 🙂:

Main repository: https://github.com/MvvmCross/MvvmCross/tree/4.4.0
Android Support repository: https://github.com/MvvmCross/MvvmCross-AndroidSupport/tree/4.4.0

[2018-05-23 10:20] #2899 closed

[2018-05-23 14:17] tbalcom opened #2903 "Exceptions are swallowed during Android setup"
### Steps to reproduce :scroll:

1. Associate more than one view with a view model.
2. Start the app.
3. The Android splash screen never closes. There are no exceptions thrown or messages logged. Previous versions of MvvmCross would trigger an exception making it easier to debug these kind of setup problems.

### Expected behavior :thinking:
Exceptions thrown during setup should not be swallowed o

[2018-05-23 14:46] Emaxinvader opened #2904 "NavigationService stuck"
### Steps to reproduce :scroll:

1. ViewModelA calls NavigationService.Navigate\<ViewModelB>\()

2. ViewModelB calls NavigationService.Close(this)

### Expected behavior :thinking:
The application shows ViewA

### Actual behavior :bug:
Not always, application remains stuck to ViewB with log:

05-23 16:20:14.980 I/mono-stdout(23809): 2018-05-23 04:20:14 [TRACE] (MvvmCross.Logging.MvxLog) Presentati

[2018-05-23 14:56] jsauve commented on #2899
Thanks! I tried clicking the 4.4.0 tag while I was in the file, but it appeared I didn't have access. Perhaps the path has changed. Thanks again!

[2018-05-23 16:42] jsauve commented on #2899
@nmilcoff, this issue sounds very much like what I'm seeing in 5% of my user base:
https://github.com/MvvmCross/MvvmCross/issues/783

Am I correct in my understanding that this is resolved in Mvx 6.x?

[2018-05-24 06:51] programmation commented on #2895
FWIW I also have an issue very much like this one, except that I don't use a Splash Screen. My app is the default cross-platform app solution created by VS Mac to which I have added the bare bones MvvmCross libraries. I changed the AppDelegate / MainActivity per the Playground example, and the iOS version starts fine. Just for kicks I added a MacOS version and that works too. But the Android versi

[2018-05-24 07:15] nickrandolph commented on #2895
apologies for the slowness to provide a solution to this issue - Mvvmcross is being held up by this issue (https://github.com/xamarin/Xamarin.Forms/issues/2564) which is effectively preventing us from focussing on resolving other issues.

[2018-05-24 13:02] softlion opened #2906 "UIApplication.SharedApplication.KeyWindow.GetTopModalHostViewController() is incorrect"
This code used in most iOS plugins is incorrect:

    UIApplication.SharedApplication.KeyWindow.GetTopModalHostViewController()

If the call is made from when an UIAlertView is opened, UIApplication.SharedApplication.KeyWindow is the window of the alert view.

Instead the code should find a normal key window like this:

    UIApplication.SharedApplication.Windows.LastOrDefault(w => w.WindowLevel =

[2018-05-24 13:13] martijn00 commented on #2906
Can you make a pull request to fix this?

[2018-05-24 13:28] martijn00 commented on #2906
Sometime in the future it will be possible to include symbols into nuget packages so you can debug locally. To try out new changes in your own project you will always have to run it by replacing nugets locally or get it merged first and update from Myget.

We have the playground where you can add a scenario to reproduce this, and make a fix. That is the best way for now. By doing that we can also

[2018-05-24 13:57] ElteHupkes commented on #2891
@Thetyne As a workaround you could always create a custom `AppStart` and override `AppStart.ResetStart()` to do nothing. Since this method didn't previously exist I doubt you'll have any issues leaving it NOOP.

[2018-05-25 14:54] martijn00 commented on #2892
I think we could add this as plugin in MvvmCross. Some of the other improvements might be nice in other localization plugins as well.

I see a couple of things that need to be done. First you need to convert your plugin to .NET Standard. Then we can add the code for the MvvmCross plugin to this repo.

After that we should add some test code in the playground and documentation. We would be happy to

[2018-05-26 05:31] sergeyyurkov commented on #2903
I believe it also applies at least to WPF. I didn't add one of the nuget packages to WPF project so I got a System.Reflection.ReflectionTypeLoadException somewhere in mscorelib that appeared only if I unselect 'Just my code' in the debugger options. With the option enabled (which is a default) the WPF app end up running without any window and absolutely error-clean log.

[2018-05-26 06:45] nickrandolph commented on #2903
If you enable all exceptions in the exceptions window in visual studio do any get thrown? If so, can you provide a PR that shows how to reproduce this using the playground sample please

[2018-05-28 06:08] Cheesebaron opened #2911 "Fix comments in MvxLocationWatcher WPF"
### Steps to reproduce :scroll:

1. Build sln
2. Look at output

### Expected behavior :thinking:
No false positive warnings with `error` should appear

### Actual behavior :bug:
Warnings are output with `See also error CS1056`. Makes it annoying to search for errors in build log

### Configuration :wrench:

**Version:** 6.x

[2018-05-28 17:36] pablo0219 opened #2913 "Backstack in mvvmcross android working incorrectly"
### Steps to reproduce :scroll:

1. layout with multiple fragments inline. Ex:
<LinearLayout>
 <fragment1/>
 <fragemtn2/>
 <fragment3/>
 <fragment4/>
 <framelayout/>
</linearlayout>
2. In AcitivityViewModel Navigate to fragment5 to binding inflate that fragment5 in frame layout
            this._navigationService.Navigate(TypeFragment5);

Fragment5:    EditCarDetailsViewModel

    [MvxFragmentPres

[2018-05-28 17:51] Cheesebaron commented on #2913
Sorry, we don't provide support for old versions of MvvmCross. Please update to latest stable version if you want help.

[2018-05-28 17:51] #2913 closed

[2018-05-29 05:47] sergeyyurkov commented on #2903
@nickrandolph Unfortunately I can't. Cloned the repo and got a bunch of errors trying to build Playground.WPF. Started with `Error occurred while restoring NuGet packages: The operation failed as details for project MvvmCross.Forms could not be loaded` and continued with dozens of `...\File\obj\project.assets.json' not found. Run a NuGet package restore to generate this file.`
Did I miss something

[2018-05-29 05:59] nickrandolph commented on #2903
Can you try the 6.1 branch please - we've had to fix a bunch of build related issues, so please try this branch instead.
If it doesn't build properly, please do a solution clean, restart VS and try building again (reach me on mvvmcross.slack.com if you need assistance)

[2018-05-29 06:06] sergeyyurkov opened #2916 "IMvxBindingContextOwner in WPF/UWP projects"
I need to use fluent binding to connect a VM and a V with MvxInteraction in a WPF project. It turned out MvxWpfView doesn't implement IMvxBindingContextOwner.

Found corresponding unanswered SO question: https://stackoverflow.com/questions/48066268/xamarin-mvvmcross-fluent-binding-on-uwp

[2018-05-29 06:47] Cheesebaron commented on #2916
Thanks for opening this issue. Please use and fill out the issue template as it gives us a better overview of what is going on. If you haven't already added reproduction steps or even better a repository with a reproduction sample, please do so. It speeds up debugging issues a lot.

[2018-05-30 00:10] tbalcom commented on #2903
I was able to see a `System.ArgumentException` when I enabled all exceptions.

The exception is thrown [here](https://github.com/MvvmCross/MvvmCross/blob/bd3a438f8acff76657a743da0669d97254b7aaa6/MvvmCross/ViewModels/MvxViewModelViewLookupBuilder.cs#L29). A PR to reproduce the issue is incoming.

[2018-05-30 03:00] andre-ss6 commented on #2895
Ok, first of all I'm really sorry for taking so long to create a reproducible sample. And I'm even more sorry to have wasted your time: when building the sample, I've noticed that there was actually some more code in my `App.Initialize()` method related to SQLite. That code was throwing an exception sometimes, which caused the app to hang on the splash screen. Removing the faulty code did the tric

[2018-05-30 03:00] #2895 closed

[2018-05-30 03:03] nickrandolph commented on #2895
@andre-ss6 don't feel you need to apologise - this is quite common and one of the main reasons we ask for help in terms of reproducing the issue.

@programmation if you're seeing a similar issue, can you raise a separate issue or raise a PR showing how to reproduce the issue?

[2018-05-30 05:50] programmation commented on #2895
@nickrandolph I have a simple app that exhibits the problem I described above (iOS/MacOS start OK, Android hangs without displaying MainPage). Not keen to post it here though. Do you have a less-public place I could drop it for you to examine? (Could even show you in person if that's easier!)

[2018-05-30 09:13] liaowubinf opened #2918 "how wpf Customize the log provider"
MvxTrace and everything related was removed, but how can i  Customize the log provider in Wpf, I took a look at  official documentation, it written
`protected override IMvxLogProvider CreateLogProvider()
{
	Log.Logger = new LoggerConfiguration()
                .MinimumLevel.Debug()
                .WriteTo.LiterateConsole()
                .WriteTo.AndroidLog()
                .CreateLogger();
	r

[2018-05-31 13:28] StevenBonePgh commented on #2176
I am seeing this exact issue using the Playground.Forms samples in 6.0.1 - tested Android and Uwp versions - so I suspect there is still an issue here.  The BindingsPage properly localizes the picker using the `mvx:MvxLang` element but there is nothing shown after the "Lang Binding" label where the following techniques are used:
`<Label Text="{mvx:MvxLang ThisIsLocalizedToo}" />`
`<Label Text="{mv

[2018-05-31 14:16] dumbledad opened #2920 "What should come after The Core Project in the TipCalc tutorial? It seems wrong."
At the end of the second page of the TipCalc tutorial, [The Core Project](https://www.mvvmcross.com/documentation/tutorials/tipcalc/the-core-project), there is a link to the next page. Before the Next! link is the text "The next step is about building a first UI for our MvvmCross application". But instead the Next! link takes us to the Extra - Navigation page ([here](https://www.mvvmcross.com/docu

[2018-05-31 14:32] dumbledad commented on #2920
(N.B. I've opened a pull request with the fix in: https://github.com/dumbledad/MvvmCross/pull/1 )

[2018-05-31 23:02] Strifex commented on #2904
I am also experiencing this issue.  This is probably due to this code in the AndroidViewPresentor:

        protected virtual bool CloseActivity(IMvxViewModel viewModel, MvxActivityPresentationAttribute attribute)
        {
            var currentView = CurrentActivity as IMvxView;

            if (currentView == null)
            {
                MvxLog.Instance.Warn("Ignoring close for viewmode

[2018-05-31 23:08] nickrandolph commented on #2904
Is this issue reproducible in the playground droid sample? If not would someone be able to modify the sample so that it is, and submit as a PR so we can take a look.

[2018-06-01 03:42] Strifex commented on #2904
After further investigation, it appears my issue is slightly different. It occurs only when I try to _navigationService.Close(this) while a custom tab is currently being presented (such as during a login flow, I try to navigate to a new viewmodel and close the current viewmodel).  Therefore, it appears the original issue here is different, sorry for the confusion.  I tried to reproduce the origina

[2018-06-01 09:12] alborzmgm commented on #1414
I think there is the same problem with MvxChainedSourceBinding. A lock statement is required for in Dispose methods.

[2018-06-01 09:34] alborzmgm opened #2922 "Object reference not set to an instance of an object in MvxChainedSourceBinding.Dispose"
I got a crash that happened in MvvmCross.Binding.Bindings.Source.Chained.MvxChainedSourceBinding.Dispose.
The message is "Object reference not set to an instance of an object". It can be something similar to #1414,  I think we need a lock statement for dispose method.

Version: 5.6.3

**Platform:**
- iPad : iOS

[2018-06-01 10:12] ElteHupkes opened #2923 "(6.0) Plugins not loaded unless explicitly referenced"
### Steps to reproduce :scroll:

1. Create an MvvmCross project including the `MvvmCross.Plugin.ResourceLoader` package. I experienced this in iOS, yet to test Android, but let's use iOS as an example. Don't use any of the platform specific classes in code explicitly. This is typical usage, you'd retrieve the resource loader by its interface as in step 2:

2. In a ViewModel or ViewController, try

[2018-06-01 11:40] Cheesebaron commented on #2923
Please try 6.1.0-beta.1. Should be fix there.

[2018-06-01 11:42] #2923 closed

[2018-06-01 11:45] ElteHupkes commented on #2923
@Cheesebaron Great! I searched for an existing issue before posting but couldn't find one. Can you tell me how it was fixed / refer me to the commit that fixed it? I'm interested in the workings of MvvmCross, find it makes my development much easier if I know what's going on.

[2018-06-01 11:47] martijn00 commented on #2923
This is fixed in https://github.com/MvvmCross/MvvmCross/pull/2865

[2018-06-01 13:34] nickrandolph commented on #2922
@alborzmgm a couple of requests:
- Please use the issue template
- Please can you check this issue against 6.0.1 (latest stable)
- Can you try to reproduce this issue in the playground sample, and if you can, raise it as a PR.

Closing this issue as we require more information before we can investigate (as per issue template)

[2018-06-01 13:34] #2922 closed

[2018-06-01 13:39] Thetyne commented on #2904
I have the same problem. Show ViewModelA then ViewModelB then ViewModelB close push new ViewModelA.

after, unable to close ViewModelA....
Ignoring close for viewmodel - rootframe has no current page

[2018-06-01 18:08] Sebastian1989101 opened #2924 "IMvxNavigationService.Navigate<TViewModel, TParam, TResult> deadlock if the back button is used"
Is there any workaround or something I can do, so that I can still use this function? I don't like the MvxMessenger way which I use currently as an alternative (because it can easily fail due to lacks).

### Steps to reproduce :scroll:

1. Use NavigationPage Back Button instead of a Close-Call with the result

### Expected behavior :thinking:
Should just returns a default value

### Actual behavio

[2018-06-01 21:39] NikolaNel opened #2925 "UWP Dependency Injection on startup"

[2018-06-01 23:41] StevenBonePgh opened #2926 "MvxResxTextProvider under UWP ResourceManager.GetString() returns null"
### Steps to reproduce :scroll:

1. In Xamarin.Forms, have a UWP and Android project referencing a shared .NET Standard assembly.

2. In a .NET Standard assembly with resx files **for at least two cultures**, define a string as per documented convention `ViewName.Id` such as `FooView.Bar`, the value can be `Bar[en-US]` or similar.

3. Call `MvxResxTextProvider.GetText()` with a non-null/empty `nam

[2018-06-01 23:53] StevenBonePgh commented on #2925
I struggled with this myself.  The best I determined was to derive a class from `MvxFormsWindowsSetup` [Similar solution works for other platforms, such as deriving from MvxFormsAndroidSetup]:

`public sealed class MyMvxFormsWindowsSetup<TApplication, TFormsApplication> :
MvxFormsWindowsSetup<TApplication, TFormsApplication>
where TApplication : IMvxApplication, new()
where TFormsApplication : Xam

[2018-06-02 22:28] sfmskywalker commented on #2069
As I'm in the process of updating https://github.com/autofac/Autofac.Extras.MvvmCross, I ran into the following issue: https://github.com/autofac/Autofac.Extras.MvvmCross/issues/8

Basically, Autofac is dropping support for adding new registrations to an existing Container. Although MvvmCross should not have to accomodate to any specific IoC provider, I do think it's a cleaner design to separate s

[2018-06-03 01:30] nmilcoff commented on #2920
Thanks for pointing this our @dumbledad. Can you please open the PR in this repository? Also be sure it targets master instead of develop or any other branch 🙂

[2018-06-04 09:08] pragneshghoda commented on #1002
I found the solution from this blog. Please check.
https://androidacademic.blogspot.com/2018/05/indexoutofbounds-exception-while-using.html

[2018-06-04 17:07] CriRo7 opened #2928 "MvvmCross for Android.Xamarin TipCalc tutorial"
### Steps to reproduce :scroll:

1. Add MainApplication class step in mvvmcross.android tutorial.
2. trying to use MvvmCross.Platforms library.

### Expected behavior :thinking:
Normal using MvvmCross.Platforms
### Actual behavior :bug:
MvvmCross.Platforms marks as not exist
### Configuration :wrench:

**Version:** 6.01

**Platform:**
- [ ] :iphone: iOS
- [X ] :robot: Android
- [ ] :checkered_flag

[2018-06-04 21:24] kjeremy opened #2930 "Few of the examples compile on develop"
### Steps to reproduce :scroll:

1. Just try to build any Android project: Playground.Droid, Example.Droid etc.

2.

3.

### Expected behavior :thinking:
Things should build

### Actual behavior :bug:
They don't

### Configuration :wrench:

**Version:** 5.x

**Platform:**
- [ ] :iphone: iOS
- [X] :robot: Android
- [ ] :checkered_flag: WPF
- [ ] :earth_americas: UWP
- [ ] :apple: MacOS
- [ ] :tv: t

[2018-06-04 21:26] kjeremy opened #2931 "Playground.Droid crashes in nav stack"
### Steps to reproduce :scroll:

1. Run it.

2. Click `Show Master/Detail`

3. Click `Show Child`

4. Click `Main Menu`

### Expected behavior :thinking:
Should take us somewhere.

### Actual behavior :bug:

App crashes with:

### Configuration :wrench:

**Version:** develop

**Platform:**
- [ ] :iphone: iOS
- [X] :robot: Android
- [ ] :checkered_flag: WPF
- [ ] :earth_americas: UWP
- [ ] :apple:

[2018-06-05 00:40] nickrandolph commented on #2931
@kjeremy is this still an issue on the 6.1 branch?

[2018-06-05 00:43] kjeremy commented on #2931
I can check tomorrow but it's definitely a problem in develop.

On Mon, Jun 4, 2018, 8:40 PM Nick Randolph <notifications@github.com> wrote:

[2018-06-05 12:15] #2882 closed

[2018-06-05 13:34] kjeremy commented on #2931
Yes it crashes on 6.1 branch.

[2018-06-05 13:52] MarcBruins commented on #2856
So this is my proposal for a first doc structure:
`- item: Getting started
  root: true
  subitems:
    - item: Getting started with MvvmCross
      url: /documentation/getting-started/getting-started
    - item: MvvmCross Overview
      url: /documentation/getting-started/mvvmcross-overview
    - item: MvvmCross Packages
      url: /documentation/getting-started/mvvmcross-packages
    - item: .NE

[2018-06-05 19:33] nmilcoff commented on #2856
Looks great to me! 👏

Only one little thing: How about making separate subcategories for tvOS and macOS? Even though we don't have much to add (yet!).

[2018-06-05 22:40] #2825 closed

[2018-06-05 22:41] #2817 closed

[2018-06-06 04:05] nickrandolph commented on #2791
Resolved by https://github.com/MvvmCross/MvvmCross/pull/2921

[2018-06-06 04:05] #2791 closed

[2018-06-06 04:07] nickrandolph commented on #2621
Hi all, is someone prepared to pick this up? what's still outstanding?

[2018-06-06 04:08] nickrandolph commented on #2798
Hi all, closing this issue as it was more of a discussion doc than anything. It would still be good to capture the workflow somewhere so that anyone wanting to contribute knows where to look

[2018-06-06 04:08] #2798 closed

[2018-06-06 04:09] nickrandolph commented on #2608
Any thoughts on how to progress this issue? or shall we close it for the moment?

[2018-06-06 04:10] nickrandolph commented on #2538
@Sebastian1989101 do you know whether this is still an issue on 6.1 branch?

[2018-06-06 04:11] nickrandolph commented on #2502
@erviem99 are you able to reproduce this issue on the 6.1 branch? and would you be able to submit a PR that demonstrates this issue (use the existing playground sample) so we can assist with fixing it?

[2018-06-06 04:21] nickrandolph commented on #2417
@Sebastian1989101 did you get a chance to try this on 6 or 6.1 beta?

[2018-06-06 04:38] nickrandolph commented on #2330
@Sebastian1989101 I know this issue's a bit old now but are you able to check it against 6/6.1?

[2018-06-06 04:39] nickrandolph commented on #2440
@nmilcoff are we able to generate a PR that demonstrates this issue in the playground, so we can get this issue resolved

[2018-06-06 04:40] nickrandolph commented on #2418
@nmilcoff would you be able to generate a PR that demonstrates this issue in the playground?

[2018-06-06 04:42] nickrandolph commented on #2738
@wh1t3cAt1k are you able to generate a PR that demonstrates the issue you're describing here? Please use the Playground sample

[2018-06-06 04:49] nickrandolph commented on #35
@hugoterelle is this issue still outstanding?

[2018-06-06 04:50] nickrandolph commented on #146
@martijn00 I'm not sure what the idea is behind this issue. Would it be possible to get more context (or close if no longer relevant)?

[2018-06-06 04:52] nickrandolph commented on #161
@martijn00 is this still something we want to look at further?

[2018-06-06 05:03] nickrandolph commented on #306
@martijn00 I think we can close off this issue since we have some detection of view assemblies etc

[2018-06-06 05:03] nickrandolph commented on #339
@martijn00 do we just want to close off this issue now?

[2018-06-06 05:05] nickrandolph commented on #427
If this is of interest to anyone, please add a comment???

[2018-06-06 05:06] nickrandolph commented on #456
Is this of interest to anyone? Please add a comment if it is

[2018-06-06 05:12] nickrandolph commented on #529
@nmilcoff did you have any more input on this issue?

[2018-06-06 05:13] nickrandolph commented on #754
@smstuebe can you comment if you're still interested in this?

[2018-06-06 05:13] nickrandolph commented on #777
@andreinitescu is this still of interest?

[2018-06-06 05:14] nickrandolph commented on #836
@crazyfx1 is this still an issue in the latest release (6 or 6.1)?

[2018-06-06 05:30] andreinitescu commented on #777
@nickrandolph I think it would still be an interesting and handy feature, but it's not ideal without tooling support, without being able to know at design time that the binding string you wrote is valid. I think this also could be done using a custom build step? Hmm, actually I think the bindings code could be emitted at compile time, just how XAMLC works in Xamarin Forms. But maybe I'm aiming too

[2018-06-06 05:33] nickrandolph commented on #777
@andreinitescu happy to keep the issue open but it'd be good for you to prototype something out to give it a shot. Raise a PR with [WIP] in the title to get feedback from other contributors .

[2018-06-06 05:37] andreinitescu commented on #777
4 years ago when I was working on this I was hoping to get some feedback, since I hit a problem.
Unless nobody else is interested, I am fine if this gets closed.

[2018-06-06 06:25] #777 closed, assigned to nobody

[2018-06-06 07:12] crazyfx1 commented on #836
I fixed this with PR #842, which was merged in 3.5 or 4.0. So this issue should be closed.

[2018-06-06 07:21] nickrandolph commented on #836
Thanks for that.

[2018-06-06 07:21] #836 closed, assigned to nobody

[2018-06-06 08:54] hugoterelle commented on #35
From my point of view, not.  But I didn't follow the latest developments of MvvmCross since a while.

[2018-06-06 08:54] #35 closed

[2018-06-06 12:57] Rajkumarcs41 commented on #1634
Hi @martijn00

How we access Viewmodel instance in NavigationService?

[code]
In above code sample you have set viewmodel =eargaera . But i don't know how to get viewmodel instance in nav service. Could you please guide me on this

[2018-06-06 16:38] OffTravel opened #2936 "MvxCarouselPage: System.ArgumentNullException: Value cannot be null."
### Steps to reproduce :scroll:

[code]
### Expected behavior :thinking:
Have a CarouselPage as Main View

### Actual behavior :bug:
System.ArgumentNullException: Value cannot be null
View model Start, Prepare and Initialize methods are called correctly but the exception is raised before void ViewCreated is called.

Using MvxTabbedPage or MvxContentPage make the app run without problems.

This is

[2018-06-06 22:32] nickrandolph commented on #1634
@Rajkumarcs41 if you download the source code and run the playground sample you should be able to step through the navigation workflow. In doing this you'll see how the ViewModel is created and how you can access it.

[2018-06-07 06:58] erviem99 commented on #2502
I'm sorry. I abandoned Xamarin.Forms shortly after this and haven't looked at it since.

[2018-06-07 22:30] nickrandolph commented on #846
@nmilcoff is this something you think we should continue development on? Or can we close off this issue (@davidschwegler?)

[2018-06-07 22:31] nickrandolph commented on #529
@buzzware does the thumbs up mean that you'd like to see work done on this?

[2018-06-07 22:32] nickrandolph commented on #456
No feedback, so closing this issue (@slodge I assume you don't have anything to add?)

[2018-06-07 22:32] #456 closed

[2018-06-07 22:33] nickrandolph commented on #427
No feedback, so closing this issue (@slodge I assume you don't have any input?)

[2018-06-07 22:33] #427 closed

[2018-06-07 22:33] nickrandolph commented on #339
No feedback, so closing this issue

[2018-06-07 22:33] #339 closed

[2018-06-07 22:33] nickrandolph commented on #306
No feedback, so closing this issue

[2018-06-07 22:33] #306 closed

[2018-06-07 22:33] nickrandolph commented on #161
No feedback, so closing this issue

[2018-06-07 22:33] #161 closed

[2018-06-07 22:33] nickrandolph commented on #146
No feedback, so closing this issue

[2018-06-07 22:33] #146 closed

[2018-06-07 22:35] nickrandolph commented on #754
No further feedback, so closing this issue (@smstuebe feel free to request to be reopened if you feel like contributing)

[2018-06-07 22:35] #754 closed

[2018-06-07 22:39] buzzware commented on #529
Yes I would, for the reasons above. I say this knowing I don't have capacity myself for the foreseeable future and I don't have advanced experience in C# eg. expressions and when I tried to setup to play with it, I was told I can't on a Mac #2608

[2018-06-07 22:49] nmilcoff commented on #339
I'm not sure no feedback is a good reason for closing issues like this one. AFAIK We don't support bindings on CollectionView supplementary views... so the feature request is fair.

[2018-06-07 22:50] nmilcoff commented on #161
This is something we also need to clean up at some point... I honestly don't see how closing the issue because nobody's actively working on it helps?

[2018-06-07 22:54] nickrandolph commented on #161
The point is to force a response... Like you gave. If the issue is still relevant/important I would expect feedback as such. If no feedback the issue should be dropped. Otherwise it will never get actioned

As it is, we aren't closing issues faster than they're being raised. If this is something that should be done, let's put it into a future project so it makes it into the roadmap.

[2018-06-07 23:01] nmilcoff commented on #161
I see your point, and it's ok. But I disagree on the necessity of having to close issues faster than they are raised.

I think having open issues like this one, for future cleanups, do not harm the project in any way. And they help us not forget the fact we still need to work on this.

[2018-06-07 23:11] nickrandolph commented on #161
yeh I agree with the comment about having "feature request" issue that can be added over time. But realistically each of these feature requests either need to be on the roadmap (as confirmed by core team) or they need a contributor to champion the issue so that it gets worked on.

The issues I'm closing are those that are very old and haven't had any comments/work done on them for a long time.

[2018-06-07 23:50] nickrandolph commented on #529
@buzzware I don't develop on Mac so can't answer whether it's possible yet or not. @martijn00 do you know whether the recent updates to VS Mac have fixed the build for mvvmcross?
@nmilcoff do you have any thoughts on this topic?

[2018-06-08 02:43] nickrandolph commented on #1623
@simon-wainy would you be able to validate this bug against 6.0 please, and confirm that you still need this issue resolved.

[2018-06-08 02:45] nickrandolph commented on #1576
@Cheesebaron do we still want to do this?
Personally I think there are samples that are in the main repo that need to be upgraded and added back to the main solution, but samples that are in the samples repo should probably just stay there and have some tasks raised to get them maintained. Thoughts?

[2018-06-08 02:48] nickrandolph commented on #1559
@martijn00 I think that the changes in 6/6.1 to make the presenter and dispatchers more extensible should provide enough scope to cover the requirements of this issue?
@fuzzybinary how would you feel about us closing this issue, or do you still feel there is more to be done?

[2018-06-08 02:50] nickrandolph commented on #1538
@lauxjpn @kjeremy is this still an issue? and is it an issue related to MVX?

[2018-06-08 02:50] nickrandolph commented on #1523
@kjeremy any chance you can confirm this is still an issue in v6?

[2018-06-08 02:55] nickrandolph commented on #1489
@martijn00 @Cheesebaron I think this is actually a great idea, even if it's only to add the INotifyPropertyChanging interface. I'm thinking of adding this to 6.2?

[2018-06-08 02:57] nickrandolph commented on #1480
@sergeyyurkov are you able to submit a PR demonstrating this using the Playground sample? This might help others, like myself be able to easily reproduce and look for solutions

[2018-06-08 02:58] nickrandolph commented on #1478
@fedemkr did you get a chance to take a look? If so, please raise a PR in the 6.2 branch

[2018-06-08 03:03] nickrandolph commented on #1466
@kjeremy is this something you'd be able to contribute to?

[2018-06-08 03:04] nickrandolph commented on #1457
@Naografix can I ask you to reproduce this using the playground UWP sample and submit as a PR. We can assist with finding a resolution

[2018-06-08 03:05] nickrandolph commented on #1424
@kenkosmowski a couple of things:
- is this issue still present in v6
- would you be able to reproduce this using the playground sample and submit as a PR so we can investigate further

[2018-06-08 03:06] nickrandolph commented on #1422
@HEBOS can you reproduce this using the playground sample and submit as a PR. This will help us with investigating what's going on

[2018-06-08 03:10] nickrandolph commented on #1416
@martijn00 @willsb @kjeremy is this something we want to continue work on?
I'd suggest this could be pushed out as a separate nuget package that developers can opt-in to using Fody style weaving

[2018-06-08 03:11] nickrandolph commented on #1403
@chrilith has this issue been resolved?

[2018-06-08 03:11] nickrandolph commented on #1358
@kjeremy is this issue still relevant? If so, what action needs to be taken?

[2018-06-08 03:12] nickrandolph commented on #1319
@promontis did you have a thought on how this would be implemented? Would you be able to generate a PR that starts this work?

[2018-06-08 03:13] nickrandolph commented on #1251
@kjeremy do you have any bandwidth to create a PR out of your suggestion for us to discuss on the implementation?

[2018-06-08 03:14] nickrandolph commented on #1226
@bspinner any further thoughts on whether we should continue work on this?

[2018-06-08 03:14] nickrandolph commented on #1212
@indazoo is there still work to be done on this?

[2018-06-08 03:15] nickrandolph commented on #1208
@martijn00 do we still want to look at adding this? Is this something for the 6.2 release?

[2018-06-08 03:16] nickrandolph commented on #1137
@martijn00 did this get addressed at any point?

[2018-06-08 03:17] nickrandolph commented on #1136
@martijn00 @Cheesebaron there are a bunch of PRs in the 6, 6.1 and 6.2 timeframes that address this issue. Are we ok to close this issue as it's being addressed elsewhere?

[2018-06-08 03:18] nickrandolph commented on #1124
@Cheesebaron with the consolidation in 6 is this still necessary?

[2018-06-08 03:18] nickrandolph commented on #896
@habermeier do you think you might have time to put forwards a PR covering this? Even if it's unpolished a basic implementation would help us considerably.

[2018-06-08 03:20] nickrandolph commented on #847
@azchohfi are you able to reproduce this issue in the playground sample and submit as a PR. This would help others contribute to fixing this issue.

[2018-06-08 03:36] flyingxu opened #2937 "IMvxMessenger plugin is not loaded, MvxIoCResolveException"
### Steps to reproduce :scroll:

1.Make sure Playground.Forms.Uwp can compile and run

2. Add project reference of `MvvmCross.Plugin.Messenger` to `Playground.Core`
Add project reference of `MvvmCross.Plugin.Messenger` to `Playground.Forms.Uwp`
3. In RootViewModel(), add some code
[code]
4. Run Playground.Forms.Uwp again

### Expected behavior :thinking:
it runs

### Actual behavior :bug:
Exceptio

[2018-06-08 03:37] nickrandolph commented on #2937
@flyingxu can you submit your changes to the playground as a PR linked to this issue - it just makes it easier for us to run it up, rather than having to replay your steps.

[2018-06-08 03:42] kjeremy commented on #1538
It was reported to xamarin.  I'll see if I can dig up the bug.  I do not
believe it was fixed.

On Thu, Jun 7, 2018, 10:50 PM Nick Randolph <notifications@github.com>
wrote:

[2018-06-08 03:45] kjeremy commented on #1251
I do not right now.

On Thu, Jun 7, 2018, 11:13 PM Nick Randolph <notifications@github.com>
wrote:

[2018-06-08 04:58] bspinner commented on #1226
At this point of time I'd say we can scrap this idea.
Haven't need it since back then.

Worst case could be people starting to use this in cases where a better prepared property would have been the better choice.

So: close this. :)

[2018-06-08 05:04] nickrandolph commented on #1226
If someone wants to take charge of this feature we can reopen this issue - closing for now.

[2018-06-08 05:04] #1226 closed

[2018-06-08 05:27] flyingxu commented on #2937
Good idea, #2938 is submitted

[2018-06-08 05:30] Divyesh1 commented on #2631
Yes, in Xamarin.iOS there are still missing controls like InputTextLayout, floating action button, checkboxes, radio buttons. @Cheesebaron

[2018-06-08 05:35] indazoo commented on #1212
Hi, honestly I stopped working on this. Too much things didn't worked for me.

[2018-06-08 05:59] Cheesebaron commented on #2631
@Divyesh1 no. These controls are not native to iOS.

[2018-06-08 07:26] willsb commented on #1416
I've actually worked on it separately and it has been going on really nicely! You're right when you say there's no need to depend on Mvx; that's how I went. The results can be seen [here](https://github.com/willsb/RunOnMainThread.Fody)

[2018-06-08 12:41] chrilith commented on #1403
Hi @nickrandolph,

Well since #1675 hasn't been merge I guess it is no,t unless there is a new implementation in 5.x or current 6.x.

I must admit that I currently haven't time to check all this.
I'll be able to check everyhing only after we plan to migrate to latest version of MvvmCross which may not arise before the end of this year :(

[2018-06-08 14:38] borbmizzet commented on #2623
I just tested this again, and it seems to have been fixed at some point between the time I posted this issue and now.

[2018-06-08 14:38] #2623 closed

[2018-06-08 14:44] dlpopescumtk opened #2939 "Question related to the IMvxOverridePresentationAttribute interface (5.7.0.0)"
### Steps to reproduce :scroll:

1. Create a fragment that has two _MvxFragmentPresentationAttributes_ (it's used in two activities)

2. Implement the _IMvxOverridePresentationAttribute_ interface

3. Use the _PresentationAttribute()_ method of the interface to return the customised attribute

### Expected behavior :thinking:

The answer to these questions might be obvious, but help me out here.

[2018-06-08 15:22] Thetyne commented on #2904
Today, I have reproduce the problem in a new project.

I navigate two time on same view model and when i close the second (with _navigationService.Close(...)), i have a log message "close for viewmodel - rootframe has no current page" and view model doesn't close.

I try reproduce it in Playground droid sample.

[2018-06-08 15:28] Thetyne commented on #2891
I try in few days to reproduce the problem on playground droid

[2018-06-08 16:20] Thetyne commented on #2904
I check at the moment at MvxApplicationCallbacksCurrentTopActivity.cs:
_Activities ConcurrentDictionary add entry by "name of activity" key.

I push the same activity two time, so it fail enter the new key inside  ConcurrentDictionary.

I wiil test a fix

[2018-06-09 08:40] sharathtv89 commented on #2911
I will look into this issue.

[2018-06-09 11:27] Thetyne commented on #2939
For change PresentationAttribute at runtime , i pass a flag in my view model parameter .

await _navigationService.Navigate<ViewModel, ViewModelParameter>(viewModelParameter);

ViewModelParameter contain presentation flag which change PresentationAttribute type

[2018-06-09 12:53] Thetyne commented on #2848
Example:

[code]

in your app setup
[code]

After, you can call  `await _navigationService.ChangePresentation(new ClearBackstackHint());`

[2018-06-09 17:30] DavePilks commented on #2589
Has the fix for this been released yet?

[2018-06-09 21:55] sfmskywalker commented on #2937
This commit broke the plugin discovery:

20b57bc523e2cac105f7608cf1502c2fb8548c51 | Added recursive method to search for referenced assemblies and load them into AppDomain. | Ricardo Dorta | 5/8/2018 8:22:18 PM
-- | -- | -- | --

[2018-06-10 07:34] flyingxu commented on #2937
@sfmskywalker I will close this issue because #2938 is already merged.

[2018-06-10 07:34] #2937 closed

[2018-06-10 07:36] sfmskywalker commented on #2937
Sure. I totally missed that there was already a PR.

[2018-06-10 08:53] Thetyne opened #2945 "Question related to Xamarin.Forms 3.x"
Is Mvvmcross 6.x compatible with Xamarin.Forms 3.x?

### Configuration :wrench:

**Version:** 6.x

**Platform:**
- [ ] :iphone: iOS
- [ ] :robot: Android
- [ ] :checkered_flag: WPF
- [ ] :earth_americas: UWP
- [ ] :apple: MacOS
- [ ] :tv: tvOS
- [x] :monkey: Xamarin.Forms

[2018-06-10 13:37] flyingxu commented on #2945
Yes and it's targeting the latest version as #2933

[2018-06-10 17:51] Thetyne commented on #2945
Ok, thanks

[2018-06-10 19:59] #2945 closed

[2018-06-10 19:59] Cheesebaron commented on #2939
Please use [Slack #mvvmcross](https://xamarinchat.herokuapp.com/) or [StackOverflow](https://stackoverflow.com/questions/tagged/mvvmcross) for questions. Github is meant to be used for bugs and feature requests only.

[2018-06-10 19:59] #2939 closed

[2018-06-10 20:02] Cheesebaron commented on #2936
Please provide the full stack trace.

[2018-06-10 20:05] Cheesebaron commented on #2931
Dupe of #2930 no?

[2018-06-10 20:07] Cheesebaron commented on #2928
MvvmCross.Core, MvvmCross.Platform and MvvmCross.Binding do not exist in MvvmCross 6.0.0 anymore. You just need the one MvvmCross NuGet package.

So just remove the other packages. If you are using a 3rd party dependency that is not updated to 6.0.0, then ask the author to upgrade.

[2018-06-10 20:07] #2928 closed

[2018-06-10 23:08] brainchest opened #2946 "Source viewmodel in CreateBindingSet is ignored"
### Steps to reproduce :scroll:

1. Create a view controller that extends MvxViewController and uses a view model while doing so.

2. In the view controller, create a binding set that uses a different view model

Git Repository with sample project: https://github.com/brainchest/Mvvmcross-ViewModel-Bug

Important Parts are in ViewController

`public partial class ViewController : MvxViewController<

[2018-06-11 00:37] flyingxu opened #2948 "Nightly builds are not updated"
### Steps to reproduce :scroll:

1. Check the latest version of the nightly build on Myget: https://www.myget.org/F/mvvmcross/api/v3/index.json

### Expected behavior :thinking:
Should see 6.1.0-unstable000 something

### Actual behavior :bug:
Only 6.0.0-unstable.210 is listed

[2018-06-11 07:19] Cheesebaron commented on #2946
This is working exactly as expected.

The `ViewController` gets `MainViewModel` assigned, because that is what you are telling MvvmCross to use by saying `MvxViewController<MainViewModel>`. This is also the type the `ViewModel` property will be when you inspect it at run-time.

For `this.CreateBindingSet<TVC, TViewModel>`, the `TViewModel` property is there solely to not have to type cast _every_

[2018-06-11 07:19] #2946 closed

[2018-06-11 10:39] brainchest commented on #2946
@Cheesebaron, thanks for the explanation. So does that mean that I'm not able to use two different view models on one MvxViewController?

[2018-06-11 13:02] Cheesebaron commented on #2946
You could use the non-generic version of `MvxViewController` and make your own ViewModel <-> View(Controller) lookup, so you can use different ViewModels for the same ViewController.

Otherwise if the other ViewModel is a child of `MainViewModel` then you can bind like:

[code]

[2018-06-11 19:14] brainchest commented on #2946
For the non-generic version of `MvxViewController` how do I wire up the controller with the view model then? Could you please point me to the right docs page? Just wondering because I have to  specify a main view model anyway because of the view model driven nature of navigation in Mvvmcross.

[2018-06-11 19:40] fedlerner commented on #2920
I just had the same problem.
I did the following Google search: [asd](https://www.google.com.ar/search?ei=vc4eW_CrHsWTsAGc5IzIDA&btnG=Buscar&q=www.mvvmcross.com%2Fdocumentation%2Ftutorials%2Ftipcalc%2F) and I got some results:

- [TipCalc Android Project](https://www.mvvmcross.com/documentation/tutorials/tipcalc/a-xamarinandroid-ui-project)
- [TipCalc iOS Project](https://www.mvvmcross.com/documen

[2018-06-11 19:47] DavePilks opened #2950 "Custom Presentation Hint Handler is still being ignored"
I have been looking at a few issues that seem to be closed. Namely:

- [Custom Presentation Hint Handler is ignored #2589](https://github.com/MvvmCross/MvvmCross/issues/2589)

So I have a custom hint and it is set up in my presenter as such

`        public CustomFormsPagePresenter(IMvxFormsViewPresenter platformPresenter)
            : base (platformPresenter)
        {
			AddPresentationHintHand

[2018-06-11 20:10] Cheesebaron commented on #2946
https://www.mvvmcross.com/documentation/advanced/customizing-using-App-and-Setup#overriding-viewmodel-locationconstruction

[2018-06-11 23:55] nickrandolph commented on #2950
Hey is there any chance you can reproduce this in the playground and submit a PR to demonstrate this issue and help us resolve what's going on?

[2018-06-12 03:04] fuzzybinary commented on #1559
I'm goint to pull @biscuitehh into the conversation since he's been actively working on that codebase and has performed upgrades to the 6.0 line recently. He'll be able to say if the new presenter changes have addressed our issues.

[2018-06-12 05:36] Cheesebaron commented on #2948
This is fixed. Although we don't have nightly builds but rather CI builds. So everything going into develop should be spat out on MyGet and anything in release/master will go to NuGet.

[2018-06-12 05:36] #2948 closed

[2018-06-12 05:47] flyingxu opened #2951 "Playground.Forms.Droid can't run"
### Steps to reproduce :scroll:

1. Run Playground.Forms.Droid on a simulator or a phone

### Expected behavior :thinking:
it runs

### Actual behavior :bug:

Exception at line 62, MvvmCross\MvvmCross.Forms\Platforms\Android\Core\MvxFormsAndroidSetup.cs
[code]
### Configuration :wrench:

**Version:** Release/6.1.0 branch

**Platform:**
- [ ] :iphone: iOS
- [x] :robot: Android
- [ ] :checkered_flag

[2018-06-12 07:17] Naveen9453 opened #2952 "Getting Exception System.ArgumentNullException."
### Steps to reproduce :scroll:

1.Created Project using MvvmCross and setup iOS project, Done changes in AppDelegate, Added ViewModel Class to Core part and Added App.cs file,Added LinkerPleaseInclude.cs file.

2.Created All changes as per this link https://github.com/nickrandolph/MvxPlus1DaysOfMvvmCross

3.Getting exception in ViewController while set.Apply() Line in ViewDidLoad method of ViewCo

[2018-06-12 07:34] nickrandolph commented on #2952
Hi @Naveen9453 would you be able to try to reproduce this in the playground sample and issue a PR so that we can investigate?

[2018-06-12 07:40] wondercrazy15 commented on #2952
@nickrandolph  playground sample means this link sample  https://github.com/nickrandolph/MvxPlus1DaysOfMvvmCross   ?

[2018-06-12 07:44] Naveen9453 commented on #2952
Hi @nickrandolph  I am running your sample from this link  https://github.com/nickrandolph/MvxPlus1DaysOfMvvmCross and getting same exception

![screen shot 2018-06-12 at 1 12 35 pm](https://user-images.githubusercontent.com/17539345/41276659-8828aa28-6e42-11e8-8edb-777f46caddf7.png)

[2018-06-12 07:45] nickrandolph commented on #2952
Sorry I meant the playground sample that's included within the mvvmcross source code (https://github.com/MvvmCross/MvvmCross/tree/develop/Projects/Playground)

[2018-06-12 08:36] jothedev opened #2953 "The app stuck at Splash Screen when using MVVMCross 6.x"
### Steps to reproduce :scroll:

1. Copy the Playground or any other sample solution that using MVVMCross 6
2. Restore Nuget packages and rebuild the solution
3. Run the app.

### Expected behavior :thinking:
The app will navigate to FirstViewModel define in `App.cs` after showing Splash Screen

### Actual behavior :bug:
The app will stuck in Splash Screen (with loading screen). No issue if I'm us

[2018-06-12 08:47] Naveen9453 commented on #2952
![screen shot 2018-06-12 at 2 15 13 pm](https://user-images.githubusercontent.com/17539345/41279832-1ea4fb66-6e4b-11e8-96de-d0061b4198d9.png)
I have cloned the projects from below link: https://github.com/MvvmCross/MvvmCross/tree/develop/Projects/Playground
still getting this errors. I'm not able to build project from this link.

[2018-06-12 09:06] divyesh008 opened #2954 "Working with Xamarin.ios using MvvmCross Framework, getting System.ArgumentNullException."
### Steps to reproduce :scroll:

1. Created new solution with .net standard library project (version 2.0) with MvvmCross nuget package included, also created App.cs class here at root level.

2. Added new project for Xamarin.iOS with core project referenced created in 1st step with MvvmCross nuget package, included LinkerPleaseInclude.cs file. Make all the required changes according to MvvmCrossDo

[2018-06-12 09:12] Divyesh1 commented on #2954
I have also try to run the sample (Mvx-00-FirstDemo) which I have found from below link: https://github.com/nickrandolph/MvxPlus1DaysOfMvvmCross

In this also I have get the same System.ArgumentNullException with same behaviour I have mentioned above.

[2018-06-12 09:15] Divyesh1 commented on #2953
Same behaviour in Xamarin.iOS project working with storyboard. The same application works properly with MvvMCross version 5.1.1. @jothedev

[2018-06-12 09:40] Cheesebaron commented on #2954
Please provide the full stack trace.

[2018-06-12 09:41] Cheesebaron commented on #2953
@divyesh008 please don't comment with "me too" comments, they do not provide any value. Use the reaction feature to add your sentiment.

[2018-06-12 09:54] divyesh008 commented on #2954
![firstdemo_stack_trace](https://user-images.githubusercontent.com/10617244/41283616-ad667df8-6e54-11e8-8f0b-93e69ee99d83.png)
@Cheesebaron

[2018-06-12 09:55] Cheesebaron commented on #2954
That is not it.

[2018-06-12 10:00] divyesh008 commented on #2954
![screen shot 2018-06-12 at 3 29 59 pm](https://user-images.githubusercontent.com/10617244/41283939-8aef56b8-6e55-11e8-8804-35bbab2fe35f.png)

Are you asking for this?

[2018-06-12 10:02] jothedev commented on #2953
I've got an update for this problem. If I'm using template given from [MvxScaffolding](https://github.com/Plac3hold3r/MvxScaffolding), the app will run fine. It can go to the FirstViewModel.

However, if I try to replicate the template manually (even follows the `readme.txt` file) the app won't even reach `Initialize` method in `App.cs`. Just stop at the Splash Screen and stays there forever.

I'v

[2018-06-12 10:02] Cheesebaron commented on #2954
I am asking for the stack trace. With line numbers. Also not a screenshot. Easiest way to get this is just let the app continue and look in the Application Output pad

[2018-06-12 10:15] divyesh008 commented on #2954
Loaded assembly: /Users/ns-mac/Library/Developer/CoreSimulator/Devices/DD955F6F-E1B4-4DEF-8CCD-E826AD7CD2CE/data/Containers/Bundle/Application/F49B28DF-F506-4A78-AEE1-072AF36C29EE/FirstDemo.iOS.app/Xamarin.iOS.dll [External]
Thread started:  #2
Loaded assembly: /Users/ns-mac/Library/Developer/CoreSimulator/Devices/DD955F6F-E1B4-4DEF-8CCD-E826AD7CD2CE/data/Containers/Bundle/Application/F49B28DF-F50

[2018-06-12 10:16] divyesh008 commented on #2954
Loaded assembly: /Users/ns-mac/Library/Developer/CoreSimulator/Devices/DD955F6F-E1B4-4DEF-8CCD-E826AD7CD2CE/data/Containers/Bundle/Application/F49B28DF-F506-4A78-AEE1-072AF36C29EE/FirstDemo.iOS.app/Xamarin.iOS.dll [External]
Thread started:  #2
Loaded assembly: /Users/ns-mac/Library/Developer/CoreSimulator/Devices/DD955F6F-E1B4-4DEF-8CCD-E826AD7CD2CE/data/Containers/Bundle/Application/F49B28DF-F50

[2018-06-12 11:11] Cheesebaron commented on #2954
That is still not the stack trace 😄

[2018-06-12 11:21] divyesh008 commented on #2954
{System.ArgumentNullException: missing source event info in MvxWeakEventSubscription
Parameter name: sourceEventInfo
  at MvvmCross.WeakSubscription.MvxWeakEventSubscription`1[TSource]..ctor (UIKit.UITextField source, System.Reflection.EventInfo sourceEventInfo, System.EventHandler targetEventHandler) [0x0001d] in <8a077b300d9c484ab0471c2d21c3cb26>:0
  at MvvmCross.WeakSubscription.MvxWeakEventSub

[2018-06-12 13:47] flyingxu commented on #2953
What's the difference between your `SplashActivity.cs` and the `MvxScaffolding` template?

[2018-06-12 13:58] FournierNico commented on #2953
I'm facing the same issue. I try the following :

- Launch `TipCalc` sample : **freeze** at SplachScreen
- Follow `TipCalc` tutorial from mvvmcross website : **freeze** at SplashScreen
- Lauch `StarWars` sample : **it works** !

Strange because StarWars like TipCalc samples use _MvvmCross 6.0_.

[2018-06-12 14:35] tbalcom opened #2955 "[Android] 6.1 hangs on splash screen"
### Steps to reproduce :scroll:

1. Run Playground.Droid

2. RootViewModel is never shown. The splash screen remains up forever.

I have to enable all Exceptions in "Exception Settings" to see the following exception:

System.NullReferenceException: Object reference not set to an instance of an object. occurred

The NRE is happening [here](https://github.com/MvvmCross/MvvmCross/blob/develop/MvvmCr

[2018-06-12 15:10] jothedev commented on #2953
@flyingxu there was no different at all. I even copied the codes from the template to my `SplashActivity.cs` and it still freeze there.

[2018-06-12 15:38] diegostamigni opened #2956 "Failed to resolve "MvvmCross.Core.MvxSetup" reference from "MvvmCross, Version=6.1.0.0, Culture=neutral, PublicKeyToken=null""
TL;DR I am currently experiencing the following issue:
[code]

Long story short: we are using MvvmCross since the beginning of the project, and recently we added to that project an iOS extension (Share extension), that, of course, is using MvvmCross. Suddenly tho, after the upgrade from Xamarin.iOS 11.9 to 11.12 it now started failing with the error above and the only solution to fix this was to d

[2018-06-12 15:46] Cheesebaron commented on #2956
What does the reference in your extension project look like? Which dll is it using?

[2018-06-12 15:52] borbmizzet commented on #2955
I'm getting the same issue with my MvxForms Droid app after bumping to 6.1.  The last trace message I get is `[TRACE] (MvvmCross.Core.MvxSetup) Setup: PluginManagerFramework start`, after which it just hangs.

[2018-06-12 15:52] diegostamigni commented on #2956
@Cheesebaron What do you mean ? MvvmCross is same across the whole solution, v6.1.0 installed via nuget.

[2018-06-12 16:30] Cheesebaron opened #2957 "MvxSetup Assembly.GetEntryAssembly() returns null"
### Steps to reproduce :scroll:

1. Start Playground.Droid sample

2. See app hang on splash

### Expected behavior :thinking:
App should load

### Actual behavior :bug:
Assembly.GetEntryAssembly() call in MvxSetup for loading plugins etc. is returning null. Although when trying to access this null reference, the app does not throw an exception, but rather just blocks indefinitely.

### Related is

[2018-06-12 16:30] Plac3hold3r commented on #2955
The issue seems to be with the [`Assembly.GetExecutingAssembly()`](https://github.com/MvvmCross/MvvmCross/blob/develop/MvvmCross/Core/MvxSetup.cs#L289).

This is the case with Xamarin Android and iOS. We will need to find an alternative way to get the platform application assembly.

[2018-06-12 16:31] Cheesebaron commented on #2955
Please continue in #2957

[2018-06-12 16:31] #2955 closed

[2018-06-12 16:32] Cheesebaron commented on #2953
Please continue in #2957

[2018-06-12 16:32] #2953 closed

[2018-06-12 16:51] borbmizzet commented on #2957
Same problem with Playground.Forms.Droid sample

[2018-06-12 17:03] Cheesebaron commented on #2956
Look in the csproj and figure out whether the path is correct to the referenced assembly. If say you are referencing the wrong one, for a different platform, then you might have issues. Maybe also check that the assembly gets copied to the output folder too.

[2018-06-12 17:19] diegostamigni commented on #2956
Ah, I see what you mean here @Cheesebaron: a whole lot of dlls (including MvvmCross) is missing from the output folder of the iOS extension... argh

[2018-06-12 22:35] nickrandolph commented on #2954
This is a duplicate of https://github.com/MvvmCross/MvvmCross/issues/2952 - please avoid creating duplicate issues
Please can you reproduce this in the Playground sample (see source code - https://github.com/MvvmCross/MvvmCross/tree/develop/Projects/Playground) and submit as a PR so we can investigate

[2018-06-12 22:37] nickrandolph commented on #2952
@martijn00 @Cheesebaron is the mvvmcross solution buildable on VS Mac yet?

[2018-06-13 03:51] hosaka commented on #2743
Trying to make a composite wpf application. Very hard to figure out how to configure my own presenter, official docs are out of date, everything else on SO/GitHub uses some other approach that I can't make sense of.

[2018-06-13 04:50] Cheesebaron commented on #2952
@nickrandolph the build script will most likely run fine. However, not sure how well VSfM handles the solution. We are very much on the bleeding edge here.

[2018-06-13 04:54] divyesh008 commented on #2954
@nickrandolph I'm trying to figure it out back since few days, I have not get any solution till yet!

[2018-06-13 06:09] Cheesebaron commented on #1124
Probably not. However, we should consider using support packages for all our Android stuff. Since that is the recommended way to go from Google either way.

[2018-06-13 10:19] arkadiuszokon opened #2960 "Binding stop working after upgrade from 6.0.1 to 6.1.1 on Xamarin.Forms"
After upgrading from 6.0.1 to 6.1.1 Bindings stop working in cells, tabs and carousel generally in places where bindings was not declared directly like in viewModel<T> but instead set automatically like collection item in cell or parent view model in MvxCarouselView. It's possible that I use sometimes Binding provided by xamarin.forms instead of mvx:Bind, but after changing - nothing happend. When

[2018-06-13 14:34] tbalcom commented on #2903
The [Task](https://github.com/MvvmCross/MvvmCross/blob/develop/MvvmCross/Core/MvxSetupSingleton.cs#L176) started using `Task.Run` in `MvxSetupSingleton.StartSetupInitialization` is a fire and forget Task so the exception is retained and never re-thrown because nothing checks the result of the Task using `.Wait` or `await`.

It looks like we can use a task continuation and at least log the exceptio

[2018-06-13 16:11] nickrandolph commented on #2903
I think the issue is that the setup might not have got to the point where logging will work. It maybe that we need to grab the task reference so it can be interrogated later.

Also there may be an issue where the init done in the dispatcher might error also causing I handled exceptions

[2018-06-13 22:45] curelom opened #2961 "MvvmCross Xamarin.Forms doesn't work with some syncfusion products such as SfNumericUpDown"
### Steps to reproduce :scroll:

1.
In Playground.Forms,UI and Playground.Forms.Droid
Add Syncfusion.Xamarin.SfNumericUpDown nuget packages and Syncfusion.Xamarin.SfNumericUpDown.Android
2.
Add to a Page such as Tab1Page.xaml in Playground.Forms.Droid
xmlns:numeric="clr-namespace:Syncfusion.SfNumericUpDown.XForms;assembly=Syncfusion.SfNumericUpDown.XForms"
...
<numeric:SfNumericUpDown x:Name="nume

[2018-06-14 00:29] kmjonmastro opened #2962 "Visibility plugin not working/loading in 6.1.*"
### Steps to reproduce :scroll:
Only tested on iOS so far. Create a project referencing the Visibility Plugin on iOS and bind the visibility of a UIView element. Build in Release mode to a device.

### Expected behavior :thinking:
Visibility plugin should be working.

### Actual behavior :bug:
The visibility of the UIElement is not changed. The root cause is that the Visibility plugin does not see

[2018-06-14 06:28] divyesh008 commented on #2954
**Still, unable to figure out the solution!**

[2018-06-14 06:55] nickrandolph commented on #2954
That may be true but see my request - if you want to accelerate the provision of solution, can we ask that you provide a PR that demonstrates the issue.

[2018-06-14 06:56] nickrandolph commented on #2952
@Naveen9453 are you able to build mvvmcross using VS (PC not Mac) and submit a PR demonstrating the issue in the playground?

[2018-06-14 10:55] divyesh008 commented on #2954
@nickrandolph  I have take the fork of https://github.com/nickrandolph/MvxPlus1DaysOfMvvmCross
and made the changes but it not allow me to push the changes I have done.

[2018-06-14 11:51] Cheesebaron commented on #2954
@divyesh008 you didn't fork it. You just clone it. According to GitHub there is no forks.

[2018-06-14 21:51] borbmizzet commented on #2960
The ViewModel property is now bindable from Xaml.  However, now binding to an MvxForms view's BindingContext in the application layer is now broken (demonstrated [in this PR](https://github.com/MvvmCross/MvvmCross/pull/2959).
@martijn00 I know you were trying to look into this.  Did you come up with anything?

[2018-06-15 15:13] erviem99 opened #2963 "Attempt to invoke virtual method 'java.lang.ClassLoader android.content.Context.getClassLoader()' on a null object reference"
Android location permissions dialog crashes MvxAppCompatDialogFragment

### Steps to reproduce :scroll:

Unfortunately I cannot compile the Playground sample because I'm on a Macbook Pro, but maby someone knows the answer by looking at the description below...

1. Somewhere in your viewmodel add a call to ActivityCompat.RequestPermissions with a request for location permissions (using IoC and asyn

[2018-06-16 07:20] divyesh008 commented on #2954
![git_scr](https://user-images.githubusercontent.com/10617244/41496675-42a60ac6-7163-11e8-8874-414664f71d1f.png)

Actually, I have make the PR here! please check it.

[2018-06-18 03:13] pdonovan opened #2965 "MvxFormsAppCompatActivity.OnBackPressed assumes the standard Forms page presenter is being used"
### Steps to reproduce :scroll:

1. Override MvxFormsAndroidSetup.CreateFormsPagePresenter() e.g:

    protected override IMvxFormsPagePresenter CreateFormsPagePresenter(IMvxFormsViewPresenter,viewPresenter)
    {
        IMvxFormsPagePresenter formsPagePresenter = new MyFormsPagePresenter(viewPresenter);
        Mvx.RegisterSingleton(formsPagePresenter);
        return formsPagePresenter;
    }

[2018-06-18 09:18] svenbayoo opened #2967 "Android: Registering MvxLanguageConverter for Resx localization broke"
### Steps to reproduce :scroll:
1. Setup project according to https://mobileprogrammerblog.wordpress.com/2017/12/30/mvvm-cross-with-xamarin-platform-resx-localization/
2. Add MvvmCross.Binding to project

### Expected behavior :thinking:
The MvxLanguageConverter is added to the platforms registry.

### Actual behavior :bug:
Ambiguity for the LanguageConverter, exists in MvvmCross.Localization (Ref

[2018-06-18 12:16] #2965 closed

[2018-06-18 12:17] martijn00 commented on #2960
Fixed in https://github.com/MvvmCross/MvvmCross/pull/2959

[2018-06-18 12:17] #2960 closed

[2018-06-18 12:38] jamespettigrew commented on #2954
I've spent the last 30mins or so grappling with this issue, I believe it's due to changes made in #2682.

As there is now a binding to UITextField.EditingDidEnd, we need to ensure it is not stripped by the linker. The solution is to make sure your LinkerPleaseInclude.cs file contains the following:

[code]

[2018-06-18 12:41] jamespettigrew commented on #2952
[Refer to my comment here for the solution.](https://github.com/MvvmCross/MvvmCross/issues/2954#issuecomment-398040170)

[2018-06-18 13:09] #1489 closed

[2018-06-18 16:58] divyesh008 commented on #2954
@jamespettigrew Thank you for the answer, it worked for me too.

[2018-06-18 22:14] fedemkr commented on #1478
Sorry not yet, I'll give it a look right now

[2018-06-19 10:45] markuspalme commented on #2518
This is really needed to make the navigation model complete.

Would the API surface look something like this?

`mvxNavigationService.ChangePresentation(new ActivateTabHint<Tab1ViewModel>());`

If that's what you had in mind, I can take it up for iOS.

[2018-06-19 10:47] svenbayoo commented on #2967
Issue was created due to update from MvvmCross 5.6.3 to 6.2.1 and not deleting Mvvmcross.Binding from the project. Reading change logs helps 😄

[2018-06-19 10:47] #2967 closed

[2018-06-19 12:48] svenbayoo opened #2968 "Update to 6.1.2 causes reference error in .Android project for MvxAndroidApplication"
Hi,
I updated my project from 5.6.3. to 6.1.2 and could resolve all error in my .Core project, yet the .Android project of my PCL has a problem. For the update process I used Nuget Package Manager in VS2017 and before updating to 6.1.2 I changed the target framework for the .Android project to 8.1 in order to be able to use the MvvmCross.Droid.Support.V7.AppCompat.

In the project with 5.6.3 I use

[2018-06-19 23:31] nmilcoff commented on #2518
Yes, I think that sounds good @markuspalme. Maybe call it something like `MvxSelectTabHint`? Existing hints can be found [here](https://github.com/MvvmCross/MvvmCross/tree/develop/MvvmCross/Presenters/Hints).

[2018-06-20 05:40] jamespettigrew commented on #2954
I was going to make a PR to update LinkerPleaseInclude on the iOS side but it looks like this was already accomplished in #2843.

@Cheesebaron @divyesh008, this issue can be closed.

[2018-06-20 07:35] iqbalmineraltown commented on #2848
aren't github issues should be limited to feature request/actual bugs found within MVVMCross ?

[this kind of questions should be asked on xamarin slack/ stackoverflow](https://github.com/MvvmCross/MvvmCross/blob/develop/docs/support.md)

[2018-06-20 07:39] nickrandolph commented on #2848
@iqbalmineraltown I don't think @RonakPatel21 was asking a question, just didn't realise you could already do it with mvvmcross.
@RonakPatel21 can you confirm @Thetyne 's example addresses what you want to do?

[2018-06-20 08:27] vatsalyagoel opened #2969 "MvxAndroidSetupSingleton.EnsureSingletonAvailable(ApplicationContext) throws null reference"
Hello,
I am having an issue when sending push notifications while the app is closed
## 🐛 Bug Report

[code]

### Expected behavior
Setup should be initialised with IoC
### Reproduction steps
Create a firebase messaging service intent filter of `[IntentFilter(new[] { "com.google.firebase.MESSAGING_EVENT" })]`

send a push notification when application is closed. Which calls the service
call `setup.

[2018-06-20 09:15] markuspalme commented on #2518
@nmilcoff Thanks, I looked at the existing hints and found `MvxPagePresentationHint`. It is [intended to](https://www.mvvmcross.com/mvvmcross-56-release/)

It seems like this hint is currently only supported in the `MvxFormsPagePresenter` presenter:(https://github.com/MvvmCross/MvvmCross/blob/76f563af87ec7b3a888e849d7b7e2e01f322ae3d/MvvmCross.Forms/Presenters/MvxFormsPagePresenter.cs#L257

Do you

[2018-06-20 09:17] vatsalyagoel commented on #2969
Investigating further https://github.com/MvvmCross/MvvmCross/blob/04b259bb2e771f59a814b7d8c1dbdfa071d0c73e/MvvmCross.Forms/Platforms/Android/Core/MvxFormsAndroidSetup.cs#L62                     `Xamarin.Forms.Forms.Init(activity, null, ViewAssemblies.FirstOrDefault() ?? asmb);` is where the code is failing and if ViewAssemblies is null  `ViewAssemblies.FirstOrDefault()` will fail. Should it be  `V

[2018-06-20 10:06] MartinZikmund commented on #2064
Same situation for me, `RaiseExecuteChanged` does not re-evaluate `CanExecute` on MvvmCross 6.1 on Android for me. I had to use to classic Xamarin.Forms `Command`

[2018-06-20 15:42] #2954 closed

[2018-06-20 15:48] kjeremy opened #2970 "Android Designer fails to render our controls"
This is more of a reminder for myself when I have some time to dig into this but anyone else is welcome to.

Unfortunately we throw exceptions in a lot of places (ex. recyclerview adapter) because we can't resolve services.  Basically IoC things.  The traditional way of dealing with this is to branch on `View.IsInEditMode`.  However there are a number of places where we cannot do this: IE construc

[2018-06-20 16:26] yogeshnataraj opened #2971 "Failed to navigate Frame to MvxWindowsPage"
HI,
Trying to navigate native UWP user control **Frame** to **MvxWindowsPage**, there i am getting the arrangement null exception

**Exception**
   at MvvmCross.Core.Parse.StringDictionary.MvxStringDictionaryParser.Parse(String textToParse) in D:\git\MvvmCross\MvvmCross\Core\Core\Parse\StringDictionary\MvxStringDictionaryParser.cs:line 23
   at MvvmCross.Core.Parse.StringDictionary.MvxViewModelReq

[2018-06-21 08:16] FotalGoncharuk opened #2973 "MvvmCross 6.1.2: Xamarin Forms Instalation"
Hi, I found your documentation for installing MvvmCross on Xamarin.Forms https://github.com/MvvmCross/MvvmCross/tree/develop/MvvmCross.Forms
And sample files : https://github.com/MvvmCross/MvvmCross/tree/develop/ContentFiles/Forms

In your documentation you use MvvmCross 6.0.1 and all works fine, but i install MvvmCross 6.1.2 and there are no following namespaces:

[code]
No **Platforms** namespac

[2018-06-21 09:27] Goncharuk-Nikita opened #2974 "Xamarin Forms: Android white screen"
Hi, I installed MvvmCross in the project Xamarin.Forms. UWP works, but Android shows a white screen and nothing more. I can not find the error and men need help.
Here is project: https://github.com/FotalGoncharuk/MvvmCross-Issue

[2018-06-21 09:45] FotalGoncharuk commented on #2973
I just reinstalled from 6.0.1 to 6.1.2 and it works

[2018-06-21 09:45] #2973 closed

[2018-06-21 13:21] nmilcoff commented on #2518
@markuspalme Nice! Yes, that sounds perfect 👍

[2018-06-22 07:00] FotalGoncharuk commented on #2974
Hey, I found a problem or it's just a naming convention
If you delete MainPage.xaml and just create a page with a different name, then the white screen on Android disappears (just try not to create a page called Main) Again, I repeat that this happens only on Android, everything is normal on UWP.
Does anyone know what this is and why it happens?

[2018-06-22 18:02] benbishop commented on #2974
@FotalGoncharuk Thank you so much for posting this issue and initial solution. I was literally running into this same issue/behavior yesterday. Once I changed my initial screen from MainView to LoginView it worked as expected on Android.

I did a quick look in the view presenter Android and Forms and nothings jumped out at me...

[2018-06-23 20:20] softlion opened #2977 "Mvvmcross Android ignores IMvxAsyncCommand on some standard control's events"
When using a command binding in an axml file, if the viewmodel property is an IMvxAsyncCommand, mvvmcross still calls Execute() of IMvxCommand instead of ExecuteAsync().

This happens at least for:
- MvxListView.OnItemClick
- MvxViewClickBinding.ViewOnClick

Sample axml file:

    <Button app:MvxBind="Click SomeCommand" ... />

Sample viewmodel

    IMvxAsyncCommand SomeCommand => ...

[2018-06-25 08:31] Goncharuk-Nikita opened #2979 "Xamarin.Forms MvvmCross: Resolve IMvxMessenger in UI project"
I downloaded the nuget package to display popups: https://github.com/rotorgames/Rg.Plugins.Popup

I have two .NetStandart: Core and UI projects. The UI has a dependency on Core. I need to show a pop-up window by calling it from the ViewModel.

And I create a class to subscribe to my messages:

[code]
Pay attention to the Init method. When I try to resolve IMvxMessenger, I get an MvvmCross.Exceptio

[2018-06-25 08:56] flyingxu commented on #2979
Your version of MvvmCross ? v6.1 had a bug about the plugins, have a try with the latest version

[2018-06-25 09:15] Goncharuk-Nikita commented on #2979
MvvmCross version is 6.1.2. I moved the initialization of this service to the class of the first page. I know that it's terrible, but in another way he does not want to receive it

[2018-06-25 09:48] Goncharuk-Nikita opened #2980 "Question: Place to Init nuget packages"
Hi!
Where can i define init call of nuget packages in Android, iOS and UWP projects? I use MvvmCross 6.1.2 + MvvmForms.

[2018-06-25 10:19] nadeemshk commented on #2846
I got solution for it. I was using Listview in code behind instead of using MvxListview.

[2018-06-25 10:19] #2846 closed

[2018-06-25 12:28] nadeemshk opened #2981 "Mvvmcross v6.1.2 Android - recyclerview custom adapter throwing error on scroll"
I am using mvvmcross for xamarin android app. In this app I am using MvxRecyclerView and has created custom adapter for it.

In Activity I am binding this adapter to recycler view as follow -

    protected override void OnCreate(Bundle bundle)
    {
        base.OnCreate(bundle);
        recyclerview = (MvxRecyclerView)FindViewById(Resource.Id.mvxRVList);
        GridLayoutManager gridLayoutManag

[2018-06-25 17:38] nmilcoff commented on #846
I would say we can close this issue. Having multiple Views for a single ViewModel instance is not something we should encourage.

It's something that should be solved at application level by overriding the default ViewContainer / ViewPresenter.

[2018-06-25 17:38] #846 closed

[2018-06-25 17:43] nmilcoff commented on #1137
No, this is not done yet.

I thought about this in the past. There's a lot of work to do if we were to work on this. And we will have probably a bunch of regression issues by doing it.

We should probably have a better test coverage before proceeding with this idea (considering this is more of a code improvement than a bug).

[2018-06-26 11:37] cybervoodoo opened #2983 "MvxObservableCollection AddRange"
MvxObservableCollection.AddRange works fine until I bind any control to it. After binding I get error "Range actions are not supported" and I forced to use foreach.
[Link to stackoverflow question](https://stackoverflow.com/questions/50905848/mvxobservablecollection-addrange).

[2018-06-26 20:00] Strifex commented on #2981
This error can happen with a normal MvxRecyclerView if you attempt to "Reset" the collection, even if you don't have a custom adapter.  For example, in my project I have an MvxObservableCollection bound to an MvxRecyclerView (nothing custom).  When I call .ReplaceWith() on my MvxObservableCollection, if I'm scrolling, the underlying recyclerview will crash with the same message.  It appears that "

[2018-06-27 05:47] nadeemshk commented on #2981
Where shall I write NotifyDataSetChanged? Actually I am newbie in Mvvm and dont know much about it. I tried writing NotifyDataSetChanged in OnCreate as - globalRetailItemAdapter.NotifyDataSetChanged(); but it didn't worked. Can you please me by mentioning some more details according to my code and yes thank you so much Strifex for your comment.

[2018-06-27 05:53] Strifex commented on #2981
You don't need to write that....if you want to know the details of the underlying code just take a look at the mvxrecycleradapter source code.  Personally I don't have a need to write a custom adapter as I just use the default adapter which supports databinding, my viewmodel has mvxobservablecollection which handles signalling collection changed events to the adapter.  I would study the source cod

[2018-06-27 11:43] nadeemshk commented on #2981
I changed my observablecollections into mvxobservablecollection  but still facing the problem.

I have used custom adapter because I have 2 different types of view. One Group header and another is item itself. Also I have used SpanSizeLookup as below which I forgot to mention in above code.

`       public class MyGridLayoutManagerSpanSizeLookup : SpanSizeLookup
        {
            public MyGrid

[2018-06-27 13:29] Cheesebaron commented on #2981
Instead of using a custom adapter, you can use a ItemTemplateSelector for this.

[2018-06-27 18:59] NPadrutt opened #2984 "MvxIoCResolveException Exception when back button clicked"
Since I upgraded my Xamarin Forms app to MvvmCross v6.1.2 I get always this exception on Android when I click on the back button of the device. The Button of the navigation bar works fine. Forward navigation is fine as well.

[code]
In this branch the error occurs: https://github.com/NPadrutt/MoneyFox.Windows/tree/mvvmcrossBackButtonIssue

[2018-06-28 03:20] iqbalmineraltown commented on #2981
@nadeemshk you can implement multiple types of view using `IMvxTemplateSelector`
then set it as recyclerview's `ItemTemplateSelector` as @Cheesebaron said
no need to create custom adapter and viewholder 😄

about your error, I've encountered similar messages when trying to lazyload entries
I solved it by calling `NotifyDataSetChanged` on UIThread whenever new entries loaded into `ItemSource` bindin

[2018-06-28 07:32] nadeemshk commented on #2981
Awesome! Great! Thank you all of you guys. Using IMvxTemplateSelector worked for me. I didn't even needed custom adapter for it.

Thank you all.

[2018-06-28 07:32] #2981 closed

[2018-06-28 10:30] afk013 commented on #2502
Hi I believe it is still a problem. If I use the playground forms sample, using the show tabs menu option, clicking show child on the Tab1 page, the child is still pushed on top of the Tabbed page. I've tried adding HostViewModelType to the child page but this didn't have any impact. If I've missed something, a point in the right direction would be greatly appreciated.

![mvvmcrosstabnavigation](h

[2018-06-28 10:40] Goncharuk-Nikita commented on #2984
Yea, i also get these exception.

[2018-06-29 14:53] ikomobi-apadol commented on #2962
I have the same behavior in debug on my machine. No need for Release build.
Also experienced it with nuget version 6.0.1.

But your workaround seems to also fix the issue on my side. Thanks !

[2018-06-30 00:57] nickrandolph commented on #2962
Can you confirm this is still an issue in 6.1.2?

[2018-06-30 05:40] Strifex commented on #2983
This isn't a real issue.  AddRange works correctly, but the particular control you're using on WPF doesn't support collection changed notifications that include the addition or removal of a "range" of items, it only supports single adds/removes.

[2018-06-30 16:50] MartinZikmund commented on #2984
This fails because `IMvxFormsPagePresenter` is not registered in the default setup. In the meantime you can use a workaround - register the `IMvxFormsPagePresenter` that is created manually in your Android `Setup` class:

[code]

[2018-07-01 11:09] NPadrutt commented on #2984
Thanks @MartinZikmund. The workaround works.

[2018-07-02 08:03] ikomobi-apadol commented on #2962
To my experience yes it is. I upgraded my project to 6.1.2 before looking around for issues here. I still had the bug until I implemented the override of GetPluginAssemblies

[2018-07-02 13:38] jgasparetti opened #2987 "Exception When"
Using the "Email Plugin" to send an email with attachment return a not cheched exception in Android 8.x; in  Android 5.x, 6.x, 7.x the same exception is fired (I can see it in the console log) but is checked and all is working.

## Environment

* Visual Studio 2017
* Android 8.1 (Google Pixel XL)
* MvvmCross 5.7.0 (also tested in 5.2.0, 5.3.0, 5.4.0, 5.5.0, 5.6.0)

## Details

When the line *_mail

[2018-07-02 13:38] jgasparetti opened #2988 "Exception when sending an email with attachment in Android 8.x"
Using the "Email Plugin" to send an email with attachment return a not cheched exception in Android 8.x; in  Android 5.x, 6.x, 7.x the same exception is fired (I can see it in the console log) but is checked and all is working.

## Environment

* Visual Studio 2017
* Android 8.1 (Google Pixel XL)
* MvvmCross 5.7.0 (also tested in 5.2.0, 5.3.0, 5.4.0, 5.5.0, 5.6.0)

## Details

When the line *_mail

[2018-07-02 13:40] #2987 closed

[2018-07-02 20:55] kmjonmastro commented on #2962
@nickrandolph I confirm this is still happening in 6.1.2

[2018-07-03 05:17] yanxiaodi commented on #2829
I encountered the same problem and it wasted my whole day to solve it. It is reasonable to place the sync codes in the Initialize method - if it works fine as it is designed. Getting the data from REST APIs is not always a heavy task for most cases.

[2018-07-03 11:35] Cheesebaron opened #2990 "Get rid of Framework API versions of Activities, Fragments and Adapters."
## 🏗 Enhancement Proposal
Switch all Activities, Fragments and related parts to Support package versions

### Pitch
I have suggested this previously and now I want to suggest it again. I don't see a reason to keep maintaining multiple versions of Activities, Fragments and Adapters on Android. The majority of Apps will be using Android Support packages anyways since compatibility is so much better

[2018-07-03 11:39] kjeremy commented on #2990
Makes sense to me.

On Tue, Jul 3, 2018, 7:35 AM Tomasz Cielecki <notifications@github.com>
wrote:

[2018-07-03 11:45] #2974 closed

[2018-07-03 13:15] nickrandolph commented on #2990
I think this sounds reasonable too.

[2018-07-03 13:44] benbishop commented on #2974
Hi @martijn00 - I saw you closed this. Is there any insight why naming a view "MainView" causes Android to not work?

[2018-07-03 15:10] nmilcoff commented on #2974
@benbishop Do you also have a ViewModel named `MainViewModel` and a page named `MainPage`? If that's the case, then the problem is caused by the convention rule MvvmCross uses to map ViewModels <-> Views.

[2018-07-03 21:00] JacobJT commented on #2094
Sorry for the only tangentially related comment on a closed thread, but this was one of the first pages I stumbled across with the same issue, except with a UIWebView, so I wanted to drop it for anyone else who came across it:

WKWebView has solved the issue when using the image picker controller to take a picture or select from photo library, so if you're using a UIWebView, switch to WKWebView an

[2018-07-04 10:42] IlyaLavrov97 opened #2991 "App crash on cold start from MvxSplashScreenAppCompatActivity"
## 🐛 Bug Report

When app is inactive for a while, and we start it again, it start initialization from SplashScreen, try to recreate last Activity with stack of fragments and crash with current stack trace.

Activity that the app try to recreate:
[code]
My SplashScreen:
[code]
My AppStart implementation:
[code]
Bug appeared in the version 5.0 or earlier.
### Stack trace:
[code]

### Expected behav

[2018-07-04 11:31] IlyaLavrov97 commented on #2991
Here it is:
MvxAndroidViewPresenter.ShowIntent (Android.Content.Intent intent, Android.OS.Bundle bundle)
Java.Lang.RuntimeException: Exception of type 'Java.Lang.RuntimeException' was thrown.

[2018-07-04 11:44] radioactiveman commented on #2813
@bravekit
I have the same issue, could you please share what was wrong? Thank you.

[2018-07-04 19:42] bravekit commented on #2813
I pushed fix to my repository https://github.com/bravekit/MvvmCrosss6-forms-Android-doesnt-start
I don't know why, but MvvmCross doesn't call RunAppStart if we use MainActivity as

`MainActivity  : MvxFormsAppCompatActivity<MainViewModel>`

I've created empty ViewModel  (even without page) and create  MainActivity as
`MainActivity  : MvxFormsAppCompatActivity<EmptyViewModel>`

Now it works, but it

[2018-07-04 21:38] nickrandolph commented on #2813
Can you please reproduce this in the playground sample and submit as a PR for us to try to isolate the issue?

[2018-07-04 23:17] nmilcoff commented on #2984
Hey @nickrandolph, am I right if I say this was solved in #2972?

[2018-07-04 23:20] nmilcoff commented on #2979
@Goncharuk-Nikita Do you have the Messenger plugin also installed in your platform project?

[2018-07-04 23:23] nickrandolph commented on #2984
Yes I do believe so. Let's wait to see the next release and then close once verified

[2018-07-05 00:15] nmilcoff commented on #2440
I've been digging more about this and it seems to me the most reasonable way to cleanup our adapters might be to keep the `Caching` ones and remove the others, because otherwise we  loose support for nested fragments.

To avoid this we would need to fully override the behavior of `InstantiateItem` method in `MvxFragmentPagerAdapter` and `MvxFragmentStatePagerAdapter`... which is exactly what the `

[2018-07-05 06:07] Goncharuk-Nikita commented on #2979
Yes, I installed it in the Platform and UI projects. The fact is that App.xaml.cs from the UI project is launched first than App.cs from the Platform project

[2018-07-05 07:26] softlion opened #2993 "Remove obsolete warning "activity request code may clash with Mvx code for""
## 🏗 Enhancement Proposal

In MvvmCross/Platforms/Android/Views/MvxActivityAdapter.cs, method EventSourceOnStartActivityForResultCalled:

[code]

As the picture picker plugin has been removed, this warning should be removed too.

### Platforms affected (mark all that apply)
- [ ] :iphone: iOS
- [X] :robot: Android
- [ ] :checkered_flag: WPF
- [ ] :earth_americas: UWP
- [ ] :apple: MacOS
- [ ] :tv:

[2018-07-05 15:01] kjeremy commented on #2990
This may enable some interesting opportunities like simplifying the layout inflater and possibly using `android.arch.lifecycle`

[2018-07-06 07:26] Goncharuk-Nikita opened #2995 "MvxMasterDetailPage menu does not close after navigation"
## 🐛 Bug Report

If you are using MvxMasterDetailPage menu does not close after navigation

### Expected behavior
When you navigate to another page, the menu page automatically closes

### Reproduction steps
Create your own implementation of MvxMasterDetailPage, as in the project [Playground](https://github.com/MvvmCross/MvvmCross/tree/5.6.3/TestProjects/Playground)

[Stackoverflow Discussion](htt

[2018-07-07 11:11] oleg-savoskin opened #2996 "Xamarin.Forms & android notifications"
## 🐛 Bug Report

I'm in the middle of creation of an app built using `Xamarin.Forms` and `MvvmCross 6.1.2` and came across a necessity to show a notification to User. After the notification is clicked a particular screen needs to be shown. Currently I'm trying to implement this functionality on android. I use Notification.Builder in order to create and show a notification and upon doing that an in

[2018-07-07 12:07] oleg-savoskin commented on #2996
It really strange. I managed to make it working somehow by providing the main activity as a target type.

[code]

But it still craches sometimes with an error `System.NotSupportedException: Unable to activate instance of type Xamarin.Forms.Platform.Android.PageRenderer from native handle 0x7fc0da6d44`.

Any ideas what I'm doing wrong here?

[2018-07-07 16:02] curtiscali commented on #2911
Is this issue still up for grabs? I'm thinking of trying my hand at it soon.

[2018-07-07 21:42] nickrandolph commented on #2911
Yes I think if you look at the appveyor build output (or run MSBuild on solution) you will see these warnings

[2018-07-09 07:09] jgasparetti commented on #2988
During some test I found that the exception is misleading since it is checked, however the problem is due to the

that is not supported in Android 8.x

[2018-07-09 08:18] Rajmund-Kormendi opened #2999 "Email plugin doesn't send attachment on Android (Xamarin Forms)"
## 🐛 Bug Report

In a Xamarin Forms project, when I try to send an email with attachments on Android using MvvmCross.Plugin.Email, the attachments are showing up in the email app, but I don't receive them.

I tried it with a few apps (Gmail, BlueMail, Outlook, Best email) and it only worked with Outlook.
Gmail and Bluemail didn't send the attachments, Best mail sent them, but their sizes were 0 by

[2018-07-09 13:24] linpake opened #3000 "MvxExpandableTableViewSource issue"
## 🐛 Bug Report

Creates iOS app (Single view app). Creates base structure for project, including
 table view source  inherited from MvxExpandableTableViewSource. At view controller, which uses created table view source, during binding next exception is thrown: "System.Reflection.AmbiguousMatchException: Ambiguous match found.". As soon as inheritance is removed from this component - the exception

[2018-07-09 19:20] #2550 closed

[2018-07-10 09:57] tatlacas opened #3004 "Fragments crash on rotate, splitview (2 fragments) for landscape, one fragment for landscape."
## 🐛 Bug Report

When you have two layouts, one for w600dp and default layout. /layout-w600dp/view.axml show 2 fragments as splitview. /layout/view.axml shows one fragment. When you rotate from landscape to portrait app crashes with error No view found for id 0x7f0900a5 (xxx.xxx.xxx:id/content_frame) for fragment FragmentName

### Expected behavior
Show only one fragment on portrait and 2 fragment